### IMPORTAR DATOS

In [3]:
import pandas as pd

### CARGAR DATOS

In [6]:
address = 'C:/Users/RONALD Q/OneDrive - LUZ DEL SUR S.A.A/Documentos/Estudios de Ingreso/ProyectoR&D/Basededatos/DGA.xlsx'
# addressmarco = 'C:\\Users\\mticllacu\\OneDrive - LUZ DEL SUR S.A.A\\Archivos de Ronald Quispe Ocaña - ProyectoR&D\\Basededatos\\DGA.xlsx'
df = pd.read_excel(address)
# df = pd.read_excel(addressmarco)

In [7]:
df.head()

,Unnamed: 0,SERIE,TENSION,FECHA DE\nMUESTRA,H2,CH4,C2H2,C2H4,C2H6,CO,...,Tasa CO,Tasa CO2,Columna9,Columna10,Columna11,Columna12,Columna13,Columna14,Columna15,Columna16
0,NaN,D518293,220/60,2025-02-07 00:00:00,4.0,11.8,1.0,1.0,2.6,1064.6,...,0.0,0.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,680.857143
1,NaN,D518293,220/60,2023-08-29 00:00:00,3.0,9.0,1.0,1.0,2.0,788.0,...,0.0,0.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,573.857143
2,NaN,D518293,220/60,2022-06-14 00:00:00,5.0,9.0,1.0,1.0,2.0,758.0,...,0.0,0.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,542.428571
3,NaN,D518293,220/60,2022-04-28 00:00:00,1.0,8.0,1.0,1.0,2.0,745.0,...,0.0,0.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,528.571429
4,NaN,D518293,220/60,2021-08-15 00:00:00,7.0,7.0,1.0,1.0,1.0,547.0,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,419.857143

### LIMPIEZA DE LOS DATOS

In [8]:
# LIMPIEZA DE DATOS
df = df.drop(columns=['Unnamed: 0'])  # Elimina columna Unnamed: 0
df["TENSION"] = df["TENSION"].str.split("/").str[0]
df = df.iloc[:, :10]  # Selección de 10 primeras columnas
df = df.rename(columns={"FECHA DE\nMUESTRA": "FECHA DE MUESTRA"})
df['FECHA DE MUESTRA'] = pd.to_datetime(df['FECHA DE MUESTRA'], errors='coerce').dt.date
df['FECHA DE MUESTRA'] = pd.to_datetime(df['FECHA DE MUESTRA'])
df = df.dropna(subset=['FECHA DE MUESTRA'])

df_full = df

In [9]:
df.head()

,SERIE,TENSION,FECHA DE MUESTRA,H2,CH4,C2H2,C2H4,C2H6,CO,CO2
0,D518293,220,2025-02-07,4.0,11.8,1.0,1.0,2.6,1064.6,3681.0
1,D518293,220,2023-08-29,3.0,9.0,1.0,1.0,2.0,788.0,3213.0
2,D518293,220,2022-06-14,5.0,9.0,1.0,1.0,2.0,758.0,3021.0
3,D518293,220,2022-04-28,1.0,8.0,1.0,1.0,2.0,745.0,2942.0
4,D518293,220,2021-08-15,7.0,7.0,1.0,1.0,1.0,547.0,2375.0

In [173]:
def BD_DGA():
    return df_full

In [174]:
df_full

,SERIE,TENSION,FECHA DE MUESTRA,H2,CH4,C2H2,C2H4,C2H6,CO,CO2
0,D518293,220,2025-02-07,4.0,11.8,1.0,1.0,2.6,1064.6,3681.0
1,D518293,220,2023-08-29,3.0,9.0,1.0,1.0,2.0,788.0,3213.0
2,D518293,220,2022-06-14,5.0,9.0,1.0,1.0,2.0,758.0,3021.0
3,D518293,220,2022-04-28,1.0,8.0,1.0,1.0,2.0,745.0,2942.0
4,D518293,220,2021-08-15,7.0,7.0,1.0,1.0,1.0,547.0,2375.0
...,...,...,...,...,...,...,...,...,...,...
2674,338118,60,2013-02-11,12.0,5.0,1.0,1.0,1.0,697.0,6864.0
2675,338118,60,2011-12-19,6.0,1.0,1.0,5.0,29.0,49.0,370.0
2676,338118,60,2011-11-28,1.0,1.0,1.0,1.0,1.0,30.0,168.0
2677,338118,60,2011-11-21,5.0,1.0,1.0,1.0,1.0,32.0,121.0
2678,338118,60,2011-09-17,1.0,1.0,1.0,1.0,1.0,3.0,76.0

In [175]:
df.head()

,SERIE,TENSION,FECHA DE MUESTRA,H2,CH4,C2H2,C2H4,C2H6,CO,CO2
0,D518293,220,2025-02-07,4.0,11.8,1.0,1.0,2.6,1064.6,3681.0
1,D518293,220,2023-08-29,3.0,9.0,1.0,1.0,2.0,788.0,3213.0
2,D518293,220,2022-06-14,5.0,9.0,1.0,1.0,2.0,758.0,3021.0
3,D518293,220,2022-04-28,1.0,8.0,1.0,1.0,2.0,745.0,2942.0
4,D518293,220,2021-08-15,7.0,7.0,1.0,1.0,1.0,547.0,2375.0

In [176]:
df.head(10)

,SERIE,TENSION,FECHA DE MUESTRA,H2,CH4,C2H2,C2H4,C2H6,CO,CO2
0,D518293,220,2025-02-07,4.0,11.8,1.0,1.0,2.6,1064.6,3681.0
1,D518293,220,2023-08-29,3.0,9.0,1.0,1.0,2.0,788.0,3213.0
2,D518293,220,2022-06-14,5.0,9.0,1.0,1.0,2.0,758.0,3021.0
3,D518293,220,2022-04-28,1.0,8.0,1.0,1.0,2.0,745.0,2942.0
4,D518293,220,2021-08-15,7.0,7.0,1.0,1.0,1.0,547.0,2375.0
5,D518293,220,2020-06-23,10.0,5.0,1.0,1.0,1.0,424.0,1467.0
6,D518293,220,2019-04-25,1.0,4.0,1.0,1.0,1.0,349.0,1281.0
7,D518293,220,2018-08-03,1.0,1.0,1.0,1.0,1.0,135.0,422.0
8,D518293,220,2017-11-15,1.0,1.0,1.0,1.0,1.0,44.0,213.0
9,D518293,220,2017-10-25,1.0,1.0,1.0,1.0,1.0,18.0,98.0

In [177]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2676 entries, 0 to 2678
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SERIE             2676 non-null   object
 1   TENSION           2676 non-null   object
 2   FECHA DE MUESTRA  2676 non-null   datetime64[ns]
 3   H2                2676 non-null   float64
 4   CH4               2676 non-null   float64
 5   C2H2              2676 non-null   float64
 6   C2H4              2676 non-null   float64
 7   C2H6              2676 non-null   float64
 8   CO                2676 non-null   float64
 9   CO2               2676 non-null   float64
dtypes: datetime64[ns](1), float64(7), object(2)
memory usage: 230.0+ KB

### TRANSFORMACIÓN DE LOS DATOS

In [11]:
# LÍMITES MÁXIMOS PARA CADA DATO
limite = {
    'H2':{'concentracion':150, 'tasa': 132},
    'CH4':{'concentracion':130,'tasa':120},
    "C2H2": {"concentracion": 20, "tasa": 4},
    "C2H4": {"concentracion": 280, "tasa": 146},
    "C2H6": {"concentracion": 90, "tasa": 90},
    "CO": {"concentracion": 600, "tasa": 1060},
    "CO2": {"concentracion": 14000, "tasa": 10000}
}
# CREACIÓN DE LISTA PARA LOS GASES
gases2 = ["H2", "CH4", "C2H2", "C2H4", "C2H6", "CO", "CO2"]
# CREACIÓN DE NUEVA COLUMNA concentración_{gas} indicando si supera límite sera 1, else 0
for gas in gases2:
    df[f'concentracion_{gas}'] = df.apply(
        lambda g: int(g[gas] > limite[gas]['concentracion']) if gas in limite else 0,
        axis=1
    )

In [179]:
df.head(10)

,SERIE,TENSION,FECHA DE MUESTRA,H2,CH4,C2H2,C2H4,C2H6,CO,CO2,concentracion_H2,concentracion_CH4,concentracion_C2H2,concentracion_C2H4,concentracion_C2H6,concentracion_CO,concentracion_CO2
0,D518293,220,2025-02-07,4.0,11.8,1.0,1.0,2.6,1064.6,3681.0,0,0,0,0,0,1,0
1,D518293,220,2023-08-29,3.0,9.0,1.0,1.0,2.0,788.0,3213.0,0,0,0,0,0,1,0
2,D518293,220,2022-06-14,5.0,9.0,1.0,1.0,2.0,758.0,3021.0,0,0,0,0,0,1,0
3,D518293,220,2022-04-28,1.0,8.0,1.0,1.0,2.0,745.0,2942.0,0,0,0,0,0,1,0
4,D518293,220,2021-08-15,7.0,7.0,1.0,1.0,1.0,547.0,2375.0,0,0,0,0,0,0,0
5,D518293,220,2020-06-23,10.0,5.0,1.0,1.0,1.0,424.0,1467.0,0,0,0,0,0,0,0
6,D518293,220,2019-04-25,1.0,4.0,1.0,1.0,1.0,349.0,1281.0,0,0,0,0,0,0,0
7,D518293,220,2018-08-03,1.0,1.0,1.0,1.0,1.0,135.0,422.0,0,0,0,0,0,0,0
8,D518293,220,2017-11-15,1.0,1.0,1.0,1.0,1.0,44.0,213.0,0,0,0,0,0,0,0
9,D518293,220,2017-10-25,1.0,1.0,1.0,1.0,1.0,18.0,98.0,0,0,0,0,0,0,0

In [12]:
# CREACIÓN DE NUEVA COLUMNA concentración_{gas} indicando si supera límite sera 1, else 0
for gas in gases2:
    df[f"tasa_{gas}"] = abs(df.groupby("SERIE").apply(
        lambda g: (g[gas].diff(-1) / ((g["FECHA DE MUESTRA"] - g["FECHA DE MUESTRA"].shift(-1)).dt.days)* 365))
    ).reset_index(level=0, drop=True)

C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_2844\2744064408.py:3: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df[f"tasa_{gas}"] = abs(df.groupby("SERIE").apply(
C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_2844\2744064408.py:3: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df[f"tasa_{gas}"] = abs(df.groupby("SERIE").apply(
C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_2844\2744064408.py:3: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df[f"tasa_{gas}"] = abs(df.groupby("SERIE").apply(
C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_2844\2744064408.py:3: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df[f"tasa_{gas}"] = abs(df.groupby("SERIE").apply(
C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_2844\2744064408.py:3: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df[f"tasa_{gas}"] = abs(df.groupby("SERIE").apply(
C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_2844\2744064408.py:3: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df[f"tasa_{gas}"] = abs(df.groupby("SERIE").apply(
C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_2844\2744064408.py:3: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df[f"tasa_{gas}"] = abs(df.groupby("SERIE").apply(

In [181]:
df.head(10)

,SERIE,TENSION,FECHA DE MUESTRA,H2,CH4,C2H2,C2H4,C2H6,CO,CO2,...,concentracion_C2H6,concentracion_CO,concentracion_CO2,tasa_H2,tasa_CH4,tasa_C2H2,tasa_C2H4,tasa_C2H6,tasa_CO,tasa_CO2
0,D518293,220,2025-02-07,4.0,11.8,1.0,1.0,2.6,1064.6,3681.0,...,0,1,0,0.691288,1.935606,0.0,0.0,0.414773,191.210227,323.522727
1,D518293,220,2023-08-29,3.0,9.0,1.0,1.0,2.0,788.0,3213.0,...,0,1,0,1.655329,0.000000,0.0,0.0,0.000000,24.829932,158.911565
2,D518293,220,2022-06-14,5.0,9.0,1.0,1.0,2.0,758.0,3021.0,...,0,1,0,31.063830,7.765957,0.0,0.0,0.000000,100.957447,613.510638
3,D518293,220,2022-04-28,1.0,8.0,1.0,1.0,2.0,745.0,2942.0,...,0,1,0,8.554688,1.425781,0.0,0.0,1.425781,282.304688,808.417969
4,D518293,220,2021-08-15,7.0,7.0,1.0,1.0,1.0,547.0,2375.0,...,0,0,0,2.619617,1.746411,0.0,0.0,0.000000,107.404306,792.870813
5,D518293,220,2020-06-23,10.0,5.0,1.0,1.0,1.0,424.0,1467.0,...,0,0,0,7.729412,0.858824,0.0,0.0,0.000000,64.411765,159.741176
6,D518293,220,2019-04-25,1.0,4.0,1.0,1.0,1.0,349.0,1281.0,...,0,0,0,0.000000,4.132075,0.0,0.0,0.000000,294.754717,1183.150943
7,D518293,220,2018-08-03,1.0,1.0,1.0,1.0,1.0,135.0,422.0,...,0,0,0,0.000000,0.000000,0.0,0.0,0.000000,127.260536,292.279693
8,D518293,220,2017-11-15,1.0,1.0,1.0,1.0,1.0,44.0,213.0,...,0,0,0,0.000000,0.000000,0.0,0.0,0.000000,451.904762,1998.809524
9,D518293,220,2017-10-25,1.0,1.0,1.0,1.0,1.0,18.0,98.0,...,0,0,0,0.000000,0.000000,0.0,0.0,0.000000,365.000000,1095.000000

In [13]:
# CREACIÓN DE NUEVA COLUMNA para definir los indices
for gas, valores in limite.items():
    col_tasa = f"tasa_{gas}"              # nombre de la columna en df
    col_flag = f"flag_{gas}"              # nueva columna binaria
    
    df[col_flag] = (df[col_tasa] > valores['tasa']).astype(int)

In [14]:
df.head(10)

,SERIE,TENSION,FECHA DE MUESTRA,H2,CH4,C2H2,C2H4,C2H6,CO,CO2,...,tasa_C2H6,tasa_CO,tasa_CO2,flag_H2,flag_CH4,flag_C2H2,flag_C2H4,flag_C2H6,flag_CO,flag_CO2
0,D518293,220,2025-02-07,4.0,11.8,1.0,1.0,2.6,1064.6,3681.0,...,0.414773,191.210227,323.522727,0,0,0,0,0,0,0
1,D518293,220,2023-08-29,3.0,9.0,1.0,1.0,2.0,788.0,3213.0,...,0.000000,24.829932,158.911565,0,0,0,0,0,0,0
2,D518293,220,2022-06-14,5.0,9.0,1.0,1.0,2.0,758.0,3021.0,...,0.000000,100.957447,613.510638,0,0,0,0,0,0,0
3,D518293,220,2022-04-28,1.0,8.0,1.0,1.0,2.0,745.0,2942.0,...,1.425781,282.304688,808.417969,0,0,0,0,0,0,0
4,D518293,220,2021-08-15,7.0,7.0,1.0,1.0,1.0,547.0,2375.0,...,0.000000,107.404306,792.870813,0,0,0,0,0,0,0
5,D518293,220,2020-06-23,10.0,5.0,1.0,1.0,1.0,424.0,1467.0,...,0.000000,64.411765,159.741176,0,0,0,0,0,0,0
6,D518293,220,2019-04-25,1.0,4.0,1.0,1.0,1.0,349.0,1281.0,...,0.000000,294.754717,1183.150943,0,0,0,0,0,0,0
7,D518293,220,2018-08-03,1.0,1.0,1.0,1.0,1.0,135.0,422.0,...,0.000000,127.260536,292.279693,0,0,0,0,0,0,0
8,D518293,220,2017-11-15,1.0,1.0,1.0,1.0,1.0,44.0,213.0,...,0.000000,451.904762,1998.809524,0,0,0,0,0,0,0
9,D518293,220,2017-10-25,1.0,1.0,1.0,1.0,1.0,18.0,98.0,...,0.000000,365.000000,1095.000000,0,0,0,0,0,0,0

In [15]:
# Función para asignar puntaje según concentración y tasa
def puntaje_gas(row, gas):
    conc = row[f'concentracion_{gas}']
    tasa = row[f'flag_{gas}']
    
    if conc > 0 and tasa > 0:  # ambas mayores que LMAX -> 5
        return 5
    elif conc > 0 and tasa <= 0:  # Concentración >, Tasa ≤ -> 4
        return 4
    elif conc <= 0 and tasa > 0:  # Concentración ≤, Tasa > -> 3
        return 3
    else:  # ambos ≤ -> 1
        return 1

# Aplicar para cada gas y crear columnas de puntaje
for gas in gases2:
    df[f'puntaje_{gas}'] = df.apply(lambda row: puntaje_gas(row, gas), axis=1)

In [185]:
df.head(20)

,SERIE,TENSION,FECHA DE MUESTRA,H2,CH4,C2H2,C2H4,C2H6,CO,CO2,...,flag_C2H6,flag_CO,flag_CO2,puntaje_H2,puntaje_CH4,puntaje_C2H2,puntaje_C2H4,puntaje_C2H6,puntaje_CO,puntaje_CO2
0,D518293,220,2025-02-07,4.0,11.8,1.0,1.0,2.6,1064.6,3681.0,...,0,0,0,1,1,1,1,1,4,1
1,D518293,220,2023-08-29,3.0,9.0,1.0,1.0,2.0,788.0,3213.0,...,0,0,0,1,1,1,1,1,4,1
2,D518293,220,2022-06-14,5.0,9.0,1.0,1.0,2.0,758.0,3021.0,...,0,0,0,1,1,1,1,1,4,1
3,D518293,220,2022-04-28,1.0,8.0,1.0,1.0,2.0,745.0,2942.0,...,0,0,0,1,1,1,1,1,4,1
4,D518293,220,2021-08-15,7.0,7.0,1.0,1.0,1.0,547.0,2375.0,...,0,0,0,1,1,1,1,1,1,1
5,D518293,220,2020-06-23,10.0,5.0,1.0,1.0,1.0,424.0,1467.0,...,0,0,0,1,1,1,1,1,1,1
6,D518293,220,2019-04-25,1.0,4.0,1.0,1.0,1.0,349.0,1281.0,...,0,0,0,1,1,1,1,1,1,1
7,D518293,220,2018-08-03,1.0,1.0,1.0,1.0,1.0,135.0,422.0,...,0,0,0,1,1,1,1,1,1,1
8,D518293,220,2017-11-15,1.0,1.0,1.0,1.0,1.0,44.0,213.0,...,0,0,0,1,1,1,1,1,1,1
9,D518293,220,2017-10-25,1.0,1.0,1.0,1.0,1.0,18.0,98.0,...,0,0,0,1,1,1,1,1,1,1
10,D518293,220,2017-10-19,1.0,1.0,1.0,1.0,1.0,12.0,116.0,...,0,0,0,1,1,1,1,1,1,1
11,D518292,220,2025-02-07,4.3,13.2,1.0,1.0,2.9,1196.7,4218.2,...,0,0,0,1,1,1,1,1,4,1
12,D518292,220,2023-08-29,3.0,9.0,1.0,1.0,2.0,814.0,3575.0,...,0,0,0,1,1,1,1,1,4,1
13,D518292,220,2022-06-14,3.0,5.0,1.0,1.0,2.0,264.0,2506.0,...,0,1,0,1,1,1,1,1,3,1
14,D518292,220,2022-04-28,1.0,10.0,1.0,1.0,2.0,861.0,3514.0,...,0,0,0,1,1,1,1,1,4,1
15,D518292,220,2021-08-15,8.0,8.0,1.0,1.0,1.0,564.0,2634.0,...,0,0,0,1,1,1,1,1,1,1
16,D518292,220,2020-06-23,10.0,6.0,1.0,1.0,1.0,545.0,1805.0,...,0,0,0,1,1,1,1,1,1,1
17,D518292,220,2019-04-25,1.0,4.0,1.0,1.0,1.0,434.0,1518.0,...,0,0,0,1,1,1,1,1,1,1
18,D518292,220,2018-08-03,1.0,2.0,1.0,1.0,1.0,148.0,460.0,...,0,0,0,1,1,1,1,1,1,1
19,D518292,220,2017-11-15,1.0,1.0,1.0,1.0,1.0,44.0,185.0,...,0,0,0,1,1,1,1,1,1,1

### Pesos

In [16]:
weight = {
    "C2H2": 5,
    "H2": 2,
    "CH4": 3,
    "C2H4": 4,
    "C2H6": 3,
    "CO": 2,
    "CO2": 1
}

In [17]:
total_weight = sum(weight.values())

# Cálculo del índice DGA
df['DGA'] = df.apply(
    lambda row: sum(row[f'puntaje_{gas}'] * weight[gas] for gas in gases2) / total_weight,
    axis=1
)

### Filtrar tabla

In [18]:
df_DGA = df[['SERIE', 'TENSION', 'FECHA DE MUESTRA', 'DGA']]

In [19]:
# Función para obtener DGA
def obtener_DGA(serie=None, fecha_muestra=None):
    resultado = df[['SERIE', 'TENSION', 'FECHA DE MUESTRA', 'DGA']]

    if serie is None and fecha_muestra is None:
        return resultado

    if serie is not None:
        resultado = resultado[resultado['SERIE'] == serie]

    if fecha_muestra is not None:
        fecha_muestra = pd.to_datetime(fecha_muestra)
        resultado = resultado[resultado['FECHA DE MUESTRA'] == fecha_muestra]

        if resultado.empty:
            return float('nan')
        return resultado['DGA'].values[0]

    return resultado

In [21]:
# PARA DGA
# 1. Toda la tabla
print(obtener_DGA())

# # 2. Solo por serie
# print(obtener_DGA('D518293'))

# # 3. Serie + fecha
# print(obtener_DGA('D518293', '2022-04-28'))

        SERIE TENSION FECHA DE MUESTRA  DGA
0     D518293     220       2025-02-07  1.3
1     D518293     220       2023-08-29  1.3
2     D518293     220       2022-06-14  1.3
3     D518293     220       2022-04-28  1.3
4     D518293     220       2021-08-15  1.0
...       ...     ...              ...  ...
2674   338118      60       2013-02-11  1.3
2675   338118      60       2011-12-19  1.3
2676   338118      60       2011-11-28  1.2
2677   338118      60       2011-11-21  1.0
2678   338118      60       2011-09-17  1.0

[2676 rows x 4 columns]

In [191]:
df_DGA

        SERIE TENSION FECHA DE MUESTRA  DGA
0     D518293     220       2025-02-07  1.3
1     D518293     220       2023-08-29  1.3
2     D518293     220       2022-06-14  1.3
3     D518293     220       2022-04-28  1.3
4     D518293     220       2021-08-15  1.0
...       ...     ...              ...  ...
2674   338118      60       2013-02-11  1.3
2675   338118      60       2011-12-19  1.3
2676   338118      60       2011-11-28  1.2
2677   338118      60       2011-11-21  1.0
2678   338118      60       2011-09-17  1.0

[2676 rows x 4 columns]