In [35]:
import numpy as np
import pandas as pd
import os
# Lista de posibles rutas
addresses = [
    'C:/Users/RONALD Q/OneDrive - LUZ DEL SUR S.A.A/Documentos/Estudios de Ingreso/ProyectoRyD_V2/Basededatos/FPCOCA.xlsx',
    'C:/Users/roquispec/OneDrive - LUZ DEL SUR S.A.A/Documentos/Estudios de Ingreso/ProyectoRyD_V2/Basededatos/FPCOCA.xlsx',
    'C:/Users/mticllacu/OneDrive - LUZ DEL SUR S.A.A/Archivos de Ronald Quispe Ocaña - ProyectoRyD_V2/Basededatos/FPCOCA.xlsx'
]

df = None
for path in addresses:
    if os.path.exists(path):   # verifica si existe
        df = pd.read_excel(path,header=1)
        print(f"✅ Archivo cargado desde: {path}")
        break

if df is None:
    raise FileNotFoundError("❌ No se encontró el archivo en ninguna de las rutas especificadas.")

✅ Archivo cargado desde: C:/Users/roquispec/OneDrive - LUZ DEL SUR S.A.A/Documentos/Estudios de Ingreso/ProyectoRyD_V2/Basededatos/FPCOCA.xlsx

In [36]:
df = df.drop(columns=df.columns[0])

In [37]:
df['Max_CC'] = df.iloc[:,3:].max(axis=1)
df

,SERIE,FECHA,X1 mW,X2 mW,X3 mW,X0 mW,Y1 mW,Y2 mW,Y3 mW,Y0 mW,Max_CC
0,146660T3,2022-05-12,112,857,872,251,796,801,602,645,872
1,146660T3,2019-04-27,337,164,703,613,855,857,735,850,857
2,146660T3,2015-05-15,476,360,108,904,821,510,434,220,904
3,146660T3,2014-11-14,593,713,482,307,642,463,75,390,713
4,364076,2022-06-18,121,731,554,605,97,211,589,53,731
5,364076,2019-06-27,457,893,723,299,980,675,96,623,980
6,364076,2017-02-20,837,72,676,805,521,472,506,534,805
7,364076,2016-12-30,855,147,958,858,147,585,895,644,958
8,230531-01,2024-07-16,924,149,968,447,817,922,116,309,968
9,230531-01,2022-06-26,914,865,163,541,188,93,829,208,865
10,230531-01,2020-12-14,960,306,996,190,792,377,803,286,996
11,230531-01,2015-02-11,681,385,223,518,220,95,887,740,887
12,338118,2024-11-13,502,529,133,411,804,752,247,185,804
13,338118,2022-08-19,986,558,370,638,606,101,641,700,700
14,338118,2016-01-06,820,423,112,810,991,474,692,284,991
15,338118,2015-09-22,967,445,331,666,729,702,735,761,761

In [38]:
# ---------------------------
# CONFIGURACIÓN DE PUNTAJE
# ---------------------------
pesos = [5,1]  
limites = {"CC": [100]}  # [límite superior, límite inferior]

def asignar_puntaje(df, columna_valor, columna_puntaje, limites, pesos):
    df[columna_puntaje] = np.select(
        [
            df[columna_valor] > limites[0],
            df[columna_valor] <= limites[0]
        ],
        pesos,
        default=np.nan
    )
    return df

# aplicar reglas
df = asignar_puntaje(df, "Max_CC", "CC2", limites["CC"], pesos)

In [39]:
df = df.drop(columns = 'Max_CC')

In [40]:
columnas = ['SERIE','FECHA','CC2'] + [col for col in df.columns if col not in ['SERIE','FECHA','CC2']]
df[columnas] # ESTA ES LA TABLA DETALLADA

,SERIE,FECHA,CC2,X1 mW,X2 mW,X3 mW,X0 mW,Y1 mW,Y2 mW,Y3 mW,Y0 mW
0,146660T3,2022-05-12,5.0,112,857,872,251,796,801,602,645
1,146660T3,2019-04-27,5.0,337,164,703,613,855,857,735,850
2,146660T3,2015-05-15,5.0,476,360,108,904,821,510,434,220
3,146660T3,2014-11-14,5.0,593,713,482,307,642,463,75,390
4,364076,2022-06-18,5.0,121,731,554,605,97,211,589,53
5,364076,2019-06-27,5.0,457,893,723,299,980,675,96,623
6,364076,2017-02-20,5.0,837,72,676,805,521,472,506,534
7,364076,2016-12-30,5.0,855,147,958,858,147,585,895,644
8,230531-01,2024-07-16,5.0,924,149,968,447,817,922,116,309
9,230531-01,2022-06-26,5.0,914,865,163,541,188,93,829,208
10,230531-01,2020-12-14,5.0,960,306,996,190,792,377,803,286
11,230531-01,2015-02-11,5.0,681,385,223,518,220,95,887,740
12,338118,2024-11-13,5.0,502,529,133,411,804,752,247,185
13,338118,2022-08-19,5.0,986,558,370,638,606,101,641,700
14,338118,2016-01-06,5.0,820,423,112,810,991,474,692,284
15,338118,2015-09-22,5.0,967,445,331,666,729,702,735,761

In [41]:
df_original  = df[['SERIE','FECHA','CC2']]
df_original # esta es la tabla original

        SERIE      FECHA  CC2
0    146660T3 2022-05-12  5.0
1    146660T3 2019-04-27  5.0
2    146660T3 2015-05-15  5.0
3    146660T3 2014-11-14  5.0
4      364076 2022-06-18  5.0
5      364076 2019-06-27  5.0
6      364076 2017-02-20  5.0
7      364076 2016-12-30  5.0
8   230531-01 2024-07-16  5.0
9   230531-01 2022-06-26  5.0
10  230531-01 2020-12-14  5.0
11  230531-01 2015-02-11  5.0
12     338118 2024-11-13  5.0
13     338118 2022-08-19  5.0
14     338118 2016-01-06  5.0
15     338118 2015-09-22  5.0