In [28]:
import numpy as np
import pandas as pd
import os
# Lista de posibles rutas
addresses = [
    'C:/Users/RONALD Q/OneDrive - LUZ DEL SUR S.A.A/Documentos/Estudios de Ingreso/ProyectoRyD_V2/Basededatos/RNUCLEO.xlsx',
    'C:/Users/roquispec/OneDrive - LUZ DEL SUR S.A.A/Documentos/Estudios de Ingreso/ProyectoRyD_V2/Basededatos/RNUCLEO.xlsx',
    'C:/Users/mticllacu/OneDrive - LUZ DEL SUR S.A.A/Archivos de Ronald Quispe Ocaña - ProyectoRyD_V2/Basededatos/RNUCLEO.xlsx'
]

df = None
for path in addresses:
    if os.path.exists(path):   # verifica si existe
        df = pd.read_excel(path,header=1)
        print(f"✅ Archivo cargado desde: {path}")
        break

if df is None:
    raise FileNotFoundError("❌ No se encontró el archivo en ninguna de las rutas especificadas.")

✅ Archivo cargado desde: C:/Users/roquispec/OneDrive - LUZ DEL SUR S.A.A/Documentos/Estudios de Ingreso/ProyectoRyD_V2/Basededatos/RNUCLEO.xlsx

In [29]:
df = df.drop(columns=['Unnamed: 0'])
df =df.rename(columns={'FECHA DE MUESTRA':'FECHA'})  # Elimina espacios en los nombres de las columnas
df

        SERIE      FECHA  Valor (MΩ)
0    146660T3 2022-05-12         665
1    146660T3 2019-01-23         551
2    146660T3 2018-02-05         933
3    146660T3 2017-11-22         535
4      364076 2022-06-18         552
5      364076 2015-05-24         912
6      364076 2014-08-13         928
7      364076 2013-11-05         287
8   230531-01 2024-07-16         618
9   230531-01 2017-10-26         978
10  230531-01 2016-03-04         195
11  230531-01 2014-11-11         216
12     338118 2024-11-13         801
13     338118 2017-12-13         710
14     338118 2016-09-05         916
15     338118 2014-05-28         469

In [30]:
# Asignar puntaje RNUC según la tabla NETA ATS 2021
# Suponiendo que la columna de valores se llama 'VALOR' (ajusta si es diferente)
col = [c for c in df.columns if c not in ['SERIE', 'FECHA']][0]
df['RNUC'] = np.where(df[col] < 500, 5, 1)
df = df[['SERIE','FECHA','RNUC','Valor (MΩ)']]
df

        SERIE      FECHA  RNUC  Valor (MΩ)
0    146660T3 2022-05-12     1         665
1    146660T3 2019-01-23     1         551
2    146660T3 2018-02-05     1         933
3    146660T3 2017-11-22     1         535
4      364076 2022-06-18     1         552
5      364076 2015-05-24     1         912
6      364076 2014-08-13     1         928
7      364076 2013-11-05     5         287
8   230531-01 2024-07-16     1         618
9   230531-01 2017-10-26     1         978
10  230531-01 2016-03-04     5         195
11  230531-01 2014-11-11     5         216
12     338118 2024-11-13     1         801
13     338118 2017-12-13     1         710
14     338118 2016-09-05     1         916
15     338118 2014-05-28     5         469