In [4]:
import sys
sys.path.append(r"C:\Users\roquispec\OneDrive - LUZ DEL SUR S.A.A\Documentos\Estudios de Ingreso\ProyectoRyD_V2\ScriptsPython")
sys.path.append(r"C:\Users\RONALD Q\OneDrive - LUZ DEL SUR S.A.A\Documentos\Estudios de Ingreso\ProyectoRyD_V2\ScriptsPython")

from ARRrtra import get_df_detalles_ext_RTRA

df = get_df_detalles_ext_RTRA()

In [5]:
df

,SERIE,FECHA,RTRA,H-X POS1 R,H-X POS2 R,H-X POS3 R,H-X POS4 R,H-X POS5 R,H-X POS6 R,H-X POS7 R,...,H-Y POS21 T,H-Y POS22 T,H-Y POS23 T,H-Y POS24 T,H-Y POS25 T,H-Y POS26 T,H-Y POS27 T,X-Y POS1 R,X-Y POS1 S,X-Y POS1 T
0,123157T,2015-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,123157T,2015-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,123157T,2015-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,123157T,2015-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,123157T,2015-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336349,V101041,2025-10-27,1.0,2.8559,2.8311,2.8064,2.7819,2.7572,2.7325,2.708,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
336350,V101041,2025-10-28,1.0,2.8559,2.8311,2.8064,2.7819,2.7572,2.7325,2.708,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
336351,V101041,2025-10-29,1.0,2.8559,2.8311,2.8064,2.7819,2.7572,2.7325,2.708,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
336352,V101041,2025-10-30,1.0,2.8559,2.8311,2.8064,2.7819,2.7572,2.7325,2.708,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
336353,V101041,2025-10-31,1.0,2.8559,2.8311,2.8064,2.7819,2.7572,2.7325,2.708,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
import sys
sys.path.append(r"C:\Users\roquispec\OneDrive - LUZ DEL SUR S.A.A\Documentos\Estudios de Ingreso\ProyectoRyD_V2\ScriptsPython")
sys.path.append(r"C:\Users\RONALD Q\OneDrive - LUZ DEL SUR S.A.A\Documentos\Estudios de Ingreso\ProyectoRyD_V2\ScriptsPython")

from ARRrtra import get_df_detalles_ext_RTRA
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import urllib.parse
from sqlalchemy.types import Date, Float, String, Integer

# Obtener datos RTRA
df = get_df_detalles_ext_RTRA()

# Obtener última medición de cada serie
df_ultima_fecha = df.sort_values('FECHA').groupby('SERIE', as_index=False).last()

# Crear lista para almacenar registros
registros = []

columnas_a_excluir = ['SERIE', 'FECHA', 'RTRA']

for _, row in df_ultima_fecha.iterrows():
    # Para cada combinación SERIE-FECHA-POSICIÓN, crear un solo registro
    for num_pos in range(1, 28):  # POS 1 a 27
        # Crear un solo registro por posición
        registro = {
            'SERIE': row['SERIE'],
            'FECHA': row['FECHA'],
            'POSICION': num_pos,  # SOLO NÚMERO: 1, 2, 3, etc.
            'H-X-R': np.nan, 'H-X-S': np.nan, 'H-X-T': np.nan,
            'H-Y-R': np.nan, 'H-Y-S': np.nan, 'H-Y-T': np.nan,
            'X-Y-R': np.nan, 'X-Y-S': np.nan, 'X-Y-T': np.nan
        }
        
        # Llenar con datos reales para H-X (todas las posiciones 1-27)
        for fase in ['R', 'S', 'T']:
            col_name = f'H-X POS{num_pos} {fase}'
            if col_name in row and not pd.isna(row[col_name]):
                registro[f'H-X-{fase}'] = row[col_name]
        
        # Llenar con datos reales para H-Y (todas las posiciones 1-27)
        for fase in ['R', 'S', 'T']:
            col_name = f'H-Y POS{num_pos} {fase}'
            if col_name in row and not pd.isna(row[col_name]):
                registro[f'H-Y-{fase}'] = row[col_name]
        
        # Llenar con datos reales para X-Y (solo posición 1)
        if num_pos == 1:
            for fase in ['R', 'S', 'T']:
                col_name = f'X-Y POS{num_pos} {fase}'
                if col_name in row and not pd.isna(row[col_name]):
                    registro[f'X-Y-{fase}'] = row[col_name]
        
        registros.append(registro)

# Crear DataFrame final
df_final = pd.DataFrame(registros)

# Mostrar resultado
print("DataFrame dinamizado RTRA:")
print(f"Dimensiones: {df_final.shape}")
print(f"Series únicas: {df_final['SERIE'].nunique()}")
print(f"Total de registros: {len(df_final)}")
print(f"Columnas: {list(df_final.columns)}")
print("\nPrimeras 15 filas:")
print(df_final.head(15))

# MOSTRAR TOTAL DE FILAS
print(f"\n{'='*50}")
print(f"TOTAL DE FILAS: {len(df_final)}")
print(f"{'='*50}")

# Mostrar específicamente una serie para verificar
print(f"\nVERIFICACIÓN DE UNA SERIE:")
serie_ejemplo = df_final['SERIE'].iloc[0]
serie_verificacion = df_final[df_final['SERIE'] == serie_ejemplo]
print(serie_verificacion.head(10))

DataFrame dinamizado RTRA:
Dimensiones: (2295, 12)
Series únicas: 85
Total de registros: 2295
Columnas: ['SERIE', 'FECHA', 'POSICION', 'H-X-R', 'H-X-S', 'H-X-T', 'H-Y-R', 'H-Y-S', 'H-Y-T', 'X-Y-R', 'X-Y-S', 'X-Y-T']

Primeras 15 filas:
      SERIE      FECHA  POSICION   H-X-R   H-X-S   H-X-T  H-Y-R  H-Y-S  H-Y-T  \
0   123157T 2025-10-31         1  6.5356  6.5358  6.5359    NaN    NaN    NaN
1   123157T 2025-10-31         2  6.4795  6.4794  6.4797    NaN    NaN    NaN
2   123157T 2025-10-31         3  6.4231  6.4231  6.4231    NaN    NaN    NaN
3   123157T 2025-10-31         4  6.3665  6.3666  6.3668    NaN    NaN    NaN
4   123157T 2025-10-31         5  6.3104  6.3103  6.3103    NaN    NaN    NaN
5   123157T 2025-10-31         6  6.2539  6.2538  6.2539    NaN    NaN    NaN
6   123157T 2025-10-31         7  6.1976  6.1976  6.1979    NaN    NaN    NaN
7   123157T 2025-10-31         8  6.1411  6.1413  6.1412    NaN    NaN    NaN
8   123157T 2025-10-31         9  6.0848  6.0847  6.0848    NaN    NaN    NaN
9   123157T 2025-10-31        10  6.0286  6.0284  6.0285    NaN    NaN    NaN
10  123157T 2025-10-31        11  5.9720  5.9721  5.9720    NaN    NaN    NaN
11  123157T 2025-10-31        12  5.9158  5.9156  5.9157    NaN    NaN    NaN
12  123157T 2025-10-31        13  5.8594  5.0000  5.8595    NaN    NaN    NaN
13  123157T 2025-10-31        14  5.8031  5.8030  5.8032    NaN    NaN    NaN
14  123157T 2025-10-31        15  5.7466  5.7467  5.7468    NaN    NaN    NaN

    X-Y-R  X-Y-S  X-Y-T
0     NaN    NaN    NaN
1     NaN    NaN    NaN
2     NaN    NaN    NaN
3     NaN    NaN    NaN
4     NaN    NaN    NaN
5     NaN    NaN    NaN
6     NaN    NaN    NaN
7     NaN    NaN    NaN
8     NaN    NaN    NaN
9     NaN    NaN    NaN
10    NaN    NaN    NaN
11    NaN    NaN    NaN
12    NaN    NaN    NaN
13    NaN    NaN    NaN
14    NaN    NaN    NaN

==================================================
TOTAL DE FILAS: 2295
==================================================

VERIFICACIÓN DE UNA SERIE:
     SERIE      FECHA  POSICION   H-X-R   H-X-S   H-X-T  H-Y-R  H-Y-S  H-Y-T  \
0  123157T 2025-10-31         1  6.5356  6.5358  6.5359    NaN    NaN    NaN
1  123157T 2025-10-31         2  6.4795  6.4794  6.4797    NaN    NaN    NaN
2  123157T 2025-10-31         3  6.4231  6.4231  6.4231    NaN    NaN    NaN
3  123157T 2025-10-31         4  6.3665  6.3666  6.3668    NaN    NaN    NaN
4  123157T 2025-10-31         5  6.3104  6.3103  6.3103    NaN    NaN    NaN
5  123157T 2025-10-31         6  6.2539  6.2538  6.2539    NaN    NaN    NaN
6  123157T 2025-10-31         7  6.1976  6.1976  6.1979    NaN    NaN    NaN
7  123157T 2025-10-31         8  6.1411  6.1413  6.1412    NaN    NaN    NaN
8  123157T 2025-10-31         9  6.0848  6.0847  6.0848    NaN    NaN    NaN
9  123157T 2025-10-31        10  6.0286  6.0284  6.0285    NaN    NaN    NaN

   X-Y-R  X-Y-S  X-Y-T
0    NaN    NaN    NaN
1    NaN    NaN    NaN
2    NaN    NaN    NaN
3    NaN    NaN    NaN
4    NaN    NaN    NaN
5    NaN    NaN    NaN
6    NaN    NaN    NaN
7    NaN    NaN    NaN
8    NaN    NaN    NaN
9    NaN    NaN    NaN

In [7]:
# Conexión con SQLAlchemy para subir a PostgreSQL
try:
    # Codificar contraseña por si tiene caracteres especiales
    password = urllib.parse.quote_plus("delangeluz")
    
    # Crear engine de conexión
    engine = create_engine(f'postgresql+psycopg2://postgres:{password}@localhost:5432/transformadores')
    
    # Definir tipos de datos para PostgreSQL
    dtype_mapping = {
        'SERIE': String(50),
        'FECHA': Date(),
        'POSICION': Integer(),
        'H-X-R': Float(),
        'H-X-S': Float(),
        'H-X-T': Float(),
        'H-Y-R': Float(),
        'H-Y-S': Float(), 
        'H-Y-T': Float(),
        'X-Y-R': Float(),
        'X-Y-S': Float(),
        'X-Y-T': Float()
    }
    
    # Importar DataFrame a PostgreSQL
    df_final.to_sql('dinamizacion_arr_rtra', engine, if_exists='replace', index=False, 
                   schema='raw_v2', dtype=dtype_mapping)
    
    print(f"¡Éxito! {len(df_final)} registros importados a PostgreSQL")
    print("Tabla: dinamizacion_arr_rtra")
    print("Schema: raw_v2")
    print("Columnas:", list(df_final.columns))

except Exception as e:
    print(f"Error al subir a PostgreSQL: {e}")

¡Éxito! 2295 registros importados a PostgreSQL
Tabla: dinamizacion_arr_rtra
Schema: raw_v2
Columnas: ['SERIE', 'FECHA', 'POSICION', 'H-X-R', 'H-X-S', 'H-X-T', 'H-Y-R', 'H-Y-S', 'H-Y-T', 'X-Y-R', 'X-Y-S', 'X-Y-T']