### Importar Libreria

In [3]:
import pandas as pd
import numpy as np
import os

### Cargar Datos

In [4]:
address = 'C:/Users/RONALD Q/OneDrive - LUZ DEL SUR S.A.A/Documentos/Estudios de Ingreso/ProyectoRyD/Basededatos/FP.xlsx'
address2 = 'C:/Users/roquispec/OneDrive - LUZ DEL SUR S.A.A/Documentos/Estudios de Ingreso/ProyectoRyD/Basededatos/FP.xlsx'

df =pd.read_excel(address2,header=1)

In [5]:
df.head()

,Unnamed: 0,SERIE,FECHA,H ICH+ICHL+ICHT %,H ICH+ICHL %,H ICH %,H ICHL %,H ICHT %,H ICH+ICHL+ICHT pF,H ICH+ICHL pF,...,Y ICT+ICTH+ICTL %,Y ICT+ICTH %,Y ICT %,Y ICTH %,Y ICTL %,Y ICT+ICTH+ICTL Pf,Y ICT+ICTH pF,Y ICT pF,Y ICTH pF,Y ICTL pF
0,NaN,760026-01,2025-04-06,NaN,0.165100,0.177700,0.160900,0.380000,NaN,15039.1,...,NaN,NaN,0.163100,0.388600,0.145400,NaN,NaN,11589.600000,78.500000,14698.00000
1,NaN,760026-01,2024-12-15,NaN,NaN,0.223423,0.212083,0.536376,NaN,NaN,...,NaN,NaN,0.212962,0.518957,0.189126,NaN,NaN,11544.868071,78.096835,14687.88328
2,NaN,760026-01,2024-11-13,NaN,NaN,0.272281,0.197464,0.428476,NaN,NaN,...,NaN,NaN,0.207059,0.415822,0.174638,NaN,NaN,11561.300000,78.355800,14705.10000
3,NaN,760026-01,2024-11-12,NaN,0.210000,0.270000,0.200000,NaN,NaN,15104.2,...,NaN,0.1900,0.210000,0.420000,NaN,NaN,26345.5,11561.300000,78.400000,NaN
4,NaN,760026-01,2024-09-08,NaN,0.250058,0.229900,0.254612,NaN,NaN,15016.0,...,NaN,2.4337,2.410500,4.433000,NaN,NaN,11636.0,11558.000000,78.262000,NaN

In [6]:
df.columns = df.columns.str.replace(r"\n", " ", regex=True).str.strip()
# Elimina la primera fila
df = df.drop(index = 0)

In [7]:
df.head()

,Unnamed: 0,SERIE,FECHA,H ICH+ICHL+ICHT %,H ICH+ICHL %,H ICH %,H ICHL %,H ICHT %,H ICH+ICHL+ICHT pF,H ICH+ICHL pF,...,Y ICT+ICTH+ICTL %,Y ICT+ICTH %,Y ICT %,Y ICTH %,Y ICTL %,Y ICT+ICTH+ICTL Pf,Y ICT+ICTH pF,Y ICT pF,Y ICTH pF,Y ICTL pF
1,NaN,760026-01,2024-12-15,NaN,NaN,0.223423,0.212083,0.536376,NaN,NaN,...,NaN,NaN,0.212962,0.518957,0.189126,NaN,NaN,11544.868071,78.096835,14687.88328
2,NaN,760026-01,2024-11-13,NaN,NaN,0.272281,0.197464,0.428476,NaN,NaN,...,NaN,NaN,0.207059,0.415822,0.174638,NaN,NaN,11561.300000,78.355800,14705.10000
3,NaN,760026-01,2024-11-12,NaN,0.210000,0.270000,0.200000,NaN,NaN,15104.2,...,NaN,0.1900,0.210000,0.420000,NaN,NaN,26345.5,11561.300000,78.400000,NaN
4,NaN,760026-01,2024-09-08,NaN,0.250058,0.229900,0.254612,NaN,NaN,15016.0,...,NaN,2.4337,2.410500,4.433000,NaN,NaN,11636.0,11558.000000,78.262000,NaN
5,NaN,760026-01,2020-12-06,NaN,0.121900,0.133800,0.117900,NaN,NaN,14985.8,...,NaN,0.1059,0.118900,0.321000,NaN,NaN,11531.0,11454.800000,78.500000,NaN

In [8]:
# Elimina columnas donde TODOS los valores son NaN
df = df.dropna(axis=1, how="all")
df.head()

,SERIE,FECHA,H ICH+ICHL %,H ICH %,H ICHL %,H ICHT %,H ICH+ICHL pF,H ICH pF,H ICHL pF,H ICHT pF,...,X ICLT pF,X ICLH pF,Y ICT+ICTH %,Y ICT %,Y ICTH %,Y ICTL %,Y ICT+ICTH pF,Y ICT pF,Y ICTH pF,Y ICTL pF
1,760026-01,2024-12-15,NaN,0.223423,0.212083,0.536376,NaN,3458.839154,11561.658703,78.110576,...,14687.72773,11561.632249,NaN,0.212962,0.518957,0.189126,NaN,11544.868071,78.096835,14687.88328
2,760026-01,2024-11-13,NaN,0.272281,0.197464,0.428476,NaN,3461.150000,11566.200000,78.298100,...,14704.00000,11566.800000,NaN,0.207059,0.415822,0.174638,NaN,11561.300000,78.355800,14705.10000
3,760026-01,2024-11-12,0.210000,0.270000,0.200000,NaN,15104.2,3461.200000,11566.200000,NaN,...,14704.00000,NaN,0.1900,0.210000,0.420000,NaN,26345.5,11561.300000,78.400000,NaN
4,760026-01,2024-09-08,0.250058,0.229900,0.254612,NaN,15016.0,3457.400000,11561.000000,NaN,...,14701.00000,NaN,2.4337,2.410500,4.433000,NaN,11636.0,11558.000000,78.262000,NaN
5,760026-01,2020-12-06,0.121900,0.133800,0.117900,NaN,14985.8,3450.200000,11535.500000,NaN,...,14621.00000,NaN,0.1059,0.118900,0.321000,NaN,11531.0,11454.800000,78.500000,NaN

In [9]:
# Seleccionar columnas que empiezan con 'H'
cols_h = ["SERIE", "FECHA"] + [c for c in df.columns if c.startswith("H")]

# Seleccionar columnas que empiezan con 'X'
cols_x = ["SERIE", "FECHA"] + [c for c in df.columns if c.startswith("X")]

# Seleccionar columnas que empiezan con 'Y'
cols_y = ["SERIE", "FECHA"] + [c for c in df.columns if c.startswith("Y")]

# Crear nuevo dataframe con esas columnas
df_h = df[cols_h]

df_x = df[cols_x]

df_y = df[cols_y]

df_h.head()

# df_h = df.iloc[:,:10]

,SERIE,FECHA,H ICH+ICHL %,H ICH %,H ICHL %,H ICHT %,H ICH+ICHL pF,H ICH pF,H ICHL pF,H ICHT pF
1,760026-01,2024-12-15,NaN,0.223423,0.212083,0.536376,NaN,3458.839154,11561.658703,78.110576
2,760026-01,2024-11-13,NaN,0.272281,0.197464,0.428476,NaN,3461.150000,11566.200000,78.298100
3,760026-01,2024-11-12,0.210000,0.270000,0.200000,NaN,15104.2,3461.200000,11566.200000,NaN
4,760026-01,2024-09-08,0.250058,0.229900,0.254612,NaN,15016.0,3457.400000,11561.000000,NaN
5,760026-01,2020-12-06,0.121900,0.133800,0.117900,NaN,14985.8,3450.200000,11535.500000,NaN

In [10]:
df_x.head()

,SERIE,FECHA,X ICL+ICLT %,X ICL %,X ICLT %,X ICLH %,X ICL+ICLT pF,X ICL pF,X ICLT pF,X ICLH pF
1,760026-01,2024-12-15,NaN,1.033517,0.203398,0.212496,NaN,941.733352,14687.72773,11561.632249
2,760026-01,2024-11-13,NaN,1.283354,0.174750,0.197774,NaN,941.476000,14704.00000,11566.800000
3,760026-01,2024-11-12,NaN,1.280000,0.170000,NaN,27212.8,941.500000,14704.00000,NaN
4,760026-01,2024-09-08,0.296269,1.251300,2.314000,NaN,16647.0,945.250000,14701.00000,NaN
5,760026-01,2020-12-06,0.137700,0.656900,0.103700,NaN,15567.4,946.500000,14621.00000,NaN

In [11]:
df_y.head()

,SERIE,FECHA,Y ICT+ICTH %,Y ICT %,Y ICTH %,Y ICTL %,Y ICT+ICTH pF,Y ICT pF,Y ICTH pF,Y ICTL pF
1,760026-01,2024-12-15,NaN,0.212962,0.518957,0.189126,NaN,11544.868071,78.096835,14687.88328
2,760026-01,2024-11-13,NaN,0.207059,0.415822,0.174638,NaN,11561.300000,78.355800,14705.10000
3,760026-01,2024-11-12,0.1900,0.210000,0.420000,NaN,26345.5,11561.300000,78.400000,NaN
4,760026-01,2024-09-08,2.4337,2.410500,4.433000,NaN,11636.0,11558.000000,78.262000,NaN
5,760026-01,2020-12-06,0.1059,0.118900,0.321000,NaN,11531.0,11454.800000,78.500000,NaN

## FACTOR DE POTENCIA

In [12]:

# Columnas base que deben estar en ambos (SERIE, FECHA)
cols_base = ["SERIE", "FECHA"]

# Columnas con % (factor de potencia)
cols_fp_h = [c for c in df_h.columns if c.endswith("%")]
df_h_fp = df_h[cols_base + cols_fp_h]

cols_fp_x = [c for c in df_x.columns if c.endswith("%")]
df_x_fp = df_x[cols_base + cols_fp_x]

cols_fp_y = [c for c in df_y.columns if c.endswith("%")]
df_y_fp = df_y[cols_base + cols_fp_y]

In [13]:
df_h_fp.head()

       SERIE      FECHA  H ICH+ICHL %   H ICH %  H ICHL %  H ICHT %
1  760026-01 2024-12-15           NaN  0.223423  0.212083  0.536376
2  760026-01 2024-11-13           NaN  0.272281  0.197464  0.428476
3  760026-01 2024-11-12      0.210000  0.270000  0.200000       NaN
4  760026-01 2024-09-08      0.250058  0.229900  0.254612       NaN
5  760026-01 2020-12-06      0.121900  0.133800  0.117900       NaN

In [14]:
df_x_fp.head()

       SERIE      FECHA  X ICL+ICLT %   X ICL %  X ICLT %  X ICLH %
1  760026-01 2024-12-15           NaN  1.033517  0.203398  0.212496
2  760026-01 2024-11-13           NaN  1.283354  0.174750  0.197774
3  760026-01 2024-11-12           NaN  1.280000  0.170000       NaN
4  760026-01 2024-09-08      0.296269  1.251300  2.314000       NaN
5  760026-01 2020-12-06      0.137700  0.656900  0.103700       NaN

In [15]:
df_y_fp.head()

       SERIE      FECHA  Y ICT+ICTH %   Y ICT %  Y ICTH %  Y ICTL %
1  760026-01 2024-12-15           NaN  0.212962  0.518957  0.189126
2  760026-01 2024-11-13           NaN  0.207059  0.415822  0.174638
3  760026-01 2024-11-12        0.1900  0.210000  0.420000       NaN
4  760026-01 2024-09-08        2.4337  2.410500  4.433000       NaN
5  760026-01 2020-12-06        0.1059  0.118900  0.321000       NaN

In [16]:
df_h_fp['Max_FP_h'] = df_h_fp[cols_fp_h].max(axis=1)
df_x_fp['Max_FP_x'] = df_x_fp[cols_fp_x].max(axis=1)
df_y_fp['Max_FP_y'] = df_y_fp[cols_fp_y].max(axis=1)
df_h_fp.head()

C:\Users\roquispec\AppData\Local\Temp\ipykernel_39364\2571470556.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_h_fp['Max_FP_h'] = df_h_fp[cols_fp_h].max(axis=1)
C:\Users\roquispec\AppData\Local\Temp\ipykernel_39364\2571470556.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_x_fp['Max_FP_x'] = df_x_fp[cols_fp_x].max(axis=1)
C:\Users\roquispec\AppData\Local\Temp\ipykernel_39364\2571470556.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y_fp['Max_FP_y'] = df_y_fp[cols_fp_y].max(axis=1)

       SERIE      FECHA  H ICH+ICHL %   H ICH %  H ICHL %  H ICHT %  Max_FP_h
1  760026-01 2024-12-15           NaN  0.223423  0.212083  0.536376  0.536376
2  760026-01 2024-11-13           NaN  0.272281  0.197464  0.428476  0.428476
3  760026-01 2024-11-12      0.210000  0.270000  0.200000       NaN  0.270000
4  760026-01 2024-09-08      0.250058  0.229900  0.254612       NaN  0.254612
5  760026-01 2020-12-06      0.121900  0.133800  0.117900       NaN  0.133800

In [17]:
df_x_fp.head()

       SERIE      FECHA  X ICL+ICLT %   X ICL %  X ICLT %  X ICLH %  Max_FP_x
1  760026-01 2024-12-15           NaN  1.033517  0.203398  0.212496  1.033517
2  760026-01 2024-11-13           NaN  1.283354  0.174750  0.197774  1.283354
3  760026-01 2024-11-12           NaN  1.280000  0.170000       NaN  1.280000
4  760026-01 2024-09-08      0.296269  1.251300  2.314000       NaN  2.314000
5  760026-01 2020-12-06      0.137700  0.656900  0.103700       NaN  0.656900

In [18]:
df_y_fp.head()

       SERIE      FECHA  Y ICT+ICTH %   Y ICT %  Y ICTH %  Y ICTL %  Max_FP_y
1  760026-01 2024-12-15           NaN  0.212962  0.518957  0.189126  0.518957
2  760026-01 2024-11-13           NaN  0.207059  0.415822  0.174638  0.415822
3  760026-01 2024-11-12        0.1900  0.210000  0.420000       NaN  0.420000
4  760026-01 2024-09-08        2.4337  2.410500  4.433000       NaN  4.433000
5  760026-01 2020-12-06        0.1059  0.118900  0.321000       NaN  0.321000

In [19]:
# ==========================
# Configuración de reglas
# ==========================

# Pesos (puedes cambiarlos aquí)
pesos = [5, 3, 1]  

# Límites (puedes cambiarlos aquí)
limites = {
    "FP": [1.0, 0.5]  # [Límite superior, Límite inferior]
}

# ==========================
# Función genérica
# ==========================
def asignar_puntaje(df, columna_valor, columna_puntaje, limites, pesos):
    """
    Aplica reglas de puntuación a un DataFrame.

    Parámetros:
    - df: DataFrame al que se aplican los puntajes.
    - columna_valor: Nombre de la columna con los valores numéricos (ej: 'Max_FP').
    - columna_puntaje: Nombre de la columna de salida (ej: 'FPD_Puntaje').
    - limites: Lista [lim_sup, lim_inf] con los valores de referencia.
    - pesos: Lista [peso_alto, peso_medio, peso_bajo] con los puntajes.
    """
    df[columna_puntaje] = np.select(
        [
            df[columna_valor] > limites[0],                               # Mayor al límite superior
            (df[columna_valor] > limites[1]) & (df[columna_valor] <= limites[0]), # Entre lim_inf y lim_sup
            df[columna_valor] <= limites[1]                               # Menor o igual al límite inferior
        ],
        pesos,  # Puntajes configurables
        default=np.nan
    )
    return df

# ==========================
# Aplicación a cada DataFrame
# ==========================

# PARA FP_H
df_h_fp = asignar_puntaje(df_h_fp, 'Max_FP_h', 'FPD_Puntaje_h', limites["FP"], pesos)

# PARA FP_X
df_x_fp = asignar_puntaje(df_x_fp, 'Max_FP_x', 'FPD_Puntaje_x', limites["FP"], pesos)

# PARA FP_Y
df_y_fp = asignar_puntaje(df_y_fp, 'Max_FP_y', 'FPD_Puntaje_y', limites["FP"], pesos)

# ==========================
# Visualización de ejemplo
# ==========================
df_h_fp.head()

C:\Users\roquispec\AppData\Local\Temp\ipykernel_39364\3884876622.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna_puntaje] = np.select(
C:\Users\roquispec\AppData\Local\Temp\ipykernel_39364\3884876622.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna_puntaje] = np.select(
C:\Users\roquispec\AppData\Local\Temp\ipykernel_39364\3884876622.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna_puntaje] = np.select(

,SERIE,FECHA,H ICH+ICHL %,H ICH %,H ICHL %,H ICHT %,Max_FP_h,FPD_Puntaje_h
1,760026-01,2024-12-15,NaN,0.223423,0.212083,0.536376,0.536376,3.0
2,760026-01,2024-11-13,NaN,0.272281,0.197464,0.428476,0.428476,1.0
3,760026-01,2024-11-12,0.210000,0.270000,0.200000,NaN,0.270000,1.0
4,760026-01,2024-09-08,0.250058,0.229900,0.254612,NaN,0.254612,1.0
5,760026-01,2020-12-06,0.121900,0.133800,0.117900,NaN,0.133800,1.0

In [20]:
df_x_fp.head()

,SERIE,FECHA,X ICL+ICLT %,X ICL %,X ICLT %,X ICLH %,Max_FP_x,FPD_Puntaje_x
1,760026-01,2024-12-15,NaN,1.033517,0.203398,0.212496,1.033517,5.0
2,760026-01,2024-11-13,NaN,1.283354,0.174750,0.197774,1.283354,5.0
3,760026-01,2024-11-12,NaN,1.280000,0.170000,NaN,1.280000,5.0
4,760026-01,2024-09-08,0.296269,1.251300,2.314000,NaN,2.314000,5.0
5,760026-01,2020-12-06,0.137700,0.656900,0.103700,NaN,0.656900,3.0

In [21]:
df_y_fp.head()

,SERIE,FECHA,Y ICT+ICTH %,Y ICT %,Y ICTH %,Y ICTL %,Max_FP_y,FPD_Puntaje_y
1,760026-01,2024-12-15,NaN,0.212962,0.518957,0.189126,0.518957,3.0
2,760026-01,2024-11-13,NaN,0.207059,0.415822,0.174638,0.415822,1.0
3,760026-01,2024-11-12,0.1900,0.210000,0.420000,NaN,0.420000,1.0
4,760026-01,2024-09-08,2.4337,2.410500,4.433000,NaN,4.433000,5.0
5,760026-01,2020-12-06,0.1059,0.118900,0.321000,NaN,0.321000,1.0

## CAPACITANCIA DE DEVANADOS

In [22]:
# Columnas con pF (capacitancia)
cols_cd_h = [c for c in df_h.columns if c.endswith("pF")]
df_h_cd = df_h[cols_base + cols_cd_h]

cols_cd_x = [c for c in df_x.columns if c.endswith("pF")]
df_x_cd = df_x[cols_base + cols_cd_x]

cols_cd_y = [c for c in df_y.columns if c.endswith('pF')]
df_y_cd = df_y[cols_base + cols_cd_y]

In [23]:
df_h_cd.head(10)

        SERIE      FECHA  H ICH+ICHL pF     H ICH pF     H ICHL pF  H ICHT pF
1   760026-01 2024-12-15            NaN  3458.839154  11561.658703  78.110576
2   760026-01 2024-11-13            NaN  3461.150000  11566.200000  78.298100
3   760026-01 2024-11-12        15104.2  3461.200000  11566.200000        NaN
4   760026-01 2024-09-08        15016.0  3457.400000  11561.000000        NaN
5   760026-01 2020-12-06        14985.8  3450.200000  11535.500000        NaN
6   760026-01 2013-06-08        15012.5  3445.500000  11567.000000        NaN
7   760026-01 2006-12-06        15030.0  3464.000000  11570.000000  79.100000
8    146660T3 2024-08-27         7342.4  3082.200000   4259.900000        NaN
9    146660T3 2019-10-06         7195.2  2925.000000   4270.300000        NaN
10   146660T3 2015-05-28         7217.3  2929.300000   4286.300000        NaN

### Cálculo delta H

In [24]:
# Asegurarnos que FECHA sea tipo datetime
df_h_cd["FECHA"] = pd.to_datetime(df_h_cd["FECHA"])

# Columnas de capacitancia (las que terminan en pF)
cap_cols = [c for c in df_h_cd.columns if c.endswith("pF")]

# Crear nuevas columnas con la variación porcentual respecto al valor inicial (mínima fecha por SERIE)
for col in cap_cols:
    # serie con el valor inicial por SERIE
    ref = df_h_cd.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])
    ref_mapped = df_h_cd["SERIE"].map(ref)

    # cálculo normal
    delta = abs((df_h_cd[col] - ref_mapped) / ref_mapped) * 100

    # reemplazar inf por NaN (división por cero)
    delta = delta.replace([np.inf, -np.inf], np.nan)

    # si alguno es NaN o el valor/ref_mapped es 0 -> NaN
    mask = df_h_cd[col].isna() | ref_mapped.isna() | (ref_mapped == 0) | (df_h_cd[col] == 0)
    delta[mask] = np.nan

    df_h_cd[f"{col}_Delta"] = delta

C:\Users\roquispec\AppData\Local\Temp\ipykernel_39364\3468875112.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_h_cd["FECHA"] = pd.to_datetime(df_h_cd["FECHA"])
C:\Users\roquispec\AppData\Local\Temp\ipykernel_39364\3468875112.py:10: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ref = df_h_cd.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])
C:\Users\roquispec\AppData\Local\Temp\ipykernel_39364\3468875112.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_h_cd[f"{col}_Delta"] = delta
C:\Users\roquispec\AppData\Local\Temp\ipykernel_39364\3468875112.py:10: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ref = df_h_cd.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])
C:\Users\roquispec\AppData\Local\Temp\ipykernel_39364\3468875112.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_h_cd[f"{col}_Delta"] = delta
C:\Users\roquispec\AppData\Local\Temp\ipykernel_39364\3468875112.py:10: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ref = df_h_cd.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])
C:\Users\roquispec\AppData\Local\Temp\ipykernel_39364\3468875112.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_h_cd[f"{col}_Delta"] = delta
C:\Users\roquispec\AppData\Local\Temp\ipykernel_39364\3468875112.py:10: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ref = df_h_cd.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])

In [25]:
df_h_cd

,SERIE,FECHA,H ICH+ICHL pF,H ICH pF,H ICHL pF,H ICHT pF,H ICH+ICHL pF_Delta,H ICH pF_Delta,H ICHL pF_Delta,H ICHT pF_Delta
1,760026-01,2024-12-15,NaN,3458.839154,11561.658703,78.110576,NaN,0.148985,0.072094,1.250852
2,760026-01,2024-11-13,NaN,3461.150000,11566.200000,78.298100,NaN,0.082275,0.032844,1.013780
3,760026-01,2024-11-12,15104.2,3461.200000,11566.200000,NaN,0.493679,0.080831,0.032844,NaN
4,760026-01,2024-09-08,15016.0,3457.400000,11561.000000,NaN,0.093147,0.190531,0.077787,NaN
5,760026-01,2020-12-06,14985.8,3450.200000,11535.500000,NaN,0.294079,0.398383,0.298185,NaN
6,760026-01,2013-06-08,15012.5,3445.500000,11567.000000,NaN,0.116434,0.534065,0.025929,NaN
7,760026-01,2006-12-06,15030.0,3464.000000,11570.000000,79.100000,0.000000,0.000000,0.000000,0.000000
8,146660T3,2024-08-27,7342.4,3082.200000,4259.900000,NaN,NaN,5.714090,0.604321,NaN
9,146660T3,2019-10-06,7195.2,2925.000000,4270.300000,NaN,NaN,0.322404,0.361659,NaN
10,146660T3,2015-05-28,7217.3,2929.300000,4286.300000,NaN,NaN,0.469886,0.011666,NaN
11,146660T3,2014-04-20,NaN,2906.980000,4282.390000,NaN,NaN,0.295651,0.079565,NaN
12,146660T3,2014-03-22,NaN,2915.600000,4285.800000,NaN,NaN,0.000000,0.000000,NaN

### Cálculo delta X

In [ ]:
# Asegurarnos que FECHA sea tipo datetime
df_x_cd["FECHA"] = pd.to_datetime(df_x_cd["FECHA"])

# Columnas de capacitancia (las que terminan en pF)
cap_cols = [c for c in df_x_cd.columns if c.endswith("pF")]

# Crear nuevas columnas con la variación porcentual respecto al valor inicial (mínima fecha por SERIE)
for col in cap_cols:
    # serie con el valor inicial por SERIE
    ref = df_x_cd.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])
    ref_mapped = df_x_cd["SERIE"].map(ref)

    # cálculo normal
    delta = abs((df_x_cd[col] - ref_mapped) / ref_mapped) * 100

    # reemplazar inf por NaN (división por cero)
    delta = delta.replace([np.inf, -np.inf], np.nan)

    # si alguno es NaN o el valor/ref_mapped es 0 -> NaN
    mask = df_x_cd[col].isna() | ref_mapped.isna() | (ref_mapped == 0) | (df_x_cd[col] == 0)
    delta[mask] = np.nan

    df_x_cd[f"{col}_Delta"] = delta

C:\Users\roquispec\AppData\Local\Temp\ipykernel_39364\2815521799.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_x_cd["FECHA"] = pd.to_datetime(df_x_cd["FECHA"])
C:\Users\roquispec\AppData\Local\Temp\ipykernel_39364\2815521799.py:10: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ref = df_x_cd.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])
C:\Users\roquispec\AppData\Local\Temp\ipykernel_39364\2815521799.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_x_cd[f"{col}_Delta"] = delta
C:\Users\roquispec\AppData\Local\Temp\ipykernel_39364\2815521799.py:10: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ref = df_x_cd.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])
C:\Users\roquispec\AppData\Local\Temp\ipykernel_39364\2815521799.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_x_cd[f"{col}_Delta"] = delta
C:\Users\roquispec\AppData\Local\Temp\ipykernel_39364\2815521799.py:10: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ref = df_x_cd.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])
C:\Users\roquispec\AppData\Local\Temp\ipykernel_39364\2815521799.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_x_cd[f"{col}_Delta"] = delta
C:\Users\roquispec\AppData\Local\Temp\ipykernel_39364\2815521799.py:10: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ref = df_x_cd.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])

In [27]:
df_x_cd.head()

,SERIE,FECHA,X ICL+ICLT pF,X ICL pF,X ICLT pF,X ICLH pF,X ICL+ICLT pF_Delta,X ICL pF_Delta,X ICLT pF_Delta,X ICLH pF_Delta
1,760026-01,2024-12-15,NaN,941.733352,14687.72773,11561.632249,NaN,7.712839,0.600875,0.014120
2,760026-01,2024-11-13,NaN,941.476000,14704.00000,11566.800000,NaN,7.683404,0.712329,0.058824
3,760026-01,2024-11-12,27212.8,941.500000,14704.00000,NaN,75.793282,7.686149,0.712329,NaN
4,760026-01,2024-09-08,16647.0,945.250000,14701.00000,NaN,7.538760,8.115063,0.691781,NaN
5,760026-01,2020-12-06,15567.4,946.500000,14621.00000,NaN,0.564599,8.258035,0.143836,NaN

### Cálculo delta Y

In [28]:
# Asegurarnos que FECHA sea tipo datetime
df_y_cd["FECHA"] = pd.to_datetime(df_y_cd["FECHA"])

# Columnas de capacitancia (las que terminan en pF)
cap_cols = [c for c in df_y_cd.columns if c.endswith("pF")]

# Crear nuevas columnas con la variación porcentual respecto al valor inicial (mínima fecha por SERIE)
for col in cap_cols:
    # serie con el valor inicial por SERIE
    ref = df_y_cd.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])
    ref_mapped = df_y_cd["SERIE"].map(ref)
    # cálculo normal
    delta = abs((df_y_cd[col] - ref_mapped) / ref_mapped) * 100

    # reemplazar inf por NaN (división por cero)
    delta = delta.replace([np.inf, -np.inf], np.nan)

    # si alguno es NaN o el valor/ref_mapped es 0 -> NaN
    mask = df_y_cd[col].isna() | ref_mapped.isna() | (ref_mapped == 0) | (df_y_cd[col] == 0)
    delta[mask] = np.nan

    df_y_cd[f"{col}_Delta"] = delta

C:\Users\roquispec\AppData\Local\Temp\ipykernel_39364\2315760034.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y_cd["FECHA"] = pd.to_datetime(df_y_cd["FECHA"])
C:\Users\roquispec\AppData\Local\Temp\ipykernel_39364\2315760034.py:10: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ref = df_y_cd.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])
C:\Users\roquispec\AppData\Local\Temp\ipykernel_39364\2315760034.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y_cd[f"{col}_Delta"] = delta
C:\Users\roquispec\AppData\Local\Temp\ipykernel_39364\2315760034.py:10: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ref = df_y_cd.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])
C:\Users\roquispec\AppData\Local\Temp\ipykernel_39364\2315760034.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y_cd[f"{col}_Delta"] = delta
C:\Users\roquispec\AppData\Local\Temp\ipykernel_39364\2315760034.py:10: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ref = df_y_cd.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])
C:\Users\roquispec\AppData\Local\Temp\ipykernel_39364\2315760034.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y_cd[f"{col}_Delta"] = delta
C:\Users\roquispec\AppData\Local\Temp\ipykernel_39364\2315760034.py:10: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ref = df_y_cd.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])

In [29]:
df_y_cd.head()

,SERIE,FECHA,Y ICT+ICTH pF,Y ICT pF,Y ICTH pF,Y ICTL pF,Y ICT+ICTH pF_Delta,Y ICT pF_Delta,Y ICTH pF_Delta,Y ICTL pF_Delta
1,760026-01,2024-12-15,NaN,11544.868071,78.096835,14687.88328,NaN,1.627360,1.442661,0.670893
2,760026-01,2024-11-13,NaN,11561.300000,78.355800,14705.10000,NaN,1.772007,1.115851,0.788897
3,760026-01,2024-11-12,26345.5,11561.300000,78.400000,NaN,130.292832,1.772007,1.060071,NaN
4,760026-01,2024-09-08,11636.0,11558.000000,78.262000,NaN,1.713287,1.742958,1.234225,NaN
5,760026-01,2020-12-06,11531.0,11454.800000,78.500000,NaN,0.795455,0.834507,0.933872,NaN

In [30]:
df_h_cd.head(10)

,SERIE,FECHA,H ICH+ICHL pF,H ICH pF,H ICHL pF,H ICHT pF,H ICH+ICHL pF_Delta,H ICH pF_Delta,H ICHL pF_Delta,H ICHT pF_Delta
1,760026-01,2024-12-15,NaN,3458.839154,11561.658703,78.110576,NaN,0.148985,0.072094,1.250852
2,760026-01,2024-11-13,NaN,3461.150000,11566.200000,78.298100,NaN,0.082275,0.032844,1.013780
3,760026-01,2024-11-12,15104.2,3461.200000,11566.200000,NaN,0.493679,0.080831,0.032844,NaN
4,760026-01,2024-09-08,15016.0,3457.400000,11561.000000,NaN,0.093147,0.190531,0.077787,NaN
5,760026-01,2020-12-06,14985.8,3450.200000,11535.500000,NaN,0.294079,0.398383,0.298185,NaN
6,760026-01,2013-06-08,15012.5,3445.500000,11567.000000,NaN,0.116434,0.534065,0.025929,NaN
7,760026-01,2006-12-06,15030.0,3464.000000,11570.000000,79.100000,0.000000,0.000000,0.000000,0.000000
8,146660T3,2024-08-27,7342.4,3082.200000,4259.900000,NaN,NaN,5.714090,0.604321,NaN
9,146660T3,2019-10-06,7195.2,2925.000000,4270.300000,NaN,NaN,0.322404,0.361659,NaN
10,146660T3,2015-05-28,7217.3,2929.300000,4286.300000,NaN,NaN,0.469886,0.011666,NaN

In [31]:
cap_cols_delta_h = [c for c in df_h_cd.columns if c.endswith("Delta")]
df_h_cd['Max_CD'] = df_h_cd[cap_cols_delta_h].max(axis=1)
df_h_cd.head()

,SERIE,FECHA,H ICH+ICHL pF,H ICH pF,H ICHL pF,H ICHT pF,H ICH+ICHL pF_Delta,H ICH pF_Delta,H ICHL pF_Delta,H ICHT pF_Delta,Max_CD
1,760026-01,2024-12-15,NaN,3458.839154,11561.658703,78.110576,NaN,0.148985,0.072094,1.250852,1.250852
2,760026-01,2024-11-13,NaN,3461.150000,11566.200000,78.298100,NaN,0.082275,0.032844,1.013780,1.013780
3,760026-01,2024-11-12,15104.2,3461.200000,11566.200000,NaN,0.493679,0.080831,0.032844,NaN,0.493679
4,760026-01,2024-09-08,15016.0,3457.400000,11561.000000,NaN,0.093147,0.190531,0.077787,NaN,0.190531
5,760026-01,2020-12-06,14985.8,3450.200000,11535.500000,NaN,0.294079,0.398383,0.298185,NaN,0.398383

In [32]:
cap_cols_delta_x = [c for c in df_x_cd.columns if c.endswith("Delta")]
df_x_cd['Max_CD'] = df_x_cd[cap_cols_delta_x].max(axis=1)
df_x_cd.head()

,SERIE,FECHA,X ICL+ICLT pF,X ICL pF,X ICLT pF,X ICLH pF,X ICL+ICLT pF_Delta,X ICL pF_Delta,X ICLT pF_Delta,X ICLH pF_Delta,Max_CD
1,760026-01,2024-12-15,NaN,941.733352,14687.72773,11561.632249,NaN,7.712839,0.600875,0.014120,7.712839
2,760026-01,2024-11-13,NaN,941.476000,14704.00000,11566.800000,NaN,7.683404,0.712329,0.058824,7.683404
3,760026-01,2024-11-12,27212.8,941.500000,14704.00000,NaN,75.793282,7.686149,0.712329,NaN,75.793282
4,760026-01,2024-09-08,16647.0,945.250000,14701.00000,NaN,7.538760,8.115063,0.691781,NaN,8.115063
5,760026-01,2020-12-06,15567.4,946.500000,14621.00000,NaN,0.564599,8.258035,0.143836,NaN,8.258035

In [33]:
cap_cols_delta_y = [c for c in df_y_cd.columns if c.endswith("Delta")]
df_y_cd['Max_CD'] = df_y_cd[cap_cols_delta_y].max(axis=1)
df_y_cd.head()

,SERIE,FECHA,Y ICT+ICTH pF,Y ICT pF,Y ICTH pF,Y ICTL pF,Y ICT+ICTH pF_Delta,Y ICT pF_Delta,Y ICTH pF_Delta,Y ICTL pF_Delta,Max_CD
1,760026-01,2024-12-15,NaN,11544.868071,78.096835,14687.88328,NaN,1.627360,1.442661,0.670893,1.627360
2,760026-01,2024-11-13,NaN,11561.300000,78.355800,14705.10000,NaN,1.772007,1.115851,0.788897,1.772007
3,760026-01,2024-11-12,26345.5,11561.300000,78.400000,NaN,130.292832,1.772007,1.060071,NaN,130.292832
4,760026-01,2024-09-08,11636.0,11558.000000,78.262000,NaN,1.713287,1.742958,1.234225,NaN,1.742958
5,760026-01,2020-12-06,11531.0,11454.800000,78.500000,NaN,0.795455,0.834507,0.933872,NaN,0.933872

In [34]:
# PARA CD H
df_h_cd['FPD_Puntaje'] = np.select(
    [
        df_h_cd['Max_CD'] > 10,                               # Mayor a 10%
        (df_h_cd['Max_CD'] > 5) & (df_h_cd['Max_CD'] <= 10), # Entre 5% y 10%
        df_h_cd['Max_CD'] <= 5                             # Menor o igual a 5%
    ],
    [5, 3, 1],  # Puntajes
    default=np.nan
)

df_h_cd.head()

,SERIE,FECHA,H ICH+ICHL pF,H ICH pF,H ICHL pF,H ICHT pF,H ICH+ICHL pF_Delta,H ICH pF_Delta,H ICHL pF_Delta,H ICHT pF_Delta,Max_CD,FPD_Puntaje
1,760026-01,2024-12-15,NaN,3458.839154,11561.658703,78.110576,NaN,0.148985,0.072094,1.250852,1.250852,1.0
2,760026-01,2024-11-13,NaN,3461.150000,11566.200000,78.298100,NaN,0.082275,0.032844,1.013780,1.013780,1.0
3,760026-01,2024-11-12,15104.2,3461.200000,11566.200000,NaN,0.493679,0.080831,0.032844,NaN,0.493679,1.0
4,760026-01,2024-09-08,15016.0,3457.400000,11561.000000,NaN,0.093147,0.190531,0.077787,NaN,0.190531,1.0
5,760026-01,2020-12-06,14985.8,3450.200000,11535.500000,NaN,0.294079,0.398383,0.298185,NaN,0.398383,1.0

In [35]:
# PARA CD X
df_x_cd['FPD_Puntaje'] = np.select(
    [
        df_x_cd['Max_CD'] > 10,                               # Mayor a 10%
        (df_x_cd['Max_CD'] > 5) & (df_x_cd['Max_CD'] <= 10), # Entre 5% y 10%
        df_x_cd['Max_CD'] <= 5                             # Menor o igual a 5%
    ],
    [5, 3, 1],  # Puntajes
    default=np.nan
)

df_x_cd.head()

,SERIE,FECHA,X ICL+ICLT pF,X ICL pF,X ICLT pF,X ICLH pF,X ICL+ICLT pF_Delta,X ICL pF_Delta,X ICLT pF_Delta,X ICLH pF_Delta,Max_CD,FPD_Puntaje
1,760026-01,2024-12-15,NaN,941.733352,14687.72773,11561.632249,NaN,7.712839,0.600875,0.014120,7.712839,3.0
2,760026-01,2024-11-13,NaN,941.476000,14704.00000,11566.800000,NaN,7.683404,0.712329,0.058824,7.683404,3.0
3,760026-01,2024-11-12,27212.8,941.500000,14704.00000,NaN,75.793282,7.686149,0.712329,NaN,75.793282,5.0
4,760026-01,2024-09-08,16647.0,945.250000,14701.00000,NaN,7.538760,8.115063,0.691781,NaN,8.115063,3.0
5,760026-01,2020-12-06,15567.4,946.500000,14621.00000,NaN,0.564599,8.258035,0.143836,NaN,8.258035,3.0

In [36]:
# PARA CD Y
df_y_cd['FPD_Puntaje'] = np.select(
    [
        df_y_cd['Max_CD'] > 10,                               # Mayor a 10%
        (df_y_cd['Max_CD'] > 5) & (df_y_cd['Max_CD'] <= 10), # Entre 5% y 10%
        df_y_cd['Max_CD'] <= 5                             # Menor o igual a 5%
    ],
    [5, 3, 1],  # Puntajes
    default=np.nan
)

df_y_cd.head()

,SERIE,FECHA,Y ICT+ICTH pF,Y ICT pF,Y ICTH pF,Y ICTL pF,Y ICT+ICTH pF_Delta,Y ICT pF_Delta,Y ICTH pF_Delta,Y ICTL pF_Delta,Max_CD,FPD_Puntaje
1,760026-01,2024-12-15,NaN,11544.868071,78.096835,14687.88328,NaN,1.627360,1.442661,0.670893,1.627360,1.0
2,760026-01,2024-11-13,NaN,11561.300000,78.355800,14705.10000,NaN,1.772007,1.115851,0.788897,1.772007,1.0
3,760026-01,2024-11-12,26345.5,11561.300000,78.400000,NaN,130.292832,1.772007,1.060071,NaN,130.292832,5.0
4,760026-01,2024-09-08,11636.0,11558.000000,78.262000,NaN,1.713287,1.742958,1.234225,NaN,1.742958,1.0
5,760026-01,2020-12-06,11531.0,11454.800000,78.500000,NaN,0.795455,0.834507,0.933872,NaN,0.933872,1.0

# UNIÓN DE TABLAS FP

In [37]:
from functools import reduce

dfs_fp = [df_h_fp, df_x_fp, df_y_fp]

df_fp = reduce(lambda left, right: pd.merge(left, right, on=["SERIE", "FECHA"], how="outer"), dfs_fp)

df_fp = df_fp.sort_values(by=["SERIE", "FECHA"]).reset_index(drop=True)

In [38]:
df_fp = df_fp.drop(df_fp.columns[df_fp.columns.str.startswith("Max")], axis=1)

In [39]:
df_fp

,SERIE,FECHA,H ICH+ICHL %,H ICH %,H ICHL %,H ICHT %,FPD_Puntaje_h,X ICL+ICLT %,X ICL %,X ICLT %,X ICLH %,FPD_Puntaje_x,Y ICT+ICTH %,Y ICT %,Y ICTH %,Y ICTL %,FPD_Puntaje_y
0,146660T3,2014-03-22,NaN,0.207000,0.142000,NaN,1.0,NaN,0.247000,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,146660T3,2014-04-20,NaN,0.145200,0.133100,NaN,1.0,NaN,0.189400,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2,146660T3,2015-05-28,NaN,0.510000,0.150000,NaN,3.0,NaN,0.430000,NaN,0.150000,1.0,NaN,NaN,NaN,NaN,NaN
3,146660T3,2019-10-06,0.165900,0.188600,0.150400,NaN,1.0,NaN,0.214000,NaN,0.149900,1.0,NaN,NaN,NaN,NaN,NaN
4,146660T3,2024-08-27,0.142400,0.146000,0.139200,NaN,1.0,NaN,0.202800,NaN,0.139300,1.0,NaN,NaN,NaN,NaN,NaN
5,760026-01,2006-12-06,0.204700,0.186900,0.204700,0.430000,1.0,0.204700,0.712000,0.178000,0.200000,3.0,0.1958,0.195800,0.409400,0.170000,1.0
6,760026-01,2013-06-08,NaN,0.206100,0.226800,NaN,1.0,NaN,0.681100,0.195300,NaN,3.0,NaN,0.216000,0.417600,NaN,1.0
7,760026-01,2020-12-06,0.121900,0.133800,0.117900,NaN,1.0,0.137700,0.656900,0.103700,NaN,3.0,0.1059,0.118900,0.321000,NaN,1.0
8,760026-01,2024-09-08,0.250058,0.229900,0.254612,NaN,1.0,0.296269,1.251300,2.314000,NaN,5.0,2.4337,2.410500,4.433000,NaN,5.0
9,760026-01,2024-11-12,0.210000,0.270000,0.200000,NaN,1.0,NaN,1.280000,0.170000,NaN,5.0,0.1900,0.210000,0.420000,NaN,1.0
10,760026-01,2024-11-13,NaN,0.272281,0.197464,0.428476,1.0,NaN,1.283354,0.174750,0.197774,5.0,NaN,0.207059,0.415822,0.174638,1.0
11,760026-01,2024-12-15,NaN,0.223423,0.212083,0.536376,3.0,NaN,1.033517,0.203398,0.212496,5.0,NaN,0.212962,0.518957,0.189126,3.0

In [40]:
# Identificar las columnas de puntaje
puntaje_cols = [col for col in df_fp.columns if "Puntaje" in col]

# Crear nueva columna con el valor máximo por fila
df_fp["FPD"] = df_fp[puntaje_cols].max(axis=1)

# Eliminar las columnas originales de puntaje
df_fp = df_fp.drop(columns=puntaje_cols)

# Reordenar para que "FPD" quede al final
cols = [c for c in df_fp.columns if c != "FPD"] + ["FPD"]
df_fp = df_fp[cols]

df_fp.head()

,SERIE,FECHA,H ICH+ICHL %,H ICH %,H ICHL %,H ICHT %,X ICL+ICLT %,X ICL %,X ICLT %,X ICLH %,Y ICT+ICTH %,Y ICT %,Y ICTH %,Y ICTL %,FPD
0,146660T3,2014-03-22,NaN,0.2070,0.1420,NaN,NaN,0.2470,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,146660T3,2014-04-20,NaN,0.1452,0.1331,NaN,NaN,0.1894,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,146660T3,2015-05-28,NaN,0.5100,0.1500,NaN,NaN,0.4300,NaN,0.1500,NaN,NaN,NaN,NaN,3.0
3,146660T3,2019-10-06,0.1659,0.1886,0.1504,NaN,NaN,0.2140,NaN,0.1499,NaN,NaN,NaN,NaN,1.0
4,146660T3,2024-08-27,0.1424,0.1460,0.1392,NaN,NaN,0.2028,NaN,0.1393,NaN,NaN,NaN,NaN,1.0

In [41]:
from functools import reduce

dfs_cd = [df_h_cd, df_x_cd, df_y_cd]

df_cd = reduce(lambda left, right: pd.merge(left, right, on=["SERIE", "FECHA"], how="outer"), dfs_cd)

df_cd = df_cd.sort_values(by=["SERIE", "FECHA"]).reset_index(drop=True)
df_cd

,SERIE,FECHA,H ICH+ICHL pF,H ICH pF,H ICHL pF,H ICHT pF,H ICH+ICHL pF_Delta,H ICH pF_Delta,H ICHL pF_Delta,H ICHT pF_Delta,...,Y ICT+ICTH pF,Y ICT pF,Y ICTH pF,Y ICTL pF,Y ICT+ICTH pF_Delta,Y ICT pF_Delta,Y ICTH pF_Delta,Y ICTL pF_Delta,Max_CD,FPD_Puntaje
0,146660T3,2014-03-22,NaN,2915.600000,4285.800000,NaN,NaN,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,146660T3,2014-04-20,NaN,2906.980000,4282.390000,NaN,NaN,0.295651,0.079565,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,146660T3,2015-05-28,7217.3,2929.300000,4286.300000,NaN,NaN,0.469886,0.011666,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,146660T3,2019-10-06,7195.2,2925.000000,4270.300000,NaN,NaN,0.322404,0.361659,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,146660T3,2024-08-27,7342.4,3082.200000,4259.900000,NaN,NaN,5.714090,0.604321,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,760026-01,2006-12-06,15030.0,3464.000000,11570.000000,79.100000,0.000000,0.000000,0.000000,0.000000,...,11440.000,11360.000000,79.240000,14590.00000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
6,760026-01,2013-06-08,15012.5,3445.500000,11567.000000,NaN,0.116434,0.534065,0.025929,NaN,...,11491.456,11414.000000,77.456000,NaN,0.449790,0.475352,2.251388,NaN,2.251388,1.0
7,760026-01,2020-12-06,14985.8,3450.200000,11535.500000,NaN,0.294079,0.398383,0.298185,NaN,...,11531.000,11454.800000,78.500000,NaN,0.795455,0.834507,0.933872,NaN,0.933872,1.0
8,760026-01,2024-09-08,15016.0,3457.400000,11561.000000,NaN,0.093147,0.190531,0.077787,NaN,...,11636.000,11558.000000,78.262000,NaN,1.713287,1.742958,1.234225,NaN,1.742958,1.0
9,760026-01,2024-11-12,15104.2,3461.200000,11566.200000,NaN,0.493679,0.080831,0.032844,NaN,...,26345.500,11561.300000,78.400000,NaN,130.292832,1.772007,1.060071,NaN,130.292832,5.0
10,760026-01,2024-11-13,NaN,3461.150000,11566.200000,78.298100,NaN,0.082275,0.032844,1.013780,...,NaN,11561.300000,78.355800,14705.10000,NaN,1.772007,1.115851,0.788897,1.772007,1.0
11,760026-01,2024-12-15,NaN,3458.839154,11561.658703,78.110576,NaN,0.148985,0.072094,1.250852,...,NaN,11544.868071,78.096835,14687.88328,NaN,1.627360,1.442661,0.670893,1.627360,1.0

In [42]:
df_cd = df_cd.drop(df_cd.columns[df_cd.columns.str.startswith("Max")], axis=1)

In [43]:
df_cd.head()

,SERIE,FECHA,H ICH+ICHL pF,H ICH pF,H ICHL pF,H ICHT pF,H ICH+ICHL pF_Delta,H ICH pF_Delta,H ICHL pF_Delta,H ICHT pF_Delta,...,FPD_Puntaje_y,Y ICT+ICTH pF,Y ICT pF,Y ICTH pF,Y ICTL pF,Y ICT+ICTH pF_Delta,Y ICT pF_Delta,Y ICTH pF_Delta,Y ICTL pF_Delta,FPD_Puntaje
0,146660T3,2014-03-22,NaN,2915.60,4285.80,NaN,NaN,0.000000,0.000000,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,146660T3,2014-04-20,NaN,2906.98,4282.39,NaN,NaN,0.295651,0.079565,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,146660T3,2015-05-28,7217.3,2929.30,4286.30,NaN,NaN,0.469886,0.011666,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,146660T3,2019-10-06,7195.2,2925.00,4270.30,NaN,NaN,0.322404,0.361659,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,146660T3,2024-08-27,7342.4,3082.20,4259.90,NaN,NaN,5.714090,0.604321,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
# Identificar las columnas de puntaje
puntaje_cols_cd = [col for col in df_cd.columns if "Puntaje" in col]

# Crear nueva columna con el valor máximo por fila
df_cd["CD"] = df_cd[puntaje_cols_cd].max(axis=1)

# Eliminar las columnas originales de puntaje
df_cd = df_cd.drop(columns=puntaje_cols_cd)

# Reordenar para que "CD" quede al final
cols_cd = [c for c in df_cd.columns if c != "CD"] + ["CD"]
df_cd = df_cd[cols_cd]

df_cd

,SERIE,FECHA,H ICH+ICHL pF,H ICH pF,H ICHL pF,H ICHT pF,H ICH+ICHL pF_Delta,H ICH pF_Delta,H ICHL pF_Delta,H ICHT pF_Delta,...,X ICLH pF_Delta,Y ICT+ICTH pF,Y ICT pF,Y ICTH pF,Y ICTL pF,Y ICT+ICTH pF_Delta,Y ICT pF_Delta,Y ICTH pF_Delta,Y ICTL pF_Delta,CD
0,146660T3,2014-03-22,NaN,2915.600000,4285.800000,NaN,NaN,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,146660T3,2014-04-20,NaN,2906.980000,4282.390000,NaN,NaN,0.295651,0.079565,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,146660T3,2015-05-28,7217.3,2929.300000,4286.300000,NaN,NaN,0.469886,0.011666,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,146660T3,2019-10-06,7195.2,2925.000000,4270.300000,NaN,NaN,0.322404,0.361659,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,146660T3,2024-08-27,7342.4,3082.200000,4259.900000,NaN,NaN,5.714090,0.604321,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
5,760026-01,2006-12-06,15030.0,3464.000000,11570.000000,79.100000,0.000000,0.000000,0.000000,0.000000,...,0.000000,11440.000,11360.000000,79.240000,14590.00000,0.000000,0.000000,0.000000,0.000000,1.0
6,760026-01,2013-06-08,15012.5,3445.500000,11567.000000,NaN,0.116434,0.534065,0.025929,NaN,...,NaN,11491.456,11414.000000,77.456000,NaN,0.449790,0.475352,2.251388,NaN,3.0
7,760026-01,2020-12-06,14985.8,3450.200000,11535.500000,NaN,0.294079,0.398383,0.298185,NaN,...,NaN,11531.000,11454.800000,78.500000,NaN,0.795455,0.834507,0.933872,NaN,3.0
8,760026-01,2024-09-08,15016.0,3457.400000,11561.000000,NaN,0.093147,0.190531,0.077787,NaN,...,NaN,11636.000,11558.000000,78.262000,NaN,1.713287,1.742958,1.234225,NaN,3.0
9,760026-01,2024-11-12,15104.2,3461.200000,11566.200000,NaN,0.493679,0.080831,0.032844,NaN,...,NaN,26345.500,11561.300000,78.400000,NaN,130.292832,1.772007,1.060071,NaN,5.0
10,760026-01,2024-11-13,NaN,3461.150000,11566.200000,78.298100,NaN,0.082275,0.032844,1.013780,...,0.058824,NaN,11561.300000,78.355800,14705.10000,NaN,1.772007,1.115851,0.788897,3.0
11,760026-01,2024-12-15,NaN,3458.839154,11561.658703,78.110576,NaN,0.148985,0.072094,1.250852,...,0.014120,NaN,11544.868071,78.096835,14687.88328,NaN,1.627360,1.442661,0.670893,3.0

In [45]:
df_fp

,SERIE,FECHA,H ICH+ICHL %,H ICH %,H ICHL %,H ICHT %,X ICL+ICLT %,X ICL %,X ICLT %,X ICLH %,Y ICT+ICTH %,Y ICT %,Y ICTH %,Y ICTL %,FPD
0,146660T3,2014-03-22,NaN,0.207000,0.142000,NaN,NaN,0.247000,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,146660T3,2014-04-20,NaN,0.145200,0.133100,NaN,NaN,0.189400,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,146660T3,2015-05-28,NaN,0.510000,0.150000,NaN,NaN,0.430000,NaN,0.150000,NaN,NaN,NaN,NaN,3.0
3,146660T3,2019-10-06,0.165900,0.188600,0.150400,NaN,NaN,0.214000,NaN,0.149900,NaN,NaN,NaN,NaN,1.0
4,146660T3,2024-08-27,0.142400,0.146000,0.139200,NaN,NaN,0.202800,NaN,0.139300,NaN,NaN,NaN,NaN,1.0
5,760026-01,2006-12-06,0.204700,0.186900,0.204700,0.430000,0.204700,0.712000,0.178000,0.200000,0.1958,0.195800,0.409400,0.170000,3.0
6,760026-01,2013-06-08,NaN,0.206100,0.226800,NaN,NaN,0.681100,0.195300,NaN,NaN,0.216000,0.417600,NaN,3.0
7,760026-01,2020-12-06,0.121900,0.133800,0.117900,NaN,0.137700,0.656900,0.103700,NaN,0.1059,0.118900,0.321000,NaN,3.0
8,760026-01,2024-09-08,0.250058,0.229900,0.254612,NaN,0.296269,1.251300,2.314000,NaN,2.4337,2.410500,4.433000,NaN,5.0
9,760026-01,2024-11-12,0.210000,0.270000,0.200000,NaN,NaN,1.280000,0.170000,NaN,0.1900,0.210000,0.420000,NaN,5.0
10,760026-01,2024-11-13,NaN,0.272281,0.197464,0.428476,NaN,1.283354,0.174750,0.197774,NaN,0.207059,0.415822,0.174638,5.0
11,760026-01,2024-12-15,NaN,0.223423,0.212083,0.536376,NaN,1.033517,0.203398,0.212496,NaN,0.212962,0.518957,0.189126,5.0