In [2]:
import numpy as np
import pandas as pd
import os
# Lista de posibles rutas
addresses = [
    'C:/Users/RONALD Q/OneDrive - LUZ DEL SUR S.A.A/Documentos/Estudios de Ingreso/ProyectoRyD_V2/Basededatos/FPC1C2.xlsx',
    'C:/Users/roquispec/OneDrive - LUZ DEL SUR S.A.A/Documentos/Estudios de Ingreso/ProyectoRyD_V2/Basededatos/FPC1C2.xlsx',
    'C:/Users/mticllacu/OneDrive - LUZ DEL SUR S.A.A/Archivos de Ronald Quispe Ocaña - ProyectoRyD_V2/Basededatos/FPC1C2.xlsx'
]

df = None
for path in addresses:
    if os.path.exists(path):   # verifica si existe
        df = pd.read_excel(path,header=1)
        print(f"✅ Archivo cargado desde: {path}")
        break

if df is None:
    raise FileNotFoundError("❌ No se encontró el archivo en ninguna de las rutas especificadas.")

✅ Archivo cargado desde: C:/Users/roquispec/OneDrive - LUZ DEL SUR S.A.A/Documentos/Estudios de Ingreso/ProyectoRyD_V2/Basededatos/FPC1C2.xlsx

### Eliminar Columnas vacías

In [3]:
df = df.drop(columns=df.columns[0])
df

,SERIE,FECHA,C1 H1 %,C1 H2 %,C1 H3 %,C1 H0 %,C1 H1 pF,C1 H2 pF,C1 H3 pF,C1 H0 pF,C2 H1 %,C2 H2 %,C2 H3 %,C2 H0 %,C2 H1 pF,C2 H2 pF,C2 H3 pF,C2 NH0 pF
0,146660T3,2022-05-12,0.92,0.43,0.11,0.15,4943,4295,1709,246,6.65,9.90,4.73,9.83,3779,1236,3863,3385
1,146660T3,2019-04-27,0.76,0.51,1.92,0.12,2163,807,3261,4874,4.77,9.65,4.78,5.24,4059,3342,1351,715
2,146660T3,2015-05-15,0.23,1.09,1.40,0.43,2215,2681,3458,4995,3.32,0.46,2.60,8.02,3224,1120,4255,3712
3,146660T3,2014-11-14,0.94,1.68,1.89,1.42,246,3372,1718,2143,8.06,4.02,9.75,3.96,3471,1069,198,3445
4,364076,2022-06-18,0.32,0.72,0.59,1.87,3758,4644,4239,502,1.87,8.05,2.53,1.49,4343,3495,2393,2038
5,364076,2019-06-27,1.90,1.66,1.76,0.54,4201,1402,4242,4247,0.67,2.77,1.89,8.75,4141,2893,441,2601
6,364076,2017-02-20,1.80,1.95,1.74,0.39,3290,2356,4351,100,3.38,9.60,2.44,0.98,2277,4933,465,438
7,364076,2016-12-30,1.64,0.30,1.51,0.42,3014,2057,3463,2392,2.72,3.24,1.70,1.25,939,4576,3578,1447
8,230531-01,2024-07-16,0.66,1.88,1.37,1.04,3404,2021,4888,1506,9.23,8.83,5.49,3.21,1242,479,513,2099
9,230531-01,2022-06-26,0.64,1.94,1.52,0.61,4187,1165,4997,3058,9.64,7.46,3.32,8.96,4455,2488,3246,2847
10,230531-01,2020-12-14,1.80,0.46,0.82,0.65,1500,2550,4045,841,7.61,5.10,7.88,3.03,763,3168,888,241
11,230531-01,2015-02-11,0.36,1.05,0.40,0.59,1417,1758,2776,178,0.75,7.76,1.60,3.24,3343,500,2799,3950
12,338118,2024-11-13,1.12,1.56,1.98,0.83,2530,2470,3198,1091,6.73,1.05,0.36,5.32,4772,3004,3740,3252
13,338118,2022-08-19,0.30,0.57,1.86,0.53,677,4449,3279,618,1.18,0.32,9.30,5.22,1277,1714,4981,2010
14,338118,2016-01-06,1.44,0.84,1.22,1.70,4218,538,171,1876,6.19,7.75,0.19,7.12,852,1052,2304,4373
15,338118,2015-09-22,0.63,0.41,0.19,1.67,2828,3818,933,4470,0.32,3.27,6.20,3.80,4919,987,4844,4453

### Solo FP

In [4]:
cols_base = ['SERIE','FECHA']

cols_fp = [col for col in df.columns if col.endswith('%')]

df_fp = df[cols_base + cols_fp]
df_fp

,SERIE,FECHA,C1 H1 %,C1 H2 %,C1 H3 %,C1 H0 %,C2 H1 %,C2 H2 %,C2 H3 %,C2 H0 %
0,146660T3,2022-05-12,0.92,0.43,0.11,0.15,6.65,9.90,4.73,9.83
1,146660T3,2019-04-27,0.76,0.51,1.92,0.12,4.77,9.65,4.78,5.24
2,146660T3,2015-05-15,0.23,1.09,1.40,0.43,3.32,0.46,2.60,8.02
3,146660T3,2014-11-14,0.94,1.68,1.89,1.42,8.06,4.02,9.75,3.96
4,364076,2022-06-18,0.32,0.72,0.59,1.87,1.87,8.05,2.53,1.49
5,364076,2019-06-27,1.90,1.66,1.76,0.54,0.67,2.77,1.89,8.75
6,364076,2017-02-20,1.80,1.95,1.74,0.39,3.38,9.60,2.44,0.98
7,364076,2016-12-30,1.64,0.30,1.51,0.42,2.72,3.24,1.70,1.25
8,230531-01,2024-07-16,0.66,1.88,1.37,1.04,9.23,8.83,5.49,3.21
9,230531-01,2022-06-26,0.64,1.94,1.52,0.61,9.64,7.46,3.32,8.96
10,230531-01,2020-12-14,1.80,0.46,0.82,0.65,7.61,5.10,7.88,3.03
11,230531-01,2015-02-11,0.36,1.05,0.40,0.59,0.75,7.76,1.60,3.24
12,338118,2024-11-13,1.12,1.56,1.98,0.83,6.73,1.05,0.36,5.32
13,338118,2022-08-19,0.30,0.57,1.86,0.53,1.18,0.32,9.30,5.22
14,338118,2016-01-06,1.44,0.84,1.22,1.70,6.19,7.75,0.19,7.12
15,338118,2015-09-22,0.63,0.41,0.19,1.67,0.32,3.27,6.20,3.80

In [5]:
cols_fp_c1 = [col for col in df_fp.columns if col.startswith('C1')]
df_fp_c1 = df_fp[cols_base+cols_fp_c1]

df_fp_c1['Max_FP_C1'] = df_fp[cols_fp_c1].max(axis=1)
df_fp_c1

C:\Users\roquispec\AppData\Local\Temp\ipykernel_41344\346430106.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fp_c1['Max_FP_C1'] = df_fp[cols_fp_c1].max(axis=1)

        SERIE      FECHA  C1 H1 %  C1 H2 %  C1 H3 %  C1 H0 %  Max_FP_C1
0    146660T3 2022-05-12     0.92     0.43     0.11     0.15       0.92
1    146660T3 2019-04-27     0.76     0.51     1.92     0.12       1.92
2    146660T3 2015-05-15     0.23     1.09     1.40     0.43       1.40
3    146660T3 2014-11-14     0.94     1.68     1.89     1.42       1.89
4      364076 2022-06-18     0.32     0.72     0.59     1.87       1.87
5      364076 2019-06-27     1.90     1.66     1.76     0.54       1.90
6      364076 2017-02-20     1.80     1.95     1.74     0.39       1.95
7      364076 2016-12-30     1.64     0.30     1.51     0.42       1.64
8   230531-01 2024-07-16     0.66     1.88     1.37     1.04       1.88
9   230531-01 2022-06-26     0.64     1.94     1.52     0.61       1.94
10  230531-01 2020-12-14     1.80     0.46     0.82     0.65       1.80
11  230531-01 2015-02-11     0.36     1.05     0.40     0.59       1.05
12     338118 2024-11-13     1.12     1.56     1.98     0.83       1.98
13     338118 2022-08-19     0.30     0.57     1.86     0.53       1.86
14     338118 2016-01-06     1.44     0.84     1.22     1.70       1.70
15     338118 2015-09-22     0.63     0.41     0.19     1.67       1.67

In [6]:
cols_fp_c2 = [col for col in df_fp.columns if col.startswith('C2')]
df_fp_c2 = df_fp[cols_base+cols_fp_c2]

df_fp_c2['Max_FP_C2'] = df_fp[cols_fp_c2].max(axis=1)
df_fp_c2

C:\Users\roquispec\AppData\Local\Temp\ipykernel_41344\898442404.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fp_c2['Max_FP_C2'] = df_fp[cols_fp_c2].max(axis=1)

        SERIE      FECHA  C2 H1 %  C2 H2 %  C2 H3 %  C2 H0 %  Max_FP_C2
0    146660T3 2022-05-12     6.65     9.90     4.73     9.83       9.90
1    146660T3 2019-04-27     4.77     9.65     4.78     5.24       9.65
2    146660T3 2015-05-15     3.32     0.46     2.60     8.02       8.02
3    146660T3 2014-11-14     8.06     4.02     9.75     3.96       9.75
4      364076 2022-06-18     1.87     8.05     2.53     1.49       8.05
5      364076 2019-06-27     0.67     2.77     1.89     8.75       8.75
6      364076 2017-02-20     3.38     9.60     2.44     0.98       9.60
7      364076 2016-12-30     2.72     3.24     1.70     1.25       3.24
8   230531-01 2024-07-16     9.23     8.83     5.49     3.21       9.23
9   230531-01 2022-06-26     9.64     7.46     3.32     8.96       9.64
10  230531-01 2020-12-14     7.61     5.10     7.88     3.03       7.88
11  230531-01 2015-02-11     0.75     7.76     1.60     3.24       7.76
12     338118 2024-11-13     6.73     1.05     0.36     5.32       6.73
13     338118 2022-08-19     1.18     0.32     9.30     5.22       9.30
14     338118 2016-01-06     6.19     7.75     0.19     7.12       7.75
15     338118 2015-09-22     0.32     3.27     6.20     3.80       6.20

### FACTOR DE POTENCIA DE BUSHING C1

In [7]:
# ==========================
# Configuración de reglas
# ==========================

# Pesos (puedes cambiarlos aquí)
pesos = [5, 3, 1]  

# Límites (puedes cambiarlos aquí)
limites = {
    "FP": [1.0, 0.5]  # [Límite superior, Límite inferior]
}

# ==========================
# Función genérica
# ==========================
def asignar_puntaje(df, columna_valor, columna_puntaje, limites, pesos):
    """
    Aplica reglas de puntuación a un DataFrame.

    Parámetros:
    - df: DataFrame al que se aplican los puntajes.
    - columna_valor: Nombre de la columna con los valores numéricos (ej: 'Max_FP').
    - columna_puntaje: Nombre de la columna de salida (ej: 'FPD_Puntaje').
    - limites: Lista [lim_sup, lim_inf] con los valores de referencia.
    - pesos: Lista [peso_alto, peso_medio, peso_bajo] con los puntajes.
    """
    df[columna_puntaje] = np.select(
        [
            df[columna_valor] > limites[0],                               # Mayor al límite superior
            (df[columna_valor] > limites[1]) & (df[columna_valor] <= limites[0]), # Entre lim_inf y lim_sup
            df[columna_valor] <= limites[1]                               # Menor o igual al límite inferior
        ],
        pesos,  # Puntajes configurables
        default=np.nan
    )
    return df

# ==========================
# Aplicación a cada DataFrame
# ==========================

# PARA FP_H
df_fp_c1 = asignar_puntaje(df_fp_c1, 'Max_FP_C1', 'FPBC1', limites["FP"], pesos)

# ==========================
# Visualización de ejemplo
# ==========================
df_fp_c1

C:\Users\roquispec\AppData\Local\Temp\ipykernel_41344\1750917918.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna_puntaje] = np.select(

        SERIE      FECHA  C1 H1 %  C1 H2 %  C1 H3 %  C1 H0 %  Max_FP_C1  FPBC1
0    146660T3 2022-05-12     0.92     0.43     0.11     0.15       0.92    3.0
1    146660T3 2019-04-27     0.76     0.51     1.92     0.12       1.92    5.0
2    146660T3 2015-05-15     0.23     1.09     1.40     0.43       1.40    5.0
3    146660T3 2014-11-14     0.94     1.68     1.89     1.42       1.89    5.0
4      364076 2022-06-18     0.32     0.72     0.59     1.87       1.87    5.0
5      364076 2019-06-27     1.90     1.66     1.76     0.54       1.90    5.0
6      364076 2017-02-20     1.80     1.95     1.74     0.39       1.95    5.0
7      364076 2016-12-30     1.64     0.30     1.51     0.42       1.64    5.0
8   230531-01 2024-07-16     0.66     1.88     1.37     1.04       1.88    5.0
9   230531-01 2022-06-26     0.64     1.94     1.52     0.61       1.94    5.0
10  230531-01 2020-12-14     1.80     0.46     0.82     0.65       1.80    5.0
11  230531-01 2015-02-11     0.36     1.05     0.40     0.59       1.05    5.0
12     338118 2024-11-13     1.12     1.56     1.98     0.83       1.98    5.0
13     338118 2022-08-19     0.30     0.57     1.86     0.53       1.86    5.0
14     338118 2016-01-06     1.44     0.84     1.22     1.70       1.70    5.0
15     338118 2015-09-22     0.63     0.41     0.19     1.67       1.67    5.0

### FACTOR DE POTENCIA DE BUSHING C2

In [8]:
# ==========================
# Configuración de reglas
# ==========================

# Pesos (puedes cambiarlos aquí)
pesos = [5, 1]  

# Límites (puedes cambiarlos aquí)
limites = {
    "FP": [5]  # [Límite superior, Límite inferior]
}

# ==========================
# Función genérica
# ==========================
def asignar_puntaje(df, columna_valor, columna_puntaje, limites, pesos):
    """
    Aplica reglas de puntuación a un DataFrame.

    Parámetros:
    - df: DataFrame al que se aplican los puntajes.
    - columna_valor: Nombre de la columna con los valores numéricos (ej: 'Max_FP').
    - columna_puntaje: Nombre de la columna de salida (ej: 'FPD_Puntaje').
    - limites: Lista [lim_sup, lim_inf] con los valores de referencia.
    - pesos: Lista [peso_alto, peso_medio, peso_bajo] con los puntajes.
    """
    df[columna_puntaje] = np.select(
        [
            df[columna_valor] > limites[0],                               # Mayor al límite superior
             # Entre lim_inf y lim_sup
            df[columna_valor] <= limites[0]                               # Menor o igual al límite inferior
        ],
        pesos,  # Puntajes configurables
        default=np.nan
    )
    return df

# ==========================
# Aplicación a cada DataFrame
# ==========================

# PARA FP_H
df_fp_c2 = asignar_puntaje(df_fp_c2, 'Max_FP_C2', 'FPBC2', limites["FP"], pesos)

# ==========================
# Visualización de ejemplo
# ==========================
df_fp_c2

C:\Users\roquispec\AppData\Local\Temp\ipykernel_41344\1800481956.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna_puntaje] = np.select(

        SERIE      FECHA  C2 H1 %  C2 H2 %  C2 H3 %  C2 H0 %  Max_FP_C2  FPBC2
0    146660T3 2022-05-12     6.65     9.90     4.73     9.83       9.90    5.0
1    146660T3 2019-04-27     4.77     9.65     4.78     5.24       9.65    5.0
2    146660T3 2015-05-15     3.32     0.46     2.60     8.02       8.02    5.0
3    146660T3 2014-11-14     8.06     4.02     9.75     3.96       9.75    5.0
4      364076 2022-06-18     1.87     8.05     2.53     1.49       8.05    5.0
5      364076 2019-06-27     0.67     2.77     1.89     8.75       8.75    5.0
6      364076 2017-02-20     3.38     9.60     2.44     0.98       9.60    5.0
7      364076 2016-12-30     2.72     3.24     1.70     1.25       3.24    1.0
8   230531-01 2024-07-16     9.23     8.83     5.49     3.21       9.23    5.0
9   230531-01 2022-06-26     9.64     7.46     3.32     8.96       9.64    5.0
10  230531-01 2020-12-14     7.61     5.10     7.88     3.03       7.88    5.0
11  230531-01 2015-02-11     0.75     7.76     1.60     3.24       7.76    5.0
12     338118 2024-11-13     6.73     1.05     0.36     5.32       6.73    5.0
13     338118 2022-08-19     1.18     0.32     9.30     5.22       9.30    5.0
14     338118 2016-01-06     6.19     7.75     0.19     7.12       7.75    5.0
15     338118 2015-09-22     0.32     3.27     6.20     3.80       6.20    5.0

# Solo Capacitancias

In [9]:
cols_c = [col for col in df.columns if col.endswith('pF')]
df_c = df[cols_base+cols_c]
df_c

,SERIE,FECHA,C1 H1 pF,C1 H2 pF,C1 H3 pF,C1 H0 pF,C2 H1 pF,C2 H2 pF,C2 H3 pF,C2 NH0 pF
0,146660T3,2022-05-12,4943,4295,1709,246,3779,1236,3863,3385
1,146660T3,2019-04-27,2163,807,3261,4874,4059,3342,1351,715
2,146660T3,2015-05-15,2215,2681,3458,4995,3224,1120,4255,3712
3,146660T3,2014-11-14,246,3372,1718,2143,3471,1069,198,3445
4,364076,2022-06-18,3758,4644,4239,502,4343,3495,2393,2038
5,364076,2019-06-27,4201,1402,4242,4247,4141,2893,441,2601
6,364076,2017-02-20,3290,2356,4351,100,2277,4933,465,438
7,364076,2016-12-30,3014,2057,3463,2392,939,4576,3578,1447
8,230531-01,2024-07-16,3404,2021,4888,1506,1242,479,513,2099
9,230531-01,2022-06-26,4187,1165,4997,3058,4455,2488,3246,2847
10,230531-01,2020-12-14,1500,2550,4045,841,763,3168,888,241
11,230531-01,2015-02-11,1417,1758,2776,178,3343,500,2799,3950
12,338118,2024-11-13,2530,2470,3198,1091,4772,3004,3740,3252
13,338118,2022-08-19,677,4449,3279,618,1277,1714,4981,2010
14,338118,2016-01-06,4218,538,171,1876,852,1052,2304,4373
15,338118,2015-09-22,2828,3818,933,4470,4919,987,4844,4453

In [10]:
cols_c_c1 = [col for col in df_c.columns if col.startswith('C1')]
df_c_c1 = df_c[cols_base+cols_c_c1]
df_c_c1

        SERIE      FECHA  C1 H1 pF  C1 H2 pF  C1 H3 pF  C1 H0 pF
0    146660T3 2022-05-12      4943      4295      1709       246
1    146660T3 2019-04-27      2163       807      3261      4874
2    146660T3 2015-05-15      2215      2681      3458      4995
3    146660T3 2014-11-14       246      3372      1718      2143
4      364076 2022-06-18      3758      4644      4239       502
5      364076 2019-06-27      4201      1402      4242      4247
6      364076 2017-02-20      3290      2356      4351       100
7      364076 2016-12-30      3014      2057      3463      2392
8   230531-01 2024-07-16      3404      2021      4888      1506
9   230531-01 2022-06-26      4187      1165      4997      3058
10  230531-01 2020-12-14      1500      2550      4045       841
11  230531-01 2015-02-11      1417      1758      2776       178
12     338118 2024-11-13      2530      2470      3198      1091
13     338118 2022-08-19       677      4449      3279       618
14     338118 2016-01-06      4218       538       171      1876
15     338118 2015-09-22      2828      3818       933      4470

In [11]:

# Asegurarnos que FECHA sea tipo datetime
df_c_c1["FECHA"] = pd.to_datetime(df_c_c1["FECHA"])

# Columnas de capacitancia (las que terminan en pF)
cap_cols = [c for c in df_c_c1.columns if c.endswith("pF")]

# Crear nuevas columnas con la variación porcentual respecto al valor inicial (mínima fecha por SERIE)
for col in cap_cols:
    # serie con el valor inicial por SERIE
    ref = df_c_c1.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])
    ref_mapped = df_c_c1["SERIE"].map(ref)

    # cálculo normal
    delta = abs((df_c_c1[col] - ref_mapped) / ref_mapped) * 100

    # reemplazar inf por NaN (división por cero)
    delta = delta.replace([np.inf, -np.inf], np.nan)

    # si alguno es NaN o el valor/ref_mapped es 0 -> NaN
    mask = df_c_c1[col].isna() | ref_mapped.isna() | (ref_mapped == 0) | (df_c_c1[col] == 0)
    delta[mask] = np.nan

    df_c_c1[f"{col}_Delta"] = delta
df_c_c1.head()

C:\Users\roquispec\AppData\Local\Temp\ipykernel_41344\3747747021.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_c_c1["FECHA"] = pd.to_datetime(df_c_c1["FECHA"])
C:\Users\roquispec\AppData\Local\Temp\ipykernel_41344\3747747021.py:10: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ref = df_c_c1.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])
C:\Users\roquispec\AppData\Local\Temp\ipykernel_41344\3747747021.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_c_c1[f"{col}_Delta"] = delta
C:\Users\roquispec\AppData\Local\Temp\ipykernel_41344\3747747021.py:10: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ref = df_c_c1.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])
C:\Users\roquispec\AppData\Local\Temp\ipykernel_41344\3747747021.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_c_c1[f"{col}_Delta"] = delta
C:\Users\roquispec\AppData\Local\Temp\ipykernel_41344\3747747021.py:10: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ref = df_c_c1.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])
C:\Users\roquispec\AppData\Local\Temp\ipykernel_41344\3747747021.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_c_c1[f"{col}_Delta"] = delta
C:\Users\roquispec\AppData\Local\Temp\ipykernel_41344\3747747021.py:10: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ref = df_c_c1.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])

,SERIE,FECHA,C1 H1 pF,C1 H2 pF,C1 H3 pF,C1 H0 pF,C1 H1 pF_Delta,C1 H2 pF_Delta,C1 H3 pF_Delta,C1 H0 pF_Delta
0,146660T3,2022-05-12,4943,4295,1709,246,1909.349593,27.372479,0.523865,88.520765
1,146660T3,2019-04-27,2163,807,3261,4874,779.268293,76.067616,89.813737,127.438171
2,146660T3,2015-05-15,2215,2681,3458,4995,800.406504,20.492289,101.280559,133.084461
3,146660T3,2014-11-14,246,3372,1718,2143,0.000000,0.000000,0.000000,0.000000
4,364076,2022-06-18,3758,4644,4239,502,24.684804,125.765678,22.408316,79.013378

In [12]:

cols_c_c1_delta = [col for col in df_c_c1.columns if col.endswith('Delta')]

df_c_c1['Max_C_C1'] = df_c_c1[cols_c_c1_delta].max(axis=1)
df_c_c1

,SERIE,FECHA,C1 H1 pF,C1 H2 pF,C1 H3 pF,C1 H0 pF,C1 H1 pF_Delta,C1 H2 pF_Delta,C1 H3 pF_Delta,C1 H0 pF_Delta,Max_C_C1
0,146660T3,2022-05-12,4943,4295,1709,246,1909.349593,27.372479,0.523865,88.520765,1909.349593
1,146660T3,2019-04-27,2163,807,3261,4874,779.268293,76.067616,89.813737,127.438171,779.268293
2,146660T3,2015-05-15,2215,2681,3458,4995,800.406504,20.492289,101.280559,133.084461,800.406504
3,146660T3,2014-11-14,246,3372,1718,2143,0.000000,0.000000,0.000000,0.000000,0.000000
4,364076,2022-06-18,3758,4644,4239,502,24.684804,125.765678,22.408316,79.013378,125.765678
5,364076,2019-06-27,4201,1402,4242,4247,39.382880,31.842489,22.494947,77.550167,77.550167
6,364076,2017-02-20,3290,2356,4351,100,9.157266,14.535732,25.642506,95.819398,95.819398
7,364076,2016-12-30,3014,2057,3463,2392,0.000000,0.000000,0.000000,0.000000,0.000000
8,230531-01,2024-07-16,3404,2021,4888,1506,140.225829,14.960182,76.080692,746.067416,746.067416
9,230531-01,2022-06-26,4187,1165,4997,3058,195.483416,33.731513,80.007205,1617.977528,1617.977528
10,230531-01,2020-12-14,1500,2550,4045,841,5.857445,45.051195,45.713256,372.471910,372.471910
11,230531-01,2015-02-11,1417,1758,2776,178,0.000000,0.000000,0.000000,0.000000,0.000000
12,338118,2024-11-13,2530,2470,3198,1091,10.537482,35.306443,242.765273,75.592841,242.765273
13,338118,2022-08-19,677,4449,3279,618,76.060820,16.526977,251.446945,86.174497,251.446945
14,338118,2016-01-06,4218,538,171,1876,49.151344,85.908853,81.672026,58.031320,85.908853
15,338118,2015-09-22,2828,3818,933,4470,0.000000,0.000000,0.000000,0.000000,0.000000

In [13]:
cols_c_c2 = [col for col in df_c.columns if col.startswith('C2')]
df_c_c2 = df_c[cols_base+cols_c_c2]

df_c_c2['Max_C_C2'] = df_c[cols_c_c2].max(axis=1)
df_c_c2

C:\Users\roquispec\AppData\Local\Temp\ipykernel_41344\1739255988.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_c_c2['Max_C_C2'] = df_c[cols_c_c2].max(axis=1)

        SERIE      FECHA  C2 H1 pF  C2 H2 pF  C2 H3 pF  C2 NH0 pF  Max_C_C2
0    146660T3 2022-05-12      3779      1236      3863       3385      3863
1    146660T3 2019-04-27      4059      3342      1351        715      4059
2    146660T3 2015-05-15      3224      1120      4255       3712      4255
3    146660T3 2014-11-14      3471      1069       198       3445      3471
4      364076 2022-06-18      4343      3495      2393       2038      4343
5      364076 2019-06-27      4141      2893       441       2601      4141
6      364076 2017-02-20      2277      4933       465        438      4933
7      364076 2016-12-30       939      4576      3578       1447      4576
8   230531-01 2024-07-16      1242       479       513       2099      2099
9   230531-01 2022-06-26      4455      2488      3246       2847      4455
10  230531-01 2020-12-14       763      3168       888        241      3168
11  230531-01 2015-02-11      3343       500      2799       3950      3950
12     338118 2024-11-13      4772      3004      3740       3252      4772
13     338118 2022-08-19      1277      1714      4981       2010      4981
14     338118 2016-01-06       852      1052      2304       4373      4373
15     338118 2015-09-22      4919       987      4844       4453      4919

## PUNTAJES CAPACITANCIAS

In [14]:
# ==========================
# Configuración de reglas
# ==========================

# Pesos (puedes cambiarlos aquí)
pesos = [5, 3, 1]  

# Límites (puedes cambiarlos aquí)
limites = {
    "C": [10, 5]  # [Límite superior, Límite inferior]
}

# ==========================
# Función genérica
# ==========================
def asignar_puntaje(df, columna_valor, columna_puntaje, limites, pesos):
    """
    Aplica reglas de puntuación a un DataFrame.

    Parámetros:
    - df: DataFrame al que se aplican los puntajes.
    - columna_valor: Nombre de la columna con los valores numéricos (ej: 'Max_FP').
    - columna_puntaje: Nombre de la columna de salida (ej: 'FPD_Puntaje').
    - limites: Lista [lim_sup, lim_inf] con los valores de referencia.
    - pesos: Lista [peso_alto, peso_medio, peso_bajo] con los puntajes.
    """
    df[columna_puntaje] = np.select(
        [
            df[columna_valor] > limites[0],                               # Mayor al límite superior
            (df[columna_valor] > limites[1]) & (df[columna_valor] <= limites[0]), # Entre lim_inf y lim_sup
            df[columna_valor] <= limites[1]                               # Menor o igual al límite inferior
        ],
        pesos,  # Puntajes configurables
        default=np.nan
    )
    return df

# ==========================
# Aplicación a cada DataFrame
# ==========================

# PARA FP_H
df_c_c1 = asignar_puntaje(df_c_c1, 'Max_C_C1', 'CC1', limites["C"], pesos)

# ==========================
# Visualización de ejemplo
# ==========================
df_c_c1 = df_c_c1.drop(columns = 'Max_C_C1')
cols_c_c1 = ['SERIE','FECHA','CC1']+[col for col in df_c_c1.columns if col not in ['CC1','SERIE','FECHA']]

df_c_c1 = df_c_c1[cols_c_c1]
df_c_c1
df_c_c1_original = df_c_c1[['SERIE','FECHA','CC1']]
df_c_c1_original

        SERIE      FECHA  CC1
0    146660T3 2022-05-12  5.0
1    146660T3 2019-04-27  5.0
2    146660T3 2015-05-15  5.0
3    146660T3 2014-11-14  1.0
4      364076 2022-06-18  5.0
5      364076 2019-06-27  5.0
6      364076 2017-02-20  5.0
7      364076 2016-12-30  1.0
8   230531-01 2024-07-16  5.0
9   230531-01 2022-06-26  5.0
10  230531-01 2020-12-14  5.0
11  230531-01 2015-02-11  1.0
12     338118 2024-11-13  5.0
13     338118 2022-08-19  5.0
14     338118 2016-01-06  5.0
15     338118 2015-09-22  1.0

# DETALLADA

In [15]:

excluir = ['SERIE', 'FECHA']
cols_c_c1 = excluir + [col for col in df_c_c1.columns if col not in excluir and not col.endswith('Delta')]
df_c_c1_detallado = df_c_c1[cols_c_c1]
df_c_c1_detallado

        SERIE      FECHA  CC1  C1 H1 pF  C1 H2 pF  C1 H3 pF  C1 H0 pF
0    146660T3 2022-05-12  5.0      4943      4295      1709       246
1    146660T3 2019-04-27  5.0      2163       807      3261      4874
2    146660T3 2015-05-15  5.0      2215      2681      3458      4995
3    146660T3 2014-11-14  1.0       246      3372      1718      2143
4      364076 2022-06-18  5.0      3758      4644      4239       502
5      364076 2019-06-27  5.0      4201      1402      4242      4247
6      364076 2017-02-20  5.0      3290      2356      4351       100
7      364076 2016-12-30  1.0      3014      2057      3463      2392
8   230531-01 2024-07-16  5.0      3404      2021      4888      1506
9   230531-01 2022-06-26  5.0      4187      1165      4997      3058
10  230531-01 2020-12-14  5.0      1500      2550      4045       841
11  230531-01 2015-02-11  1.0      1417      1758      2776       178
12     338118 2024-11-13  5.0      2530      2470      3198      1091
13     338118 2022-08-19  5.0       677      4449      3279       618
14     338118 2016-01-06  5.0      4218       538       171      1876
15     338118 2015-09-22  1.0      2828      3818       933      4470