In [87]:
import pandas as pd
import numpy as np
import os

In [88]:
address = 'C:/Users/RONALD Q/OneDrive - LUZ DEL SUR S.A.A/Documentos/Estudios de Ingreso/ProyectoRyD/Basededatos/FP.xlsx'
address2 = 'C:/Users/roquispec/OneDrive - LUZ DEL SUR S.A.A/Documentos/Estudios de Ingreso/ProyectoRyD/Basededatos/FP.xlsx'
df =pd.read_excel(address,header=1)
df.head()

,Unnamed: 0,SERIE,FECHA,H ICH+ICHL+ICHT %,H ICH+ICHL %,H ICH %,H ICHL %,H ICHT %,H ICH+ICHL+ICHT pF,H ICH+ICHL pF,...,Y ICT+ICTH+ICTL %,Y ICT+ICTH %,Y ICT %,Y ICTH %,Y ICTL %,Y ICT+ICTH+ICTL Pf,Y ICT+ICTH pF,Y ICT pF,Y ICTH pF,Y ICTL pF
0,NaN,760026-01,2025-04-06,NaN,0.165100,0.177700,0.160900,0.380000,NaN,15039.1,...,NaN,NaN,0.163100,0.388600,0.145400,NaN,NaN,11589.600000,78.500000,14698.00000
1,NaN,760026-01,2024-12-15,NaN,NaN,0.223423,0.212083,0.536376,NaN,NaN,...,NaN,NaN,0.212962,0.518957,0.189126,NaN,NaN,11544.868071,78.096835,14687.88328
2,NaN,760026-01,2024-11-13,NaN,NaN,0.272281,0.197464,0.428476,NaN,NaN,...,NaN,NaN,0.207059,0.415822,0.174638,NaN,NaN,11561.300000,78.355800,14705.10000
3,NaN,760026-01,2024-11-12,NaN,0.210000,0.270000,0.200000,NaN,NaN,15104.2,...,NaN,0.1900,0.210000,0.420000,NaN,NaN,26345.5,11561.300000,78.400000,NaN
4,NaN,760026-01,2024-09-08,NaN,0.250058,0.229900,0.254612,NaN,NaN,15016.0,...,NaN,2.4337,2.410500,4.433000,NaN,NaN,11636.0,11558.000000,78.262000,NaN

In [89]:
df.columns = df.columns.str.replace(r"\n", " ", regex=True).str.strip()
# Elimina la primera fila
df.head()

,Unnamed: 0,SERIE,FECHA,H ICH+ICHL+ICHT %,H ICH+ICHL %,H ICH %,H ICHL %,H ICHT %,H ICH+ICHL+ICHT pF,H ICH+ICHL pF,...,Y ICT+ICTH+ICTL %,Y ICT+ICTH %,Y ICT %,Y ICTH %,Y ICTL %,Y ICT+ICTH+ICTL Pf,Y ICT+ICTH pF,Y ICT pF,Y ICTH pF,Y ICTL pF
0,NaN,760026-01,2025-04-06,NaN,0.165100,0.177700,0.160900,0.380000,NaN,15039.1,...,NaN,NaN,0.163100,0.388600,0.145400,NaN,NaN,11589.600000,78.500000,14698.00000
1,NaN,760026-01,2024-12-15,NaN,NaN,0.223423,0.212083,0.536376,NaN,NaN,...,NaN,NaN,0.212962,0.518957,0.189126,NaN,NaN,11544.868071,78.096835,14687.88328
2,NaN,760026-01,2024-11-13,NaN,NaN,0.272281,0.197464,0.428476,NaN,NaN,...,NaN,NaN,0.207059,0.415822,0.174638,NaN,NaN,11561.300000,78.355800,14705.10000
3,NaN,760026-01,2024-11-12,NaN,0.210000,0.270000,0.200000,NaN,NaN,15104.2,...,NaN,0.1900,0.210000,0.420000,NaN,NaN,26345.5,11561.300000,78.400000,NaN
4,NaN,760026-01,2024-09-08,NaN,0.250058,0.229900,0.254612,NaN,NaN,15016.0,...,NaN,2.4337,2.410500,4.433000,NaN,NaN,11636.0,11558.000000,78.262000,NaN

In [90]:
# Elimina columnas donde TODOS los valores son NaN
df = df.dropna(axis=1, how="all")
df.head()

,SERIE,FECHA,H ICH+ICHL %,H ICH %,H ICHL %,H ICHT %,H ICH+ICHL pF,H ICH pF,H ICHL pF,H ICHT pF,...,X ICLT pF,X ICLH pF,Y ICT+ICTH %,Y ICT %,Y ICTH %,Y ICTL %,Y ICT+ICTH pF,Y ICT pF,Y ICTH pF,Y ICTL pF
0,760026-01,2025-04-06,0.165100,0.177700,0.160900,0.380000,15039.1,3457.300000,11581.800000,78.600000,...,14698.20000,11582.500000,NaN,0.163100,0.388600,0.145400,NaN,11589.600000,78.500000,14698.00000
1,760026-01,2024-12-15,NaN,0.223423,0.212083,0.536376,NaN,3458.839154,11561.658703,78.110576,...,14687.72773,11561.632249,NaN,0.212962,0.518957,0.189126,NaN,11544.868071,78.096835,14687.88328
2,760026-01,2024-11-13,NaN,0.272281,0.197464,0.428476,NaN,3461.150000,11566.200000,78.298100,...,14704.00000,11566.800000,NaN,0.207059,0.415822,0.174638,NaN,11561.300000,78.355800,14705.10000
3,760026-01,2024-11-12,0.210000,0.270000,0.200000,NaN,15104.2,3461.200000,11566.200000,NaN,...,14704.00000,NaN,0.1900,0.210000,0.420000,NaN,26345.5,11561.300000,78.400000,NaN
4,760026-01,2024-09-08,0.250058,0.229900,0.254612,NaN,15016.0,3457.400000,11561.000000,NaN,...,14701.00000,NaN,2.4337,2.410500,4.433000,NaN,11636.0,11558.000000,78.262000,NaN

In [91]:
# Seleccionar columnas que terminan con '%'
cols_fp = ["SERIE", "FECHA"] + [c for c in df.columns if c.endswith("%")]
df_fp = df[cols_fp]
df_fp

,SERIE,FECHA,H ICH+ICHL %,H ICH %,H ICHL %,H ICHT %,X ICL+ICLT %,X ICL %,X ICLT %,X ICLH %,Y ICT+ICTH %,Y ICT %,Y ICTH %,Y ICTL %
0,760026-01,2025-04-06,0.165100,0.177700,0.160900,0.380000,NaN,0.876000,0.144800,0.161000,NaN,0.163100,0.388600,0.145400
1,760026-01,2024-12-15,NaN,0.223423,0.212083,0.536376,NaN,1.033517,0.203398,0.212496,NaN,0.212962,0.518957,0.189126
2,760026-01,2024-11-13,NaN,0.272281,0.197464,0.428476,NaN,1.283354,0.174750,0.197774,NaN,0.207059,0.415822,0.174638
3,760026-01,2024-11-12,0.210000,0.270000,0.200000,NaN,NaN,1.280000,0.170000,NaN,0.1900,0.210000,0.420000,NaN
4,760026-01,2024-09-08,0.250058,0.229900,0.254612,NaN,0.296269,1.251300,2.314000,NaN,2.4337,2.410500,4.433000,NaN
5,760026-01,2020-12-06,0.121900,0.133800,0.117900,NaN,0.137700,0.656900,0.103700,NaN,0.1059,0.118900,0.321000,NaN
6,760026-01,2013-06-08,NaN,0.206100,0.226800,NaN,NaN,0.681100,0.195300,NaN,NaN,0.216000,0.417600,NaN
7,760026-01,2006-12-06,0.204700,0.186900,0.204700,0.430000,0.204700,0.712000,0.178000,0.200000,0.1958,0.195800,0.409400,0.170000
8,146660T3,2024-08-27,0.142400,0.146000,0.139200,NaN,NaN,0.202800,NaN,0.139300,NaN,NaN,NaN,NaN
9,146660T3,2019-10-06,0.165900,0.188600,0.150400,NaN,NaN,0.214000,NaN,0.149900,NaN,NaN,NaN,NaN
10,146660T3,2015-05-28,NaN,0.510000,0.150000,NaN,NaN,0.430000,NaN,0.150000,NaN,NaN,NaN,NaN
11,146660T3,2014-04-20,NaN,0.145200,0.133100,NaN,NaN,0.189400,NaN,NaN,NaN,NaN,NaN,NaN
12,146660T3,2014-03-22,NaN,0.207000,0.142000,NaN,NaN,0.247000,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
df_fp['Max_FP'] = df_fp[[c for c in df_fp.columns if c.endswith('%')]].max(axis=1)
df_fp.head()

C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_31668\4048064483.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fp['Max_FP'] = df_fp[[c for c in df_fp.columns if c.endswith('%')]].max(axis=1)

,SERIE,FECHA,H ICH+ICHL %,H ICH %,H ICHL %,H ICHT %,X ICL+ICLT %,X ICL %,X ICLT %,X ICLH %,Y ICT+ICTH %,Y ICT %,Y ICTH %,Y ICTL %,Max_FP
0,760026-01,2025-04-06,0.165100,0.177700,0.160900,0.380000,NaN,0.876000,0.144800,0.161000,NaN,0.163100,0.388600,0.145400,0.876000
1,760026-01,2024-12-15,NaN,0.223423,0.212083,0.536376,NaN,1.033517,0.203398,0.212496,NaN,0.212962,0.518957,0.189126,1.033517
2,760026-01,2024-11-13,NaN,0.272281,0.197464,0.428476,NaN,1.283354,0.174750,0.197774,NaN,0.207059,0.415822,0.174638,1.283354
3,760026-01,2024-11-12,0.210000,0.270000,0.200000,NaN,NaN,1.280000,0.170000,NaN,0.1900,0.210000,0.420000,NaN,1.280000
4,760026-01,2024-09-08,0.250058,0.229900,0.254612,NaN,0.296269,1.251300,2.314000,NaN,2.4337,2.410500,4.433000,NaN,4.433000

In [93]:
import numpy as np

# ==========================
# Configuración de reglas
# ==========================

# Pesos 
pesos = [5, 3, 1]  

# Límites 
limites = {
    "FP": [1.0, 0.5]  # [Límite superior, Límite inferior]
}

# ==========================
# Función genérica
# ==========================
def asignar_puntaje(df, columna_valor, columna_puntaje, limites, pesos):
    """
    Aplica reglas de puntuación a un DataFrame.

    Parámetros:
    - df: DataFrame al que se aplican los puntajes.
    - columna_valor: Nombre de la columna con los valores numéricos (ej: 'Max_FP').
    - columna_puntaje: Nombre de la columna de salida (ej: 'FP').
    - limites: Lista [lim_sup, lim_inf] con los valores de referencia.
    - pesos: Lista [peso_alto, peso_medio, peso_bajo] con los puntajes.
    """
    df[columna_puntaje] = np.select(
        [
            df[columna_valor] > limites[0],                               # Mayor al límite superior
            (df[columna_valor] > limites[1]) & (df[columna_valor] <= limites[0]), # Entre lim_inf y lim_sup
            df[columna_valor] <= limites[1]                               # Menor o igual al límite inferior
        ],
        pesos,  # Puntajes configurables
        default=np.nan
    )
    return df

# ==========================
# Aplicación a df_fp
# ==========================
df_fp = asignar_puntaje(df_fp, 'Max_FP', 'FP', limites["FP"], pesos)

# ==========================
# Visualización de ejemplo
# ==========================
df_fp

C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_31668\3750238522.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna_puntaje] = np.select(

,SERIE,FECHA,H ICH+ICHL %,H ICH %,H ICHL %,H ICHT %,X ICL+ICLT %,X ICL %,X ICLT %,X ICLH %,Y ICT+ICTH %,Y ICT %,Y ICTH %,Y ICTL %,Max_FP,FP
0,760026-01,2025-04-06,0.165100,0.177700,0.160900,0.380000,NaN,0.876000,0.144800,0.161000,NaN,0.163100,0.388600,0.145400,0.876000,3.0
1,760026-01,2024-12-15,NaN,0.223423,0.212083,0.536376,NaN,1.033517,0.203398,0.212496,NaN,0.212962,0.518957,0.189126,1.033517,5.0
2,760026-01,2024-11-13,NaN,0.272281,0.197464,0.428476,NaN,1.283354,0.174750,0.197774,NaN,0.207059,0.415822,0.174638,1.283354,5.0
3,760026-01,2024-11-12,0.210000,0.270000,0.200000,NaN,NaN,1.280000,0.170000,NaN,0.1900,0.210000,0.420000,NaN,1.280000,5.0
4,760026-01,2024-09-08,0.250058,0.229900,0.254612,NaN,0.296269,1.251300,2.314000,NaN,2.4337,2.410500,4.433000,NaN,4.433000,5.0
5,760026-01,2020-12-06,0.121900,0.133800,0.117900,NaN,0.137700,0.656900,0.103700,NaN,0.1059,0.118900,0.321000,NaN,0.656900,3.0
6,760026-01,2013-06-08,NaN,0.206100,0.226800,NaN,NaN,0.681100,0.195300,NaN,NaN,0.216000,0.417600,NaN,0.681100,3.0
7,760026-01,2006-12-06,0.204700,0.186900,0.204700,0.430000,0.204700,0.712000,0.178000,0.200000,0.1958,0.195800,0.409400,0.170000,0.712000,3.0
8,146660T3,2024-08-27,0.142400,0.146000,0.139200,NaN,NaN,0.202800,NaN,0.139300,NaN,NaN,NaN,NaN,0.202800,1.0
9,146660T3,2019-10-06,0.165900,0.188600,0.150400,NaN,NaN,0.214000,NaN,0.149900,NaN,NaN,NaN,NaN,0.214000,1.0
10,146660T3,2015-05-28,NaN,0.510000,0.150000,NaN,NaN,0.430000,NaN,0.150000,NaN,NaN,NaN,NaN,0.510000,3.0
11,146660T3,2014-04-20,NaN,0.145200,0.133100,NaN,NaN,0.189400,NaN,NaN,NaN,NaN,NaN,NaN,0.189400,1.0
12,146660T3,2014-03-22,NaN,0.207000,0.142000,NaN,NaN,0.247000,NaN,NaN,NaN,NaN,NaN,NaN,0.247000,1.0

In [94]:
df_fp = df_fp[['SERIE','FECHA','FP']]
df_fp.head()

       SERIE      FECHA   FP
0  760026-01 2025-04-06  3.0
1  760026-01 2024-12-15  5.0
2  760026-01 2024-11-13  5.0
3  760026-01 2024-11-12  5.0
4  760026-01 2024-09-08  5.0

# CAPACITANCIA DE DEVANADOS

In [95]:
# Seleccionar columnas que terminan con 'pF'
cols_cd = ["SERIE", "FECHA"] + [c for c in df.columns if c.endswith("pF")]
df_cd = df[cols_cd]
df_cd

,SERIE,FECHA,H ICH+ICHL pF,H ICH pF,H ICHL pF,H ICHT pF,X ICL+ICLT pF,X ICL pF,X ICLT pF,X ICLH pF,Y ICT+ICTH pF,Y ICT pF,Y ICTH pF,Y ICTL pF
0,760026-01,2025-04-06,15039.1,3457.300000,11581.800000,78.600000,NaN,944.200000,14698.20000,11582.500000,NaN,11589.600000,78.500000,14698.00000
1,760026-01,2024-12-15,NaN,3458.839154,11561.658703,78.110576,NaN,941.733352,14687.72773,11561.632249,NaN,11544.868071,78.096835,14687.88328
2,760026-01,2024-11-13,NaN,3461.150000,11566.200000,78.298100,NaN,941.476000,14704.00000,11566.800000,NaN,11561.300000,78.355800,14705.10000
3,760026-01,2024-11-12,15104.2,3461.200000,11566.200000,NaN,27212.80,941.500000,14704.00000,NaN,26345.500,11561.300000,78.400000,NaN
4,760026-01,2024-09-08,15016.0,3457.400000,11561.000000,NaN,16647.00,945.250000,14701.00000,NaN,11636.000,11558.000000,78.262000,NaN
5,760026-01,2020-12-06,14985.8,3450.200000,11535.500000,NaN,15567.40,946.500000,14621.00000,NaN,11531.000,11454.800000,78.500000,NaN
6,760026-01,2013-06-08,15012.5,3445.500000,11567.000000,NaN,15538.42,936.420000,14602.00000,NaN,11491.456,11414.000000,77.456000,NaN
7,760026-01,2006-12-06,15030.0,3464.000000,11570.000000,79.100000,15480.00,874.300000,14600.00000,11560.000000,11440.000,11360.000000,79.240000,14590.00000
8,146660T3,2024-08-27,7342.4,3082.200000,4259.900000,NaN,NaN,7441.200000,NaN,4259.300000,NaN,NaN,NaN,NaN
9,146660T3,2019-10-06,7195.2,2925.000000,4270.300000,NaN,NaN,7216.400000,NaN,4270.900000,NaN,NaN,NaN,NaN
10,146660T3,2015-05-28,7217.3,2929.300000,4286.300000,NaN,11521.00,7231.500000,NaN,4286.300000,NaN,NaN,NaN,NaN
11,146660T3,2014-04-20,NaN,2906.980000,4282.390000,NaN,NaN,7141.070000,NaN,NaN,NaN,NaN,NaN,NaN
12,146660T3,2014-03-22,NaN,2915.600000,4285.800000,NaN,NaN,7132.900000,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
# Asegurarnos que FECHA sea tipo datetime
df_cd["FECHA"] = pd.to_datetime(df_cd["FECHA"], errors="coerce")

# Columnas de capacitancia (las que terminan en pF)
cap_cols = [c for c in df_cd.columns if c.endswith("pF")]

# Crear nuevas columnas con la variación porcentual respecto al valor inicial (mínima fecha por SERIE)
for col in cap_cols:
    # valor inicial por SERIE
    ref = df_cd.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])
    ref_mapped = df_cd["SERIE"].map(ref)

    # cálculo normal
    delta = abs((df_cd[col] - ref_mapped) / ref_mapped) * 100

    # reemplazar inf por NaN
    delta = delta.replace([np.inf, -np.inf], np.nan)

    # condiciones para dejar como NaN
    mask = df_cd[col].isna() | ref_mapped.isna() | (ref_mapped == 0) | (df_cd[col] == 0)
    delta[mask] = np.nan

    # guardar columna de delta
    df_cd[f"{col}_Delta"] = delta
df_cd

C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_31668\3177866203.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cd["FECHA"] = pd.to_datetime(df_cd["FECHA"], errors="coerce")
C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_31668\3177866203.py:10: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ref = df_cd.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])
C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_31668\3177866203.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cd[f"{col}_Delta"] = delta
C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_31668\3177866203.py:10: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ref = df_cd.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])
C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_31668\3177866203.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cd[f"{col}_Delta"] = delta
C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_31668\3177866203.py:10: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ref = df_cd.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])
C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_31668\3177866203.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cd[f"{col}_Delta"] = delta
C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_31668\3177866203.py:10: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ref = df_cd.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])
C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_31668\3177866203.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cd[f"{col}_Delta"] = delta
C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_31668\3177866203.py:10: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ref = df_cd.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])
C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_31668\3177866203.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cd[f"{col}_Delta"] = delta
C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_31668\3177866203.py:10: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ref = df_cd.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])
C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_31668\3177866203.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cd[f"{col}_Delta"] = delta
C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_31668\3177866203.py:10: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ref = df_cd.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])
C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_31668\3177866203.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cd[f"{col}_Delta"] = delta
C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_31668\3177866203.py:10: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ref = df_cd.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])
C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_31668\3177866203.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cd[f"{col}_Delta"] = delta
C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_31668\3177866203.py:10: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ref = df_cd.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])
C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_31668\3177866203.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cd[f"{col}_Delta"] = delta
C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_31668\3177866203.py:10: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ref = df_cd.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])
C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_31668\3177866203.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cd[f"{col}_Delta"] = delta
C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_31668\3177866203.py:10: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ref = df_cd.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])
C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_31668\3177866203.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cd[f"{col}_Delta"] = delta
C:\Users\RONALD Q\AppData\Local\Temp\ipykernel_31668\3177866203.py:10: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ref = df_cd.groupby("SERIE").apply(lambda g: g.loc[g["FECHA"].idxmin(), col])

,SERIE,FECHA,H ICH+ICHL pF,H ICH pF,H ICHL pF,H ICHT pF,X ICL+ICLT pF,X ICL pF,X ICLT pF,X ICLH pF,...,H ICHL pF_Delta,H ICHT pF_Delta,X ICL+ICLT pF_Delta,X ICL pF_Delta,X ICLT pF_Delta,X ICLH pF_Delta,Y ICT+ICTH pF_Delta,Y ICT pF_Delta,Y ICTH pF_Delta,Y ICTL pF_Delta
0,760026-01,2025-04-06,15039.1,3457.300000,11581.800000,78.600000,NaN,944.200000,14698.20000,11582.500000,...,0.101988,0.632111,NaN,7.994967,0.672603,0.194637,NaN,2.021127,0.933872,0.740233
1,760026-01,2024-12-15,NaN,3458.839154,11561.658703,78.110576,NaN,941.733352,14687.72773,11561.632249,...,0.072094,1.250852,NaN,7.712839,0.600875,0.014120,NaN,1.627360,1.442661,0.670893
2,760026-01,2024-11-13,NaN,3461.150000,11566.200000,78.298100,NaN,941.476000,14704.00000,11566.800000,...,0.032844,1.013780,NaN,7.683404,0.712329,0.058824,NaN,1.772007,1.115851,0.788897
3,760026-01,2024-11-12,15104.2,3461.200000,11566.200000,NaN,27212.80,941.500000,14704.00000,NaN,...,0.032844,NaN,75.793282,7.686149,0.712329,NaN,130.292832,1.772007,1.060071,NaN
4,760026-01,2024-09-08,15016.0,3457.400000,11561.000000,NaN,16647.00,945.250000,14701.00000,NaN,...,0.077787,NaN,7.538760,8.115063,0.691781,NaN,1.713287,1.742958,1.234225,NaN
5,760026-01,2020-12-06,14985.8,3450.200000,11535.500000,NaN,15567.40,946.500000,14621.00000,NaN,...,0.298185,NaN,0.564599,8.258035,0.143836,NaN,0.795455,0.834507,0.933872,NaN
6,760026-01,2013-06-08,15012.5,3445.500000,11567.000000,NaN,15538.42,936.420000,14602.00000,NaN,...,0.025929,NaN,0.377390,7.105113,0.013699,NaN,0.449790,0.475352,2.251388,NaN
7,760026-01,2006-12-06,15030.0,3464.000000,11570.000000,79.100000,15480.00,874.300000,14600.00000,11560.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,146660T3,2024-08-27,7342.4,3082.200000,4259.900000,NaN,NaN,7441.200000,NaN,4259.300000,...,0.604321,NaN,NaN,4.322225,NaN,NaN,NaN,NaN,NaN,NaN
9,146660T3,2019-10-06,7195.2,2925.000000,4270.300000,NaN,NaN,7216.400000,NaN,4270.900000,...,0.361659,NaN,NaN,1.170632,NaN,NaN,NaN,NaN,NaN,NaN
10,146660T3,2015-05-28,7217.3,2929.300000,4286.300000,NaN,11521.00,7231.500000,NaN,4286.300000,...,0.011666,NaN,NaN,1.382327,NaN,NaN,NaN,NaN,NaN,NaN
11,146660T3,2014-04-20,NaN,2906.980000,4282.390000,NaN,NaN,7141.070000,NaN,NaN,...,0.079565,NaN,NaN,0.114540,NaN,NaN,NaN,NaN,NaN,NaN
12,146660T3,2014-03-22,NaN,2915.600000,4285.800000,NaN,NaN,7132.900000,NaN,NaN,...,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
cap_cols_delta_y = [c for c in df_cd.columns if c.endswith("Delta")]
df_cd['Max_CD'] = df_cd[cap_cols_delta_y].max(axis=1)
df_cd.head()

,SERIE,FECHA,H ICH+ICHL pF,H ICH pF,H ICHL pF,H ICHT pF,X ICL+ICLT pF,X ICL pF,X ICLT pF,X ICLH pF,...,H ICHT pF_Delta,X ICL+ICLT pF_Delta,X ICL pF_Delta,X ICLT pF_Delta,X ICLH pF_Delta,Y ICT+ICTH pF_Delta,Y ICT pF_Delta,Y ICTH pF_Delta,Y ICTL pF_Delta,Max_CD
0,760026-01,2025-04-06,15039.1,3457.300000,11581.800000,78.600000,NaN,944.200000,14698.20000,11582.500000,...,0.632111,NaN,7.994967,0.672603,0.194637,NaN,2.021127,0.933872,0.740233,7.994967
1,760026-01,2024-12-15,NaN,3458.839154,11561.658703,78.110576,NaN,941.733352,14687.72773,11561.632249,...,1.250852,NaN,7.712839,0.600875,0.014120,NaN,1.627360,1.442661,0.670893,7.712839
2,760026-01,2024-11-13,NaN,3461.150000,11566.200000,78.298100,NaN,941.476000,14704.00000,11566.800000,...,1.013780,NaN,7.683404,0.712329,0.058824,NaN,1.772007,1.115851,0.788897,7.683404
3,760026-01,2024-11-12,15104.2,3461.200000,11566.200000,NaN,27212.8,941.500000,14704.00000,NaN,...,NaN,75.793282,7.686149,0.712329,NaN,130.292832,1.772007,1.060071,NaN,130.292832
4,760026-01,2024-09-08,15016.0,3457.400000,11561.000000,NaN,16647.0,945.250000,14701.00000,NaN,...,NaN,7.538760,8.115063,0.691781,NaN,1.713287,1.742958,1.234225,NaN,8.115063

In [98]:
# PARA CD H
df_cd['CD'] = np.select(
    [
        df_cd['Max_CD'] > 10,                               # Mayor a 10%
        (df_cd['Max_CD'] > 5) & (df_cd['Max_CD'] <= 10), # Entre 5% y 10%
        df_cd['Max_CD'] <= 5                             # Menor o igual a 5%
    ],
    [5, 3, 1],  # Puntajes
    default=np.nan
)

df_cd.head()

,SERIE,FECHA,H ICH+ICHL pF,H ICH pF,H ICHL pF,H ICHT pF,X ICL+ICLT pF,X ICL pF,X ICLT pF,X ICLH pF,...,X ICL+ICLT pF_Delta,X ICL pF_Delta,X ICLT pF_Delta,X ICLH pF_Delta,Y ICT+ICTH pF_Delta,Y ICT pF_Delta,Y ICTH pF_Delta,Y ICTL pF_Delta,Max_CD,CD
0,760026-01,2025-04-06,15039.1,3457.300000,11581.800000,78.600000,NaN,944.200000,14698.20000,11582.500000,...,NaN,7.994967,0.672603,0.194637,NaN,2.021127,0.933872,0.740233,7.994967,3.0
1,760026-01,2024-12-15,NaN,3458.839154,11561.658703,78.110576,NaN,941.733352,14687.72773,11561.632249,...,NaN,7.712839,0.600875,0.014120,NaN,1.627360,1.442661,0.670893,7.712839,3.0
2,760026-01,2024-11-13,NaN,3461.150000,11566.200000,78.298100,NaN,941.476000,14704.00000,11566.800000,...,NaN,7.683404,0.712329,0.058824,NaN,1.772007,1.115851,0.788897,7.683404,3.0
3,760026-01,2024-11-12,15104.2,3461.200000,11566.200000,NaN,27212.8,941.500000,14704.00000,NaN,...,75.793282,7.686149,0.712329,NaN,130.292832,1.772007,1.060071,NaN,130.292832,5.0
4,760026-01,2024-09-08,15016.0,3457.400000,11561.000000,NaN,16647.0,945.250000,14701.00000,NaN,...,7.538760,8.115063,0.691781,NaN,1.713287,1.742958,1.234225,NaN,8.115063,3.0

In [99]:
df_cd = df_cd.drop(columns='Max_CD')

In [100]:
df_cd.head()

,SERIE,FECHA,H ICH+ICHL pF,H ICH pF,H ICHL pF,H ICHT pF,X ICL+ICLT pF,X ICL pF,X ICLT pF,X ICLH pF,...,H ICHT pF_Delta,X ICL+ICLT pF_Delta,X ICL pF_Delta,X ICLT pF_Delta,X ICLH pF_Delta,Y ICT+ICTH pF_Delta,Y ICT pF_Delta,Y ICTH pF_Delta,Y ICTL pF_Delta,CD
0,760026-01,2025-04-06,15039.1,3457.300000,11581.800000,78.600000,NaN,944.200000,14698.20000,11582.500000,...,0.632111,NaN,7.994967,0.672603,0.194637,NaN,2.021127,0.933872,0.740233,3.0
1,760026-01,2024-12-15,NaN,3458.839154,11561.658703,78.110576,NaN,941.733352,14687.72773,11561.632249,...,1.250852,NaN,7.712839,0.600875,0.014120,NaN,1.627360,1.442661,0.670893,3.0
2,760026-01,2024-11-13,NaN,3461.150000,11566.200000,78.298100,NaN,941.476000,14704.00000,11566.800000,...,1.013780,NaN,7.683404,0.712329,0.058824,NaN,1.772007,1.115851,0.788897,3.0
3,760026-01,2024-11-12,15104.2,3461.200000,11566.200000,NaN,27212.8,941.500000,14704.00000,NaN,...,NaN,75.793282,7.686149,0.712329,NaN,130.292832,1.772007,1.060071,NaN,5.0
4,760026-01,2024-09-08,15016.0,3457.400000,11561.000000,NaN,16647.0,945.250000,14701.00000,NaN,...,NaN,7.538760,8.115063,0.691781,NaN,1.713287,1.742958,1.234225,NaN,3.0

In [101]:
df_cd = df_cd[['SERIE','FECHA','CD']]
df_cd

        SERIE      FECHA   CD
0   760026-01 2025-04-06  3.0
1   760026-01 2024-12-15  3.0
2   760026-01 2024-11-13  3.0
3   760026-01 2024-11-12  5.0
4   760026-01 2024-09-08  3.0
5   760026-01 2020-12-06  3.0
6   760026-01 2013-06-08  3.0
7   760026-01 2006-12-06  1.0
8    146660T3 2024-08-27  3.0
9    146660T3 2019-10-06  1.0
10   146660T3 2015-05-28  1.0
11   146660T3 2014-04-20  1.0
12   146660T3 2014-03-22  1.0