In [1]:
import pandas as pd
import numpy as np
address1 = 'C:/Users/RONALD Q/OneDrive - LUZ DEL SUR S.A.A/Documentos/Estudios de Ingreso/ProyectoRyD/Basededatos/FURANOS.xlsx'
address2 = 'C:/Users/roquispec/OneDrive - LUZ DEL SUR S.A.A/Documentos/Estudios de Ingreso/ProyectoRyD/Basededatos/FURANOS.xlsx'
df = pd.read_excel(address2,header=1)

In [2]:
df.head(10)

   Unnamed: 0         SERIE                Fecha  2-Furfuraldehido (FAL, ppb)
0         NaN       D518293  2023-08-29 00:00:00                          1.0
1         NaN       D518292  2023-08-29 00:00:00                          1.0
2         NaN       D518291  2023-08-29 00:00:00                          1.0
3         NaN       V101038  2023-09-03 00:00:00                          1.0
4         NaN        551873  2023-12-05 00:00:00                          1.0
5         NaN        551875  2023-12-05 00:00:00                          2.0
6         NaN        551874  2023-12-05 00:00:00                          2.0
7         NaN  HST15082-1-1  2023-08-16 00:00:00                        143.0
8         NaN  HST15082-1-1  2021-01-07 00:00:00                        160.0
9         NaN  HST15082-1-1  2009-10-16 00:00:00                        207.0

In [3]:
df = df.dropna(axis=1,how='all')
df['Fecha'] = pd.to_datetime(df['Fecha'])
df.head(10)

          SERIE      Fecha  2-Furfuraldehido (FAL, ppb)
0       D518293 2023-08-29                          1.0
1       D518292 2023-08-29                          1.0
2       D518291 2023-08-29                          1.0
3       V101038 2023-09-03                          1.0
4        551873 2023-12-05                          1.0
5        551875 2023-12-05                          2.0
6        551874 2023-12-05                          2.0
7  HST15082-1-1 2023-08-16                        143.0
8  HST15082-1-1 2021-01-07                        160.0
9  HST15082-1-1 2009-10-16                        207.0

In [4]:
df['FUR'] = np.select(
    [
        df['2-Furfuraldehido (FAL, ppb)'] > 5000,                               # Mayor 5000
        (df['2-Furfuraldehido (FAL, ppb)'] > 1000) & (df['2-Furfuraldehido (FAL, ppb)'] <= 5000), # Entre 5000% y 1000%
        (df['2-Furfuraldehido (FAL, ppb)'] > 500) & (df['2-Furfuraldehido (FAL, ppb)'] <= 1000), # Entre 1000% y 500%
        (df['2-Furfuraldehido (FAL, ppb)'] > 100) & (df['2-Furfuraldehido (FAL, ppb)'] <= 500), # Entre 500% y 100%
        df['2-Furfuraldehido (FAL, ppb)'] <= 100
                                        # Menor o igual a 100%
    ],
    [5, 4, 3, 2, 1],  # Puntajes
    default=np.nan
)
df = df.rename(columns={'Fecha': 'FECHA DE MUESTRA'})
df = df[['SERIE','FECHA DE MUESTRA','FUR']]

In [5]:
df.head()

     SERIE FECHA DE MUESTRA  FUR
0  D518293       2023-08-29  1.0
1  D518292       2023-08-29  1.0
2  D518291       2023-08-29  1.0
3  V101038       2023-09-03  1.0
4   551873       2023-12-05  1.0