In [28]:
import numpy as np
import pandas as pd
import os
# Lista de posibles rutas
addresses = [
    'C:/Users/RONALD Q/OneDrive - LUZ DEL SUR S.A.A/Documentos/Estudios de Ingreso/ProyectoRyD_V2/Basededatos/FQOLTC.xlsx',
    'C:/Users/roquispec/OneDrive - LUZ DEL SUR S.A.A/Documentos/Estudios de Ingreso/ProyectoRyD_V2/Basededatos/FQOLTC.xlsx',
    'C:/Users/mticllacu/OneDrive - LUZ DEL SUR S.A.A/Archivos de Ronald Quispe Ocaña - ProyectoRyD_V2/Basededatos/FQOLTC.xlsx'
]

df = None
for path in addresses:
    if os.path.exists(path):   # verifica si existe
        df = pd.read_excel(path,header=1)
        print(f"✅ Archivo cargado desde: {path}")
        break

if df is None:
    raise FileNotFoundError("❌ No se encontró el archivo en ninguna de las rutas especificadas.")

✅ Archivo cargado desde: C:/Users/roquispec/OneDrive - LUZ DEL SUR S.A.A/Documentos/Estudios de Ingreso/ProyectoRyD_V2/Basededatos/FQOLTC.xlsx

In [29]:
df = df.drop(columns=df.columns[0])
df = df.rename(columns={'Valor RD (2mm gap) (kV/2mm)': 'RD','Valor H2O (ppm)':'H20'})
df

        SERIE FECHA DE MUESTRA  RD  H20
0    146660T3       2022-05-12  18   48
1    146660T3       2018-05-12  33   12
2    146660T3       2016-12-30  34   14
3    146660T3       2014-03-26  48   46
4      364076       2022-06-18  58   33
5      364076       2018-01-08  36   10
6      364076       2017-06-18  47   48
7      364076       2016-03-14  18   59
8   230531-01       2024-07-16  28   19
9   230531-01       2017-03-21  33   13
10  230531-01       2014-12-21  57   17
11  230531-01       2013-12-27  33   32
12     338118       2024-11-13  50   57
13     338118       2018-11-03  43   26
14     338118       2017-06-23  35   20
15     338118       2016-06-10  39   29

In [30]:
# Puntaje para RD
df['Puntaje_RD'] = np.where(df['RD'] < 30, 5, 1)

# Puntaje para H2O
df['Puntaje_H2O'] = np.where(df['H20'] > 30, 5, 1)

df

        SERIE FECHA DE MUESTRA  RD  H20  Puntaje_RD  Puntaje_H2O
0    146660T3       2022-05-12  18   48           5            5
1    146660T3       2018-05-12  33   12           1            1
2    146660T3       2016-12-30  34   14           1            1
3    146660T3       2014-03-26  48   46           1            5
4      364076       2022-06-18  58   33           1            5
5      364076       2018-01-08  36   10           1            1
6      364076       2017-06-18  47   48           1            5
7      364076       2016-03-14  18   59           5            5
8   230531-01       2024-07-16  28   19           5            1
9   230531-01       2017-03-21  33   13           1            1
10  230531-01       2014-12-21  57   17           1            1
11  230531-01       2013-12-27  33   32           1            5
12     338118       2024-11-13  50   57           1            5
13     338118       2018-11-03  43   26           1            1
14     338118       2017-06-23  35   20           1            1
15     338118       2016-06-10  39   29           1            1

In [31]:
# Calcular columna OLTC ponderado con los puntajes
# OLTC = (5 * Puntaje_RD + 3 * Puntaje_H2O) / 8
df['OLTC'] = (5 * df['Puntaje_RD'] + 3 * df['Puntaje_H2O']) / 8

# Filtrar y reordenar columnas
columnas_orden = ['SERIE', 'FECHA DE MUESTRA', 'OLTC', 'RD', 'H20']
df_filtrado = df[columnas_orden]
df_filtrado

        SERIE FECHA DE MUESTRA  OLTC  RD  H20
0    146660T3       2022-05-12   5.0  18   48
1    146660T3       2018-05-12   1.0  33   12
2    146660T3       2016-12-30   1.0  34   14
3    146660T3       2014-03-26   2.5  48   46
4      364076       2022-06-18   2.5  58   33
5      364076       2018-01-08   1.0  36   10
6      364076       2017-06-18   2.5  47   48
7      364076       2016-03-14   5.0  18   59
8   230531-01       2024-07-16   3.5  28   19
9   230531-01       2017-03-21   1.0  33   13
10  230531-01       2014-12-21   1.0  57   17
11  230531-01       2013-12-27   2.5  33   32
12     338118       2024-11-13   2.5  50   57
13     338118       2018-11-03   1.0  43   26
14     338118       2017-06-23   1.0  35   20
15     338118       2016-06-10   1.0  39   29