### Importar las librer√≠as

In [56]:
import gssapi
import singlestoredb
import pandas as pd
import psycopg2
import pymysql
detalles = pd.read_excel(r'C:\Users\roquispec\OneDrive - LUZ DEL SUR S.A.A\Documentos\Estudios de Ingreso\ProyectoRyD_V2\Basededatos\detalles_transformadores.xlsx')

### Usamos una consulta SQL para extraer los datos que no tienen vac√≠os en las columnas: celda,fecha_hora,frecuencia,pot_aparente,tens_prom_s

In [57]:
import singlestoredb as s2
import pandas as pd
import json

try:
    # CONEXI√ìN ULTRA COMPACTA - 1 L√çNEA
    with s2.connect(**json.load(open('config.json'))['singlestore']) as connection:
        print("‚úÖ Conexi√≥n a SingleStore establecida correctamente")
        
        # CONSULTA SQL COMPLETA
        consulta_sql = """
SELECT
    CASE
        WHEN s.cod_scada LIKE 'ASIA/%' THEN 'Asia'
        WHEN s.cod_scada LIKE 'ALTOPRAD/%' THEN 'Alto Pradera'
        WHEN s.cod_scada LIKE 'BALNEARI/%' THEN 'Balnearios'
        WHEN s.cod_scada LIKE 'SBARTOLO/%' THEN 'San Bartolo'
        WHEN s.cod_scada LIKE 'CANTERA/%' THEN 'Cantera'
        WHEN s.cod_scada LIKE 'MANCHAY/%' THEN 'Manchay'
        WHEN s.cod_scada LIKE 'PACHACUT/%' THEN 'Pachacutec'
        WHEN s.cod_scada LIKE 'PROGRESO/%' THEN 'Progreso'
        WHEN s.cod_scada LIKE 'SANJUAN/%' THEN 'San Juan'
        WHEN s.cod_scada LIKE 'SANLUIS/%' THEN 'San Luis'
        WHEN s.cod_scada LIKE 'SROSAN/%' THEN 'Santa Rosa Nueva'
        ELSE 'Desconocido'
    END AS nombre_subestacion,
    s.celda,
    s.fecha_hora,
    s.frecuencia,
    s.pot_aparente,
    s.tens_prom_s,
    t.tension_tap,
    t.pot_instalada,
    -- Columna Lado Izquierdo
    ROUND((s.tens_prom_s / t.tension_tap) * (60 / s.frecuencia) * 100, 2) AS lado_izquierdo,
    -- Columna Lado Derecho (usando potencia instalada)
    ROUND(110 - 5 * (s.pot_aparente / t.pot_instalada), 2) AS lado_derecho,
    -- Columna Comparaci√≥n: 1 si lado_izquierdo > lado_derecho, 0 si no
    CASE 
        WHEN ROUND((s.tens_prom_s / t.tension_tap) * (60 / s.frecuencia) * 100, 2) > 
             ROUND(110 - 5 * (s.pot_aparente / t.pot_instalada), 2)
        THEN 1 
        ELSE 0 
    END AS comparacion,
    s.cod_scada
FROM 
    scada_lectura s
INNER JOIN (
    -- Subconsulta con tensi√≥n tap Y potencia instalada
    SELECT 'Alto Pradera' AS subestacion, 'TRF1' AS circuito, 65.345 AS tension_tap, 50.00 AS pot_instalada
    UNION SELECT 'Asia', 'TRA1', 210.000, 255.00
    UNION SELECT 'Balnearios', 'TRA2', 210.000, 120.00
    UNION SELECT 'Balnearios', 'TRA3', 200.000, 180.00
    UNION SELECT 'Balnearios', 'TRA4', 210.000, 180.00
    UNION SELECT 'Cantera', 'TRA1', 214.000, 25.00
    UNION SELECT 'Manchay', 'TRA1', 220.000, 120.00
    UNION SELECT 'Pachacutec', 'TRA2', 240.022, 50.00
    UNION SELECT 'Progreso', 'TRA1', 240.022, 50.00
    UNION SELECT 'San Bartolo', 'TRF2', 65.345, 25.00
    UNION SELECT 'San Juan', 'TRA1', 210.000, 180.00
    UNION SELECT 'San Juan', 'TRA2', 210.000, 180.00
    UNION SELECT 'San Luis', 'TRA2', 240.022, 50.00
    UNION SELECT 'Santa Rosa Nueva', 'TRA3', 210.000, 120.00
    UNION SELECT 'Santa Rosa Nueva', 'TRA4', 210.000, 120.00
) t ON 
    CASE
        WHEN s.cod_scada LIKE 'ASIA/%' THEN 'Asia'
        WHEN s.cod_scada LIKE 'ALTOPRAD/%' THEN 'Alto Pradera'
        WHEN s.cod_scada LIKE 'BALNEARI/%' THEN 'Balnearios'
        WHEN s.cod_scada LIKE 'SBARTOLO/%' THEN 'San Bartolo'
        WHEN s.cod_scada LIKE 'CANTERA/%' THEN 'Cantera'
        WHEN s.cod_scada LIKE 'MANCHAY/%' THEN 'Manchay'
        WHEN s.cod_scada LIKE 'PACHACUT/%' THEN 'Pachacutec'
        WHEN s.cod_scada LIKE 'PROGRESO/%' THEN 'Progreso'
        WHEN s.cod_scada LIKE 'SANJUAN/%' THEN 'San Juan'
        WHEN s.cod_scada LIKE 'SANLUIS/%' THEN 'San Luis'
        WHEN s.cod_scada LIKE 'SROSAN/%' THEN 'Santa Rosa Nueva'
        ELSE 'Desconocido'
    END = t.subestacion 
    AND s.celda = t.circuito
WHERE 
    s.celda IN ('TRA1','TRA2','TRA3','TRA4','TRA5','TRF1','TRF2','TRF3','TRF4','TRF5')
    AND (
        s.cod_scada LIKE 'ALTOPRAD/60/TRF1' OR
        s.cod_scada LIKE 'ASIA/220/TRA1' OR
        s.cod_scada LIKE 'BALNEARI/220/TRA2' OR
        s.cod_scada LIKE 'BALNEARI/220/TRA3' OR
        s.cod_scada LIKE 'BALNEARI/220/TRA4' OR
        s.cod_scada LIKE 'CANTERA/220/TRA1' OR
        s.cod_scada LIKE 'MANCHAY/220/TRA1' OR
        s.cod_scada LIKE 'PACHACUT/220/TRA2' OR
        s.cod_scada LIKE 'PROGRESO/220/TRA1' OR
        s.cod_scada LIKE 'SBARTOLO/60/TRF2' OR
        s.cod_scada LIKE 'SANJUAN/220/TRA1' OR
        s.cod_scada LIKE 'SANJUAN/220/TRA2' OR
        s.cod_scada LIKE 'SROSAN/220/TRA4%' OR
        s.cod_scada LIKE 'SROSAN/220/TRA3%' OR
        s.cod_scada LIKE 'SANLUIS/220/TRA2'
    )
ORDER BY
    s.fecha_hora DESC;
"""
                         
        # EJECUTAR CONSULTA
        df = pd.read_sql(consulta_sql, connection)
        print(f"‚úÖ Datos extra√≠dos: {len(df)} registros")
        
        # MOSTRAR RESULTADOS
        print("Primeras 5 filas:")
        print(df.head())
        
        # GUARDAR CSV (OPCIONAL)
        # df.to_csv('datos_scada.csv', index=False)
        # print("üíæ Datos guardados en 'datos_scada.csv'")
        
except Exception as e:
    print(f"‚ùå Error: {e}")

print("‚úÖ Proceso completado")

‚úÖ Conexi√≥n a SingleStore establecida correctamente

C:\Users\roquispec\AppData\Local\Temp\ipykernel_26952\2584725490.py:105: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(consulta_sql, connection)

‚úÖ Datos extra√≠dos: 228601 registros
Primeras 5 filas:
  nombre_subestacion celda          fecha_hora  frecuencia  pot_aparente  \
0       Alto Pradera  TRF1 2025-11-06 23:45:00      60.015        39.405
1         Balnearios  TRA4 2025-11-06 23:45:00      59.998        59.074
2         Pachacutec  TRA2 2025-11-06 23:45:00      60.010        12.182
3           Progreso  TRA1 2025-11-06 23:45:00      60.023        23.676
4               Asia  TRA1 2025-11-06 23:45:00      60.014        24.621

   tens_prom_s  tension_tap  pot_instalada  lado_izquierdo  lado_derecho  \
0       64.069       65.345           50.0           98.02        106.06
1      214.981      210.000          180.0          102.38        108.36
2      231.844      240.022           50.0           96.58        108.78
3      232.013      240.022           50.0           96.63        107.63
4      219.832      210.000          255.0          104.66        109.52

   comparacion          cod_scada
0            0   ALTOPRAD/60/TRF1
1            0  BALNEARI/220/TRA4
2            0  PACHACUT/220/TRA2
3            0  PROGRESO/220/TRA1
4            0      ASIA/220/TRA1
‚úÖ Proceso completado

In [58]:
# Renombrar columnas para hacer 'merge'
df = df.rename(columns={'nombre_subestacion': 'SUBESTACION','celda':'CIRCUITO'})
# Eliminar columna cod_scada antes de separarla
df = df.drop(columns=['cod_scada'])
df

,SUBESTACION,CIRCUITO,fecha_hora,frecuencia,pot_aparente,tens_prom_s,tension_tap,pot_instalada,lado_izquierdo,lado_derecho,comparacion
0,Alto Pradera,TRF1,2025-11-06 23:45:00,60.015,39.405,64.069,65.345,50.0,98.02,106.06,0
1,Balnearios,TRA4,2025-11-06 23:45:00,59.998,59.074,214.981,210.000,180.0,102.38,108.36,0
2,Pachacutec,TRA2,2025-11-06 23:45:00,60.010,12.182,231.844,240.022,50.0,96.58,108.78,0
3,Progreso,TRA1,2025-11-06 23:45:00,60.023,23.676,232.013,240.022,50.0,96.63,107.63,0
4,Asia,TRA1,2025-11-06 23:45:00,60.014,24.621,219.832,210.000,255.0,104.66,109.52,0
...,...,...,...,...,...,...,...,...,...,...,...
228596,Cantera,TRA1,2025-06-01 00:00:00,59.980,7.175,227.409,214.000,25.0,106.30,108.57,0
228597,Progreso,TRA1,2025-06-01 00:00:00,60.001,21.864,232.079,240.022,50.0,96.69,107.81,0
228598,San Luis,TRA2,2025-06-01 00:00:00,59.989,8.104,231.442,240.022,50.0,96.44,109.19,0
228599,Manchay,TRA1,2025-06-01 00:00:00,59.953,27.583,231.544,220.000,120.0,105.33,108.85,0
228600,San Juan,TRA1,2025-06-01 00:00:00,59.986,102.367,221.827,210.000,180.0,105.66,107.16,0

### Visualizaci√≥n de subestaciones, as√≠ comprobramos que trafos tienen valores no nulos en frecuencia,pot_aparente,tens_prom_s

In [59]:
subestaciones = df['SUBESTACION'].unique().tolist()
subestaciones

['Alto Pradera',
 'Balnearios',
 'Pachacutec',
 'Progreso',
 'Asia',
 'Cantera',
 'San Luis',
 'Manchay',
 'San Bartolo',
 'San Juan',
 'Santa Rosa Nueva']

In [60]:
# Unir todos los datos de df pero solo la columna SERIE de detalles
df_resultado = pd.merge(df, 
                        detalles[['SUBESTACION', 'CIRCUITO', 'SERIE']], 
                        on=['SUBESTACION', 'CIRCUITO'], 
                        how='inner')
df_resultado["SERIE"] = df_resultado["SERIE"].astype(str)
df_resultado['SERIE'] = df_resultado['SERIE'].astype(str).str.replace(" ", "")

In [61]:
df_resultado.head(30)

,SUBESTACION,CIRCUITO,fecha_hora,frecuencia,pot_aparente,tens_prom_s,tension_tap,pot_instalada,lado_izquierdo,lado_derecho,comparacion,SERIE
0,Alto Pradera,TRF1,2025-11-06 23:45:00,60.015,39.405,64.069,65.345,50.0,98.02,106.06,0,V101038
1,Balnearios,TRA4,2025-11-06 23:45:00,59.998,59.074,214.981,210.000,180.0,102.38,108.36,0,P186248
2,Balnearios,TRA4,2025-11-06 23:45:00,59.998,59.074,214.981,210.000,180.0,102.38,108.36,0,P186249
3,Balnearios,TRA4,2025-11-06 23:45:00,59.998,59.074,214.981,210.000,180.0,102.38,108.36,0,P186250
4,Pachacutec,TRA2,2025-11-06 23:45:00,60.010,12.182,231.844,240.022,50.0,96.58,108.78,0,V163201
5,Progreso,TRA1,2025-11-06 23:45:00,60.023,23.676,232.013,240.022,50.0,96.63,107.63,0,V147105
6,Asia,TRA1,2025-11-06 23:45:00,60.014,24.621,219.832,210.000,255.0,104.66,109.52,0,551873
7,Asia,TRA1,2025-11-06 23:45:00,60.014,24.621,219.832,210.000,255.0,104.66,109.52,0,551875
8,Asia,TRA1,2025-11-06 23:45:00,60.014,24.621,219.832,210.000,255.0,104.66,109.52,0,551874
9,Cantera,TRA1,2025-11-06 23:45:00,60.008,10.096,222.586,214.000,25.0,104.00,107.98,0,185519
10,San Luis,TRA2,2025-11-06 23:45:00,60.015,11.190,230.939,240.022,50.0,96.19,108.88,0,V147106
11,Manchay,TRA1,2025-11-06 23:45:00,59.965,27.111,231.223,220.000,120.0,105.16,108.87,0,V101042
12,Manchay,TRA1,2025-11-06 23:45:00,59.965,27.111,231.223,220.000,120.0,105.16,108.87,0,LP-000473
13,Manchay,TRA1,2025-11-06 23:45:00,59.965,27.111,231.223,220.000,120.0,105.16,108.87,0,LP-000476
14,Balnearios,TRA3,2025-11-06 23:45:00,60.002,58.962,218.704,200.000,180.0,109.35,108.36,1,185634
15,Balnearios,TRA3,2025-11-06 23:45:00,60.002,58.962,218.704,200.000,180.0,109.35,108.36,1,185635
16,Balnearios,TRA3,2025-11-06 23:45:00,60.002,58.962,218.704,200.000,180.0,109.35,108.36,1,185636
17,Balnearios,TRA2,2025-11-06 23:45:00,60.001,42.208,218.349,210.000,120.0,103.97,108.24,0,16625S
18,Balnearios,TRA2,2025-11-06 23:45:00,60.001,42.208,218.349,210.000,120.0,103.97,108.24,0,16631S
19,Balnearios,TRA2,2025-11-06 23:45:00,60.001,42.208,218.349,210.000,120.0,103.97,108.24,0,16627S
20,San Bartolo,TRF2,2025-11-06 23:45:00,59.998,3.054,64.341,65.345,25.0,98.47,109.39,0,750019-01
21,San Juan,TRA1,2025-11-06 23:45:00,60.019,111.663,219.314,210.000,180.0,104.40,106.90,0,1ZBR60816
22,San Juan,TRA1,2025-11-06 23:45:00,60.019,111.663,219.314,210.000,180.0,104.40,106.90,0,1ZBR60817
23,San Juan,TRA1,2025-11-06 23:45:00,60.019,111.663,219.314,210.000,180.0,104.40,106.90,0,1ZBR60818
24,San Juan,TRA2,2025-11-06 23:45:00,60.008,70.618,219.494,210.000,180.0,104.51,108.04,0,185767
25,San Juan,TRA2,2025-11-06 23:45:00,60.008,70.618,219.494,210.000,180.0,104.51,108.04,0,185766
26,San Juan,TRA2,2025-11-06 23:45:00,60.008,70.618,219.494,210.000,180.0,104.51,108.04,0,185765
27,Santa Rosa Nueva,TRA3,2025-11-06 23:45:00,60.000,53.414,220.531,210.000,120.0,105.01,107.77,0,LP-000474
28,Santa Rosa Nueva,TRA3,2025-11-06 23:45:00,60.000,53.414,220.531,210.000,120.0,105.01,107.77,0,LP-000475
29,Santa Rosa Nueva,TRA3,2025-11-06 23:45:00,60.000,53.414,220.531,210.000,120.0,105.01,107.77,0,V101043

### Migraci√≥n de los datos a PostgreSQL

In [62]:
import urllib
from sqlalchemy import create_engine, Date
# Conexi√≥n con SQLAlchemy (MUCHO m√°s simple)
try:
    # Codificar contrase√±a por si tiene caracteres especiales
    password = urllib.parse.quote_plus("delangeluz")
    
    # Crear engine de conexi√≥n
    engine = create_engine(f'postgresql+psycopg2://postgres:{password}@localhost:5432/transformadores')
    
    # Importar directamente el DataFrame a PostgreSQL
    # if_exists='replace' = borra la tabla si existe y crea una nueva
    # index=False = no incluir el √≠ndice del DataFrame como columna
    df_resultado.to_sql('hi_nuc_vex', engine, if_exists='replace', index=False, schema='raw_v2')
    
    print(f"¬°√âxito! {len(df_resultado)} registros importados autom√°ticamente")
    print("La tabla se cre√≥ con las columnas:", list(df_resultado.columns))

except Exception as e:
    print(f"Error: {e}")

¬°√âxito! 502921 registros importados autom√°ticamente
La tabla se cre√≥ con las columnas: ['SUBESTACION', 'CIRCUITO', 'fecha_hora', 'frecuencia', 'pot_aparente', 'tens_prom_s', 'tension_tap', 'pot_instalada', 'lado_izquierdo', 'lado_derecho', 'comparacion', 'SERIE']

In [63]:
# mapeo_subestaciones = {
#     'ASIA': 'Asia',
#     'ALTOPRAD': 'Alto Pradera'
#     'BALNEARI': 'Balnearios',
#     'SBARTOLO':'San Bartolo',
#     'CANTERA': 'Cantera',
#     'MANCHAY': 'Manchay',
#     'PACHACUT': 'Pachacutec',
#     'PROGRESO': 'Progreso',
#     'SANJUAN': 'San Juan',
#     'SANLUIS': 'San Luis',
#     'SROSAN': 'Santa Rosa Nueva',
# }
# df['SUBESTACION'] = df['SUBESTACION'].map(mapeo_subestaciones)
# df