In [14]:
import pandas as pd
import psycopg2
import pymysql
detalles = pd.read_excel(r'C:\Users\roquispec\OneDrive - LUZ DEL SUR S.A.A\Documentos\Estudios de Ingreso\ProyectoRyD_V2\Basededatos\detalles_transformadores.xlsx')

### LA FUENTE DE DATOS POR EL MOMENTO SON EN .xlsx 
### POSTERIORMENTE APUNTAR√Å A LA BASE DE DATOS SINGLESTORE

In [15]:
import pandas as pd
import pymysql

try:
    connection = pymysql.connect(
        host='vpce-01b25de29c6016b7e-i5efd99f.vpce-svc-074a6d8334ec25452.us-east-1.vpce.amazonaws.com',
        user='USU_SS_RO_ROQUISPEC',
        password='9Y8cE%wjd_',
        database='CDC',
        port=3306
    )
    print("‚úÖ Conexi√≥n a SingleStore establecida correctamente")
    
    # CONSULTA SQL PARA EXTRAER DATOS
    consulta_sql = """
SELECT
    CASE
        WHEN s.cod_scada LIKE 'ASIA/%' THEN 'Asia'
        WHEN s.cod_scada LIKE 'ALTOPRAD/%' THEN 'Alto Pradera'
        WHEN s.cod_scada LIKE 'BALNEARI/%' THEN 'Balnearios'
        WHEN s.cod_scada LIKE 'SBARTOLO/%' THEN 'San Bartolo'
        WHEN s.cod_scada LIKE 'CANTERA/%' THEN 'Cantera'
        WHEN s.cod_scada LIKE 'MANCHAY/%' THEN 'Manchay'
        WHEN s.cod_scada LIKE 'PACHACUT/%' THEN 'Pachacutec'
        WHEN s.cod_scada LIKE 'PROGRESO/%' THEN 'Progreso'
        WHEN s.cod_scada LIKE 'SANJUAN/%' THEN 'San Juan'
        WHEN s.cod_scada LIKE 'SANLUIS/%' THEN 'San Luis'
        WHEN s.cod_scada LIKE 'SROSAN/%' THEN 'Santa Rosa Nueva'
        ELSE 'Desconocido'
    END AS nombre_subestacion,
    s.celda,
    s.fecha_hora,
    s.frecuencia,
    s.pot_aparente,
    s.tens_prom_s,
    t.tension_tap,
    t.pot_instalada,
    -- Columna Lado Izquierdo
    ROUND((s.tens_prom_s / t.tension_tap) * (60 / s.frecuencia) * 100, 2) AS lado_izquierdo,
    -- Columna Lado Derecho (usando potencia instalada)
    ROUND(110 - 5 * (s.pot_aparente / t.pot_instalada), 2) AS lado_derecho,
    -- Columna Comparaci√≥n: 1 si lado_izquierdo > lado_derecho, 0 si no
    CASE 
        WHEN ROUND((s.tens_prom_s / t.tension_tap) * (60 / s.frecuencia) * 100, 2) > 
             ROUND(110 - 5 * (s.pot_aparente / t.pot_instalada), 2) 
        THEN 1 
        ELSE 0 
    END AS comparacion,
    s.cod_scada
FROM 
    scada_lectura s
INNER JOIN (
    -- Subconsulta con tensi√≥n tap Y potencia instalada
    SELECT 'Alto Pradera' AS subestacion, 'TRF1' AS circuito, 65.345 AS tension_tap, 50.00 AS pot_instalada
    UNION SELECT 'Asia', 'TRA1', 210.000, 255.00
    UNION SELECT 'Balnearios', 'TRA2', 210.000, 120.00
    UNION SELECT 'Balnearios', 'TRA3', 200.000, 180.00
    UNION SELECT 'Balnearios', 'TRA4', 210.000, 180.00
    UNION SELECT 'Cantera', 'TRA1', 214.000, 25.00
    UNION SELECT 'Manchay', 'TRA1', 220.000, 120.00
    UNION SELECT 'Pachacutec', 'TRA2', 240.022, 50.00
    UNION SELECT 'Progreso', 'TRA1', 240.022, 50.00
    UNION SELECT 'San Bartolo', 'TRF2', 65.345, 25.00
    UNION SELECT 'San Juan', 'TRA1', 210.000, 180.00
    UNION SELECT 'San Juan', 'TRA2', 210.000, 180.00
    UNION SELECT 'San Luis', 'TRA2', 240.022, 50.00
    UNION SELECT 'Santa Rosa Nueva', 'TRA3', 210.000, 120.00
    UNION SELECT 'Santa Rosa Nueva', 'TRA4', 210.000, 120.00
) t ON 
    CASE
        WHEN s.cod_scada LIKE 'ASIA/%' THEN 'Asia'
        WHEN s.cod_scada LIKE 'ALTOPRAD/%' THEN 'Alto Pradera'
        WHEN s.cod_scada LIKE 'BALNEARI/%' THEN 'Balnearios'
        WHEN s.cod_scada LIKE 'SBARTOLO/%' THEN 'San Bartolo'
        WHEN s.cod_scada LIKE 'CANTERA/%' THEN 'Cantera'
        WHEN s.cod_scada LIKE 'MANCHAY/%' THEN 'Manchay'
        WHEN s.cod_scada LIKE 'PACHACUT/%' THEN 'Pachacutec'
        WHEN s.cod_scada LIKE 'PROGRESO/%' THEN 'Progreso'
        WHEN s.cod_scada LIKE 'SANJUAN/%' THEN 'San Juan'
        WHEN s.cod_scada LIKE 'SANLUIS/%' THEN 'San Luis'
        WHEN s.cod_scada LIKE 'SROSAN/%' THEN 'Santa Rosa Nueva'
        ELSE 'Desconocido'
    END = t.subestacion 
    AND s.celda = t.circuito
WHERE 
    s.celda IN ('TRA1','TRA2','TRA3','TRA4','TRA5','TRF1','TRF2','TRF3','TRF4','TRF5')
    AND (
        s.cod_scada LIKE 'ALTOPRAD/60/TRF1' OR
        s.cod_scada LIKE 'ASIA/220/TRA1' OR
        s.cod_scada LIKE 'BALNEARI/220/TRA2' OR
        s.cod_scada LIKE 'BALNEARI/220/TRA3' OR
        s.cod_scada LIKE 'BALNEARI/220/TRA4' OR
        s.cod_scada LIKE 'CANTERA/220/TRA1' OR
        s.cod_scada LIKE 'MANCHAY/220/TRA1' OR
        s.cod_scada LIKE 'PACHACUT/220/TRA2' OR
        s.cod_scada LIKE 'PROGRESO/220/TRA1' OR
        s.cod_scada LIKE 'SBARTOLO/60/TRF2' OR
        s.cod_scada LIKE 'SANJUAN/220/TRA1' OR
        s.cod_scada LIKE 'SANJUAN/220/TRA2' OR
        s.cod_scada LIKE 'SROSAN/220/TRA4%' OR
        s.cod_scada LIKE 'SROSAN/220/TRA3%' OR
        s.cod_scada LIKE 'SANLUIS/220/TRA2'
    )
ORDER BY
    s.fecha_hora DESC;
    """
    
    # Ejecutar consulta y cargar en DataFrame
    df = pd.read_sql(consulta_sql, connection)
    print(f"‚úÖ Datos extra√≠dos: {len(df)} registros")
    
    # Mostrar primeras filas
    print(df.head())
    
    # Guardar como CSV si necesitas
    # df.to_csv('datos_extraidos.csv', index=False)
    
except pymysql.Error as e:
    print(f"‚ùå Error de conexi√≥n a SingleStore: {e}")
    
except Exception as e:
    print(f"‚ùå Error inesperado: {e}")
    
finally:
    if 'connection' in locals() and connection.open:
        connection.close()
        print("üîí Conexi√≥n cerrada")

‚úÖ Conexi√≥n a SingleStore establecida correctamente

C:\Users\roquispec\AppData\Local\Temp\ipykernel_8348\274176350.py:109: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(consulta_sql, connection)

‚úÖ Datos extra√≠dos: 214201 registros
  nombre_subestacion celda          fecha_hora  frecuencia  pot_aparente  \
0               Asia  TRA1 2025-10-27 23:45:00      60.038        25.337
1            Cantera  TRA1 2025-10-27 23:45:00      60.001         9.360
2   Santa Rosa Nueva  TRA4 2025-10-27 23:45:00      59.996        64.550
3           San Juan  TRA2 2025-10-27 23:45:00      60.011        67.619
4         Pachacutec  TRA2 2025-10-27 23:45:00      60.006        11.885

   tens_prom_s  tension_tap  pot_instalada  lado_izquierdo  lado_derecho  \
0      221.015      210.000          255.0          105.18        109.50
1      223.573      214.000           25.0          104.47        108.13
2      221.439      210.000          120.0          105.45        107.31
3      220.619      210.000          180.0          105.04        108.12
4      230.904      240.022           50.0           96.19        108.81

   comparacion          cod_scada
0            0      ASIA/220/TRA1
1            0   CANTERA/220/TRA1
2            0    SROSAN/220/TRA4
3            0   SANJUAN/220/TRA2
4            0  PACHACUT/220/TRA2
üîí Conexi√≥n cerrada

In [16]:
df

,nombre_subestacion,celda,fecha_hora,frecuencia,pot_aparente,tens_prom_s,tension_tap,pot_instalada,lado_izquierdo,lado_derecho,comparacion,cod_scada
0,Asia,TRA1,2025-10-27 23:45:00,60.038,25.337,221.015,210.000,255.0,105.18,109.50,0,ASIA/220/TRA1
1,Cantera,TRA1,2025-10-27 23:45:00,60.001,9.360,223.573,214.000,25.0,104.47,108.13,0,CANTERA/220/TRA1
2,Santa Rosa Nueva,TRA4,2025-10-27 23:45:00,59.996,64.550,221.439,210.000,120.0,105.45,107.31,0,SROSAN/220/TRA4
3,San Juan,TRA2,2025-10-27 23:45:00,60.011,67.619,220.619,210.000,180.0,105.04,108.12,0,SANJUAN/220/TRA2
4,Pachacutec,TRA2,2025-10-27 23:45:00,60.006,11.885,230.904,240.022,50.0,96.19,108.81,0,PACHACUT/220/TRA2
...,...,...,...,...,...,...,...,...,...,...,...,...
214196,San Juan,TRA1,2025-06-01 00:00:00,59.986,102.367,221.827,210.000,180.0,105.66,107.16,0,SANJUAN/220/TRA1
214197,Pachacutec,TRA2,2025-06-01 00:00:00,59.985,12.580,231.926,240.022,50.0,96.65,108.74,0,PACHACUT/220/TRA2
214198,San Juan,TRA2,2025-06-01 00:00:00,59.984,61.714,222.021,210.000,180.0,105.75,108.29,0,SANJUAN/220/TRA2
214199,Balnearios,TRA4,2025-06-01 00:00:00,59.972,55.015,217.528,210.000,180.0,103.63,108.47,0,BALNEARI/220/TRA4
214200,Progreso,TRA1,2025-06-01 00:00:00,60.001,21.864,232.079,240.022,50.0,96.69,107.81,0,PROGRESO/220/TRA1

In [17]:
df = df.rename(columns={'nombre_subestacion': 'SUBESTACION','celda':'CIRCUITO'})
df

,SUBESTACION,CIRCUITO,fecha_hora,frecuencia,pot_aparente,tens_prom_s,tension_tap,pot_instalada,lado_izquierdo,lado_derecho,comparacion,cod_scada
0,Asia,TRA1,2025-10-27 23:45:00,60.038,25.337,221.015,210.000,255.0,105.18,109.50,0,ASIA/220/TRA1
1,Cantera,TRA1,2025-10-27 23:45:00,60.001,9.360,223.573,214.000,25.0,104.47,108.13,0,CANTERA/220/TRA1
2,Santa Rosa Nueva,TRA4,2025-10-27 23:45:00,59.996,64.550,221.439,210.000,120.0,105.45,107.31,0,SROSAN/220/TRA4
3,San Juan,TRA2,2025-10-27 23:45:00,60.011,67.619,220.619,210.000,180.0,105.04,108.12,0,SANJUAN/220/TRA2
4,Pachacutec,TRA2,2025-10-27 23:45:00,60.006,11.885,230.904,240.022,50.0,96.19,108.81,0,PACHACUT/220/TRA2
...,...,...,...,...,...,...,...,...,...,...,...,...
214196,San Juan,TRA1,2025-06-01 00:00:00,59.986,102.367,221.827,210.000,180.0,105.66,107.16,0,SANJUAN/220/TRA1
214197,Pachacutec,TRA2,2025-06-01 00:00:00,59.985,12.580,231.926,240.022,50.0,96.65,108.74,0,PACHACUT/220/TRA2
214198,San Juan,TRA2,2025-06-01 00:00:00,59.984,61.714,222.021,210.000,180.0,105.75,108.29,0,SANJUAN/220/TRA2
214199,Balnearios,TRA4,2025-06-01 00:00:00,59.972,55.015,217.528,210.000,180.0,103.63,108.47,0,BALNEARI/220/TRA4
214200,Progreso,TRA1,2025-06-01 00:00:00,60.001,21.864,232.079,240.022,50.0,96.69,107.81,0,PROGRESO/220/TRA1

In [18]:
# Eliminar columna cod_scada antes de separarla
df = df.drop(columns=['cod_scada'])
df

,SUBESTACION,CIRCUITO,fecha_hora,frecuencia,pot_aparente,tens_prom_s,tension_tap,pot_instalada,lado_izquierdo,lado_derecho,comparacion
0,Asia,TRA1,2025-10-27 23:45:00,60.038,25.337,221.015,210.000,255.0,105.18,109.50,0
1,Cantera,TRA1,2025-10-27 23:45:00,60.001,9.360,223.573,214.000,25.0,104.47,108.13,0
2,Santa Rosa Nueva,TRA4,2025-10-27 23:45:00,59.996,64.550,221.439,210.000,120.0,105.45,107.31,0
3,San Juan,TRA2,2025-10-27 23:45:00,60.011,67.619,220.619,210.000,180.0,105.04,108.12,0
4,Pachacutec,TRA2,2025-10-27 23:45:00,60.006,11.885,230.904,240.022,50.0,96.19,108.81,0
...,...,...,...,...,...,...,...,...,...,...,...
214196,San Juan,TRA1,2025-06-01 00:00:00,59.986,102.367,221.827,210.000,180.0,105.66,107.16,0
214197,Pachacutec,TRA2,2025-06-01 00:00:00,59.985,12.580,231.926,240.022,50.0,96.65,108.74,0
214198,San Juan,TRA2,2025-06-01 00:00:00,59.984,61.714,222.021,210.000,180.0,105.75,108.29,0
214199,Balnearios,TRA4,2025-06-01 00:00:00,59.972,55.015,217.528,210.000,180.0,103.63,108.47,0
214200,Progreso,TRA1,2025-06-01 00:00:00,60.001,21.864,232.079,240.022,50.0,96.69,107.81,0

In [6]:
subestaciones = df['SUBESTACION'].unique().tolist()
subestaciones

['ASIA',
 'BALNEARI',
 'CANTERA',
 'MANCHAY',
 'PACHACUT',
 'PROGRESO',
 'SANJUAN',
 'SANLUIS',
 'SROSAN']

In [19]:
# Unir todos los datos de df pero solo la columna SERIE de detalles
df_resultado = pd.merge(df, 
                        detalles[['SUBESTACION', 'CIRCUITO', 'SERIE']], 
                        on=['SUBESTACION', 'CIRCUITO'], 
                        how='inner')

In [23]:
df_resultado.head(30)

,SUBESTACION,CIRCUITO,fecha_hora,frecuencia,pot_aparente,tens_prom_s,tension_tap,pot_instalada,lado_izquierdo,lado_derecho,comparacion,SERIE
0,Asia,TRA1,2025-10-27 23:45:00,60.038,25.337,221.015,210.000,255.0,105.18,109.50,0,551873
1,Asia,TRA1,2025-10-27 23:45:00,60.038,25.337,221.015,210.000,255.0,105.18,109.50,0,551875
2,Asia,TRA1,2025-10-27 23:45:00,60.038,25.337,221.015,210.000,255.0,105.18,109.50,0,551874
3,Cantera,TRA1,2025-10-27 23:45:00,60.001,9.360,223.573,214.000,25.0,104.47,108.13,0,185519
4,Santa Rosa Nueva,TRA4,2025-10-27 23:45:00,59.996,64.550,221.439,210.000,120.0,105.45,107.31,0,59571
5,Santa Rosa Nueva,TRA4,2025-10-27 23:45:00,59.996,64.550,221.439,210.000,120.0,105.45,107.31,0,59572
6,Santa Rosa Nueva,TRA4,2025-10-27 23:45:00,59.996,64.550,221.439,210.000,120.0,105.45,107.31,0,59573
7,San Juan,TRA2,2025-10-27 23:45:00,60.011,67.619,220.619,210.000,180.0,105.04,108.12,0,185767
8,San Juan,TRA2,2025-10-27 23:45:00,60.011,67.619,220.619,210.000,180.0,105.04,108.12,0,185766
9,San Juan,TRA2,2025-10-27 23:45:00,60.011,67.619,220.619,210.000,180.0,105.04,108.12,0,185765
10,Pachacutec,TRA2,2025-10-27 23:45:00,60.006,11.885,230.904,240.022,50.0,96.19,108.81,0,V163201
11,San Bartolo,TRF2,2025-10-27 23:45:00,59.995,3.274,64.831,65.345,25.0,99.22,109.35,0,750019-01
12,San Juan,TRA1,2025-10-27 23:45:00,60.007,107.999,220.266,210.000,180.0,104.88,107.00,0,1ZBR60816
13,San Juan,TRA1,2025-10-27 23:45:00,60.007,107.999,220.266,210.000,180.0,104.88,107.00,0,1ZBR60817
14,San Juan,TRA1,2025-10-27 23:45:00,60.007,107.999,220.266,210.000,180.0,104.88,107.00,0,1ZBR60818
15,Progreso,TRA1,2025-10-27 23:45:00,60.011,23.073,231.102,240.022,50.0,96.27,107.69,0,V147105
16,Balnearios,TRA4,2025-10-27 23:45:00,59.990,57.611,216.103,210.000,180.0,102.92,108.40,0,P186248
17,Balnearios,TRA4,2025-10-27 23:45:00,59.990,57.611,216.103,210.000,180.0,102.92,108.40,0,P186249
18,Balnearios,TRA4,2025-10-27 23:45:00,59.990,57.611,216.103,210.000,180.0,102.92,108.40,0,P186250
19,San Luis,TRA2,2025-10-27 23:45:00,60.008,10.725,230.132,240.022,50.0,95.87,108.93,0,V147106
20,Alto Pradera,TRF1,2025-10-27 23:45:00,60.008,38.517,64.451,65.345,50.0,98.62,106.15,0,V101038
21,Manchay,TRA1,2025-10-27 23:45:00,59.951,25.574,230.368,220.000,120.0,104.80,108.93,0,V101042
22,Manchay,TRA1,2025-10-27 23:45:00,59.951,25.574,230.368,220.000,120.0,104.80,108.93,0,LP-000473
23,Manchay,TRA1,2025-10-27 23:45:00,59.951,25.574,230.368,220.000,120.0,104.80,108.93,0,LP-000476
24,Santa Rosa Nueva,TRA3,2025-10-27 23:45:00,60.001,67.873,221.010,210.000,120.0,105.24,107.17,0,LP-000474
25,Santa Rosa Nueva,TRA3,2025-10-27 23:45:00,60.001,67.873,221.010,210.000,120.0,105.24,107.17,0,LP-000475
26,Santa Rosa Nueva,TRA3,2025-10-27 23:45:00,60.001,67.873,221.010,210.000,120.0,105.24,107.17,0,V101043
27,Balnearios,TRA3,2025-10-27 23:45:00,59.992,54.775,219.744,200.000,180.0,109.89,108.48,1,185634
28,Balnearios,TRA3,2025-10-27 23:45:00,59.992,54.775,219.744,200.000,180.0,109.89,108.48,1,185635
29,Balnearios,TRA3,2025-10-27 23:45:00,59.992,54.775,219.744,200.000,180.0,109.89,108.48,1,185636

In [ ]:
import urllib
from sqlalchemy import create_engine, Date
# Conexi√≥n con SQLAlchemy (MUCHO m√°s simple)
try:
    # Codificar contrase√±a por si tiene caracteres especiales
    password = urllib.parse.quote_plus("delangeluz")
    
    # Crear engine de conexi√≥n
    engine = create_engine(f'postgresql+psycopg2://postgres:{password}@localhost:5432/transformadores')
    
    # Importar directamente el DataFrame a PostgreSQL
    # if_exists='replace' = borra la tabla si existe y crea una nueva
    # index=False = no incluir el √≠ndice del DataFrame como columna
    df_resultado.to_sql('hi_nuc_vex', engine, if_exists='replace', index=False, schema='raw_v2')
    
    print(f"¬°√âxito! {len(df_resultado)} registros importados autom√°ticamente")
    print("La tabla se cre√≥ con las columnas:", list(df_resultado.columns))

except Exception as e:
    print(f"Error: {e}")

¬°√âxito! 471241 registros importados autom√°ticamente
La tabla se cre√≥ con las columnas: ['SUBESTACION', 'CIRCUITO', 'fecha_hora', 'frecuencia', 'pot_aparente', 'tens_prom_s', 'tension_tap', 'pot_instalada', 'lado_izquierdo', 'lado_derecho', 'comparacion', 'SERIE']

In [ ]:
# mapeo_subestaciones = {
#     'ASIA': 'Asia',
#     'ALTOPRAD': 'Alto Pradera'
#     'BALNEARI': 'Balnearios',
#     'SBARTOLO':'San Bartolo',
#     'CANTERA': 'Cantera',
#     'MANCHAY': 'Manchay',
#     'PACHACUT': 'Pachacutec',
#     'PROGRESO': 'Progreso',
#     'SANJUAN': 'San Juan',
#     'SANLUIS': 'San Luis',
#     'SROSAN': 'Santa Rosa Nueva',
# }
# df['SUBESTACION'] = df['SUBESTACION'].map(mapeo_subestaciones)
# df